[2020-07-13 09:51] clemensutschig commented on #512
@michaelsauter  @metmajer  @georgfedermann

[2020-07-13 10:03] stitakis commented on #512
@clemensutschig the request sends to the webhook-proxy built in ProvApp includes `jenkinsfile_path=delete-projects/Jenkinsfile`

`delete-projects/Jenkinsfile` is the correct Jenkinsfile to be called, or?

[2020-07-13 11:33] clemensutschig commented on #512
"https://webhook-proxy-ods.ocp.odsbox.lan/**build**" is for sure wrong... this is a create call ...

[2020-07-13 12:27] clemensutschig commented on #512
hmmm - the longer I think about it - and looking into
https://github.com/opendevstack/ods-core/blob/master/jenkins/webhook-proxy/main.go#L319

I think this is a webhook proxy topic ... the test we are using tries to delete the project first and then creates it - if I take a look into the code base of the webhook proxy - the pipeline name is twice the same - so on the second attempt - the first one

[2020-07-14 07:40] stitakis opened #513 "add provision quickstarter sample script to the documentation"
We have a sample script that shows how to provision a project using REST API and Basic Auth.
We should add a sample script that shows how to provision a quickstarter as well.

[2020-07-14 08:09] martsec commented on #151
@segator ?

[2020-07-14 08:59] stitakis commented on #452
@michaelsauter @clemensutschig this is a feature request comming from BI. The EDP plugin will/have a REST API endpoint that allows to set properties. I haven't heard nothing about this in that last week. I'll move this item to OpenDevStack 4... agree?

[2020-07-14 09:00] stitakis commented on #434
@michaelsauter @clemensutschig @segator due lack of time I'll not able to finish it in ODS 3.x, I'll move it to ODS 4.x, agree?

[2020-07-14 09:03] stitakis commented on #151
@segator @martsec due lack of time, I'll not be able to finish this for ODS 3.x before my holiday. Thou I have a branch that I could push if someone want to continue. I propose to descope this item from ODS 3.x, agree?

[2020-07-14 09:16] stitakis opened #514 "unknown exception (e.g. existing JIRA project) raised in REST create project endpoint / addProject causes removal of existing projects"
Incomplete provisioned projects are cleaned up in case of exception in the create project endpoint.
However, when a project do not exists in local storage, current implementation triggers an exception when it tries to create a project e.g. in Bitbucket.
This causes the execution of the cleanup and removal an existing project in atlassian servers and openshift.

Proposed solution:
- only allow to c

[2020-07-14 09:47] sino92 opened #515 "check/uncheck project cd user box disables starting provision"
Can no longer provision a new project after clicking project specific cd user, even after unclicking it.

[2020-07-14 10:29] metmajer commented on #452
@stitakis you should rather double check with @martsec if you haven’t already...

[2020-07-14 10:35] michaelsauter commented on #434
Fine by me.

[2020-07-14 10:36] michaelsauter commented on #151
Fine by me.

[2020-07-14 10:41] metmajer commented on #151
@stitakis if I recall correctly, this is causing daily issues. If that’s true, let’s pick it up when you’re back and we Release with ODS 3.1 in September @martsec

[2020-07-14 10:42] metmajer commented on #434
Let’s pick it up when you’re back and we shoot for releasing with ODS 3.1 in September @martsec

[2020-07-14 11:38] sino92 opened #516 "Add project specific cd user after for generating new components"
Creation of new project with a project-specific-cd-user is a bit clumsy as prov-app doesn't communicate with Crowd or AD to create one in real time. For AD, I assume there can't be instant feedback and response to create a new technical user anyway.
As a result of this lag, there can be a use case where project specific cd user is created after the project is already generated.

It would save deve

[2020-07-14 12:49] stitakis opened #518 "Provide modern SPA user interface to improve UX"

[2020-07-14 14:06] michaelsauter commented on #516
Right now there can only be one "cd_user" per project (foo-cd namespace). Do you suggest to change that when generating a new component, or is your suggestion to have multiple "cd_user"s per project?

[2020-07-14 15:34] stitakis commented on #151
@martsec @metmajer my goal is to finish this one as soon as possible. As I commented above I have a WIP branch that partially solves this issue. Unfortunatelly it turned out to be more complex and requires a bit more work. I need feedback from @segator to be able to continue on this. Agree, we should schedule this one for ODS 3.1/September.

[2020-07-14 15:36] stitakis commented on #452
@martsec I forgot to include you on this thread. My apologies. I guess, we should schedule this item for ODS 3.1/September, right?

[2020-07-15 07:14] sino92 commented on #516
Sorry, a correction for above... I meant to say switching from global cd user to a project specific one, not adding a new one. So saving the developer time to change related resources:
- changing OC username/secret
- changing the user in project repo
- adding a new user to opendevstack quickstarters and jenkins shared lib repos

[2020-07-15 07:33] #513 closed

[2020-07-15 10:00] michaelsauter commented on #516
FYI

that was - at the time - a conscious design decision. We intentionally kept the password out of ODS altogether, and we also avoided integrating ODS with the "user management process" (as that can differ a lot between companies). So unless we give that up, changing the secret manually is painful, but the most secure option right now.

[2020-07-16 10:42] stitakis commented on #404
@martsec
adding project type template as parameter in the configuration will not fully make project type configurable.
Other additional properties are required to configure a project type.
For this reason this will require a bit more thought about how to make project type fully configurable with parameters.
I'll propose to move this to September2020 milestone.

[2020-07-16 11:24] martsec commented on #404
I don't see how tailor fits into Atlassian project provisioning. Do you mean the configuration used to deploy the prov-app?

[2020-07-16 11:39] sino92 commented on #516
Hm makes sense as a design decision. Then maybe we can add some documentation around which places need change in case someone need to change their cd user in the middle of the project. What do you think?

[2020-07-16 12:00] michaelsauter commented on #516
Yes that would be great!

[2020-07-16 12:10] stitakis commented on #337
@oalyman this was done for ODS 3.x. I'll close it. Please reopen if I'm wrong!

[2020-07-16 12:10] #337 closed

[2020-07-16 12:19] stitakis commented on #404
Yes, I mean the configmap definition used by the deployment configuration of ProvApp -> the prov-app configuration is defined in ods-core project and it is located in the file `ods-provisioning-app/ods-config/cm.yml`. Jira project templates properties are defined there.

[2020-07-16 13:43] stitakis commented on #351
an update on this... so far, I was not able to reproduce... I'll investigate a bit more

[2020-07-16 14:52] netzartist commented on #518
The current UI lacks a good usability which leads to misuse especially for non-technical users and requires extra caretaking when entering/editing data.

**Main goals:**

- Improve the overall user experience incorporating latest usability best practices
- Provide a modern tech stack to allow long-term maintainability and keep high code-quality

**The new UI layout** consists of a:

- Sidebar to q

[2020-07-20 14:38] #518 closed

[2020-07-20 20:41] netzartist opened #527 "Refactor error handling"
- Centralize error types
- Map http code numbers to enums
- Manage app-specific error codes

Related:
- https://medium.com/angular-in-depth/expecting-the-unexpected-best-practices-for-error-handling-in-angular-21c3662ef9e4
- https://github.com/prettymuchbryce/http-status-codes/blob/master/index.d.ts
- https://blog.angular-university.io/rxjs-error-handling/
- https://dev.to/buildmotion/angular-erro

[2020-07-20 20:58] netzartist opened #528 "About page"
The current About page has different purposes like showing a kind of changelog and user profile information.

What should be displayed on the new page (within the SPA) ?

The new page could basically display the same kind of data - completed by some "real" about text from the [documentation](https://www.opendevstack.org/ods-documentation/opendevstack/3.x/provisioning-app/index.html) because users

[2020-07-20 21:00] netzartist opened #529 "Optimize perceived performance on app init"
https://blog.angular-university.io/angular-app-shell/

[2020-07-20 21:03] netzartist opened #530 "Unittest 'new project'"

[2020-07-20 21:04] netzartist opened #531 "Unittest loading indicator"

[2020-07-20 21:04] netzartist opened #532 "Unittest project module"

[2020-07-20 21:05] netzartist opened #533 "Unittest quickstarter service"

[2020-07-20 21:05] netzartist opened #534 "Unittest project page"

[2020-07-20 21:05] netzartist opened #535 "Unittest quickstarter add"

[2020-07-20 21:06] netzartist opened #536 "Unittest sidebar"

[2020-07-20 21:07] netzartist opened #537 "Update client README"

[2020-07-20 21:09] netzartist opened #538 "Fix typography issues in layout theme"

[2020-07-20 21:40] netzartist opened #539 "Replace Spectator unit test framework by Angular Testbed default"
... because from my experience with the SPA implementations https://github.com/ngneat/spectator still lacks detailed documentation - and it's easier for contributors to follow the "Angular way".

[2020-07-21 07:28] sino92 opened #540 "Shared lib Pod Label definition restricts number of chars for component-id"
**Is your feature request related to a problem? Please describe.**
https://github.com/opendevstack/ods-jenkins-shared-library/blob/master/src/org/ods/quickstarter/Pipeline.groovy#L131 can be a max of 64 characters. Otherwise you'd see an error like
[code]

**Describe the solution you'd like**
Make it clear in the UI how many characters are left. This should easily be possible as we have access to

[2020-07-21 09:37] michaelsauter commented on #540
We could also just make it unique, like using a UUID? I think we do that for the component pipeline. What do you think?

[2020-07-21 10:23] sino92 commented on #540
I thought it was a conscious decision that the pod labels are named as `quickstarter-...` or `mro-jenkins-agent-...`.
I like the idea to use UUID even better, alleviates the stress of making changes other places.

[2020-07-21 13:16] michaelsauter commented on #351
As it hasn't been updated, I'm moving to v4.

[2020-07-21 13:18] michaelsauter commented on #514
Maybe related to #351.

Moving to v4 as it hasn't been updated.

[2020-07-23 13:19] clemensutschig opened #547 "delete components api does not remove deleted components from projects storage"
**Describe the bug**
In case a component is deleted from a project thru the delete components endpoint https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/controller/ProjectApiController.java#L864

The project storage is not updated ... which lead to downstream errors.

**To Reproduce**
run release manager test () multiple times - and see the r

[2020-07-24 10:11] #531 closed

[2020-07-27 07:14] #547 closed

[2020-07-27 08:20] michaelsauter commented on #521
It turns out we don't have the project key handy for that validation. The component key is now covered by the fix in Tailor mentioned above.

[2020-07-27 08:20] #521 closed

[2020-07-27 08:22] netzartist opened #549 "Not possible to add new component in an non OpenShift project"
**Describe the bug**
Given a new project is provisioned without OpenShift option, adding a new component always results in an error:

`FOOPROJECT cannot be upgraded to openshift usage`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project with "Create OpenShift projects" option not checked
2. After creation, choose 'Modify Project'
3. Add a new component with a vaild name
4. See e

[2020-07-27 08:23] #537 closed

[2020-07-27 08:24] clemensutschig commented on #549
That is very intended... We schuld Not even show the possibilty if its a
non openshift Project.. the Flag is called PlatformRuntime i think

Jan Deppisch <notifications@github.com> schrieb am Mo., 27. Juli 2020,
10:22:

[2020-07-27 08:26] michaelsauter commented on #549
@netzartist Some only want the Atlassian suite, no OpenShift. For example, you might develop against AWS or so.

[2020-07-27 08:34] netzartist opened #550 "Disable 'add new component' inputs on non OpenShift projects"
Initiated by #549

[2020-07-27 08:34] netzartist commented on #549
@clemensutschig @michaelsauter Ok, thx, then I'll disable the inputs in this case.

[2020-07-27 08:34] #549 closed

[2020-07-28 06:05] netzartist opened #552 "Add client CODEOWNER"

[2020-07-28 07:25] #552 closed

[2020-07-28 07:28] #536 closed

[2020-07-29 09:19] #550 closed

[2020-07-31 09:06] netzartist opened #556 "Quickstarter list in Safari not scrollable"

[2020-07-31 09:12] #556 closed

[2020-07-31 11:45] #538 closed

[2020-07-31 21:21] clemensutschig commented on #514
This is dort of intended.. if someone removes History..  how are we supposed to know? Ill dig tmrw into this and try to understand it

[2020-08-01 09:12] clemensutschig commented on #351
I very much doubt that a call to `updateProject` can cause project removal (it calls `cleanup(LIFECYCLE_STAGE.QUICKSTARTER_PROVISION, updatedProject)`) internally which only goes after repositories.

[2020-08-01 09:12] #351 closed

[2020-08-01 09:30] clemensutschig commented on #514
Quick update - we could .. ? ... check if the project in jira exists, and if so - let go .. this is pretty surgical _ but again, as all projects should be created thru the prov app - I think this is a pretty extreme cornercase - especially given that we very if the key exists if you go via the UI - so this can only happen in the case of using the REST API ..

@michaelsauter  - thougts?

[2020-08-03 06:40] michaelsauter commented on #514
@clemensutschig I like that idea.

Long-term, I'm not sure if the history of the prov app should be so important. I think we now have two pretty common use cases which suffer from this "history as source of truth" approach:

* Migrating projects to another cluster - the prov app in the target cluster does not know about the migrated project, so people cannot provision quickstarters
* Multiple ODS

[2020-08-03 06:49] #514 closed

[2020-08-04 10:28] netzartist opened #562 "Optimize usage of Atlassian logo marks in SPA"

[2020-08-04 21:43] #530 closed

[2020-08-05 08:10] netzartist commented on #535
Closed due to same reasons like https://github.com/opendevstack/ods-provisioning-app/pull/564#issue-462875004: All functionality in this component should be covered in E2E tests or through unit tests of services this component uses.

[2020-08-05 08:10] #535 closed

[2020-08-05 09:25] jssnull opened #565 "wrong name format in ods component creation at ods jira projects"
**Describe the bug**
In an ods project we’ve been testing to create a quickstarter using provisioning app,
For example, if we use the MYPROJECT project and we deploy a quickstarter called python-flask-myproject (using the project key of our ods project in our new app name),
As we can see in the image this application will be created with the name given in bitbucket.
<img width="439" alt="bitbucket

[2020-08-05 09:32] clemensutschig commented on #565
https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/services/JiraAdapter.java#L517

Is the curlprit... want to submit a pr.. ? You could just replace the first hit.. which is the prefix project

[2020-08-05 10:04] jssnull commented on #565
Hi,
at the moment I don't have an OpenDevStack development environment with a prov-app instance for testing that change before sending a PR

The PR could be made by anyone else?

Best Regards

[2020-08-05 16:28] netzartist opened #566 "Acknowledge OS brightness settings in SPA ;)"

[2020-08-06 06:54] #565 closed

[2020-08-06 15:26] #562 closed

[2020-08-06 15:27] #566 closed

[2020-08-10 11:18] netzartist commented on #532
No need to unit test a module. The containing project service already has tests.

[2020-08-10 11:18] #532 closed

[2020-08-11 13:06] stitakis commented on #486
I took a look at all logging debug statements in the code. I haven't found any additional statement that reveals sensible details in logging debug level. Therefore I'll rename this item to "logging in debug mode show too much jwt details".

[2020-08-11 13:47] stitakis commented on #431
@martsec @metmajer when I created this github issue I thought we need to implement an endpoint that provide a list of available quickstarters. Actually I was wrong. The class `QuickstarterApiController.java` exposes the endpoint `api/v1/quickstarter`. So far all 3 endpoints including this one requested by Alan are implemented already.

[2020-08-11 13:47] #431 closed

[2020-08-11 13:49] stitakis opened #572 "improve authorization of quickstarter endpoint"

[2020-08-11 13:51] stitakis commented on #572
@martsec fyi

[2020-08-11 14:27] stitakis commented on #431
@alanbort fyi

[2020-08-12 11:41] metmajer commented on #431
@stitakis @alanbort @martsec consider that every Quickstarter contains a metadata.yml file with descriptive data. Can you serve this data through the endpoint?

[2020-08-12 14:37] sino92 opened #577 "Remove global cd user and make project specific cd user default"
Global cd user has two big downsides:
- security
- reliability: If one changes the password for the user then other projects that use it are affected by it
@michaelsauter @stitakis

A reminder that with specific cd user, the user will have to modify Openshift project secret for cd user manually. A small effort for a bigger win.

[2020-08-12 14:55] clemensutschig commented on #577
@sino92  - what is this, a doc issue, or?

[2020-08-12 15:05] sino92 commented on #577
Actual implementation/enhancement. We can also discourage the use of global cd user in docs of major ODS releases.

[2020-08-13 06:25] michaelsauter commented on #577
I'd start with making the project specific user the default option in the UI in ODS 4.

[2020-08-13 06:32] sino92 commented on #577
@netzartist maybe you can give us a hand removing it from the new UI for ODS 4? I can do the backend refactoring.

[2020-08-13 06:51] michaelsauter commented on #577
@sino92 I think for now this would be UI only? Also keep in mind for some users "the UI" is a different frontend to the API than the one @netzartist created.

[2020-08-13 14:32] sino92 commented on #577
The change can be UI only, but wouldn't we eventually have to remove some conditionals to have a cleaner backend? Isn't ODS 4 will be fully new front end? Which users will have a different UI and why?

[2020-08-20 10:41] stitakis opened #579 "add support for odsbox for local development"
As developer I would like to be able to configure the Provisioning App with an ODSBox over openvpn.
Being able to connect from local development environment to ODSBox will improve productivity of developer.

Proposed solution to support ODSBox:
- add flag to trust all certificates in `RESTClient.java`: this flag should default to `false` and only be set to `true` when running provisioning app loca

[2020-08-20 10:59] stitakis commented on #579
@georgfedermann fyi

[2020-08-26 10:23] netzartist commented on #577
@sino92 The change in both javascript parts (old and new single page app) is just about making the project specific user input mandatory. I can do this.

I relate to User Interface as what you see in the browser. ODS 3 has the single page app UI as an optional feature so you can experiment and switch between them. ODS 4 will have the new single page app UI by default then.

[2020-08-26 12:46] stitakis commented on #577
@netzartist @sino92 please analyse from user experience point of view the case of projects created before ODS 4 that are not using a project specific cd_user. A warning could be displayed or anything similar to make users aware that the project need maintenance, in this case a project specific cd_user. Does this make sense?

[2020-08-26 13:34] michaelsauter commented on #577
Regarding https://github.com/opendevstack/ods-provisioning-app/issues/577#issuecomment-673514257:

Users of the API (through integrations like ServiceNow etc.)

My suggestion is to keep the initial scope really small: Make the project specific user the default choice in the new UI, and no change to validation / backend / API ...

[2020-08-27 10:07] stitakis commented on #269
implemented by #585

[2020-08-28 10:44] #579 closed

[2020-08-31 12:56] #572 closed

[2020-09-01 12:00] borja44 opened #588 "Missing unix basic commands on prov-app after deploying ODS 3"
**The linux commands (vi, less, more) are not on the base image of prov app on ODS 3.**

Steps to reproduce the behavior:
1. Go to openshift -- terminal
2. Click on ods project and select prov-app pod
3. Click on terminal
4. Execute commands on terminal, **(vi less more or nano/pico not installed...)**

This basic commands should be included in order to be able to do at least a minimum troubleshoo

[2020-09-01 15:27] stitakis commented on #588
@borja44 I can imagine your surprise when you find out that tools like `vi`, `less`, etc... are not installed....

Background: for ODS 3.0.0 the docker base image was changed for provisioning app to `adoptopenjdk/openjdk11:ubi-minimal-jre`. This is based on `minimal` ubi image flavour from RedHat (more here: https://www.redhat.com/en/blog/introducing-red-hat-universal-base-image). The selection of

[2020-09-02 06:45] michaelsauter commented on #588
I would be OK with switching to `ubi-jre`. @oalyman objections?

However, I would like to understand what you were trying to do first. Why did you need those tools? What problems were you facing so you needed them? Even if we install the tools, it would be good to figure out if the actual problem isn't located elsewhere ...

[2020-09-02 07:01] borja44 commented on #588
would be fine if project provides another FE based on API calls to prov-app instead of using directly the yaml database.
But there are problems like: -problem with wrong creation, -manual creation of project, -deletion of quickstarter, -deletion of a project ... -logs troubleshooting, -webhook proxy modification (not so common), -cduser account modificate configuration ....

[2020-09-02 07:51] michaelsauter commented on #588
@borja44 so most of the issues are admin tasks related to the project / component storage? maybe this is something we should have a frontend for that admins can access. @segator @stitakis what do you think?

[2020-09-02 09:01] stitakis commented on #588
My point of view regarding the topic "missing tools in the pod":

- case "file edition": I can't think of a use case of editing a file in the pod. Changes in configuration are normally done with the openshift console. The tool `cat` is available and from my point of view good enough to show content of small files.
- case "config changes": these are normally done in the openshift console with confi

[2020-09-02 10:04] #486 closed

[2020-09-02 10:37] stitakis opened #589 "check project name exists is only performed against jira and not openshift."
The provision functionally offers the option to create only an openshift project.
However the project exist check only is performed against Jira.
This is an inconsistency that we need to fix to avoid random E2E test failure.

Proposed solution:
Add logic that verifies per API call against openshift if the project key exists in openshift.

[2020-09-02 10:37] stitakis commented on #589
@martsec this is required to improve stability of E2E test.

[2020-09-02 11:48] segator commented on #588
Make the docker image as clean as possible is correct, the problem here is the lack of tools to make admin job easy, in provapp comon tasks is check project and quickstater logs and edit by hand json project file because incosisntencies in the project creation

[2020-09-02 12:41] stitakis opened #590 "fix snyk finding in version 3.x"
Some 3rd party libs needs to be updated.

[2020-09-09 09:37] stitakis opened #595 "github build failing due to git bad object"
The build implemented with github actions is failing randomly at stage ` Build docker image`.
The error displayed points to a git bad object:
[code]

[2020-09-09 09:40] stitakis commented on #595
I added some logging to the github actions and run the build a couple of times.

It looks like the variable `GITHUB_SHA` sometimes has a different value that the branch commit sha like in the following example:
[code]

[2020-09-09 10:00] stitakis commented on #452
this feature is branch `3.x`. I'll port it to master as next step

[2020-09-09 10:03] stitakis commented on #595
Fix worked in build of #592 -> branch 3.x is fixed.

[2020-09-09 12:21] #595 closed

[2020-09-09 14:56] stitakis opened #600 "missing verification of bitbucket project already exists on project creation event"
On new project creation, currently only Jira is queried for the existence of a project.
If a project exists in another system like Bibtucket the project creation fails and could leave to inconsistent state of the project creation flow.
We need to add a check that verifies that the project key does not exists in Bitbucket.
All checks like this should be part of the "pre flight checks"

[2020-09-09 14:56] stitakis commented on #600
@segator @martsec fyi

[2020-09-09 15:08] stitakis commented on #588
@segator @borja44 for coming release in September I'll change to base docker image `adoptopenjdk/openjdk11:ubi-jre`. This will solve the problem of missing tools. Sounds good?

[2020-09-10 06:10] michaelsauter commented on #588
I'm fine. Please open a follow-up ticket though that we have a closer look at what admin tasks need to be performed in one of the upcoming ODS releases.

[2020-09-10 11:55] #404 closed

[2020-09-10 12:09] martsec commented on #434
@segator  Here we would like to provision the atlassian stack without openshift, right? Full JIra/confluence and bb

FGYI @stitakis

[2020-09-10 14:23] segator commented on #434
HI I would like to be able to decide wich components to deploy.
We have cases that we need only BB, others only jira.
So something like this is what will help us.
- [ ] Bitbucket
- [ ] Confluence
- [ ] Jira
- [ ] Openshift/ODS

[2020-09-10 14:27] metmajer commented on #434
@martsec @segator @stitakis I assume we're talking about a REST endpoint here, correct?

[2020-09-11 06:17] #452 closed

[2020-09-11 06:21] stitakis opened #602 "analyse admin missing features and recurrent task"
We need to understand better the recurrent tasks that admins perform and identify missing features. (see related item related to #588)

[2020-09-11 06:22] stitakis commented on #588
Done, I've opened a follow-up ticket -> #602

[2020-09-11 07:00] stitakis commented on #434
@metmajer we will limit this change to the REST endpoint for ODS 3.1.0 release. But to double check, what is the background of your question?

[2020-09-11 08:46] stitakis commented on #588
@borja44 would be 'vi'  and 'more' enough for you or do you need another tool

[2020-09-11 10:46] stitakis opened #605 "jira project key check logs exception on project creation"
The jira project key precondition check currently logging an exception on project creation if a the project does not exist. While this does not impacts the project provisioning flow it adds noise to the log file

This is the exception:
[code]

[2020-09-11 13:07] stitakis opened #607 "missing verification of confluence project already exists on project creation event"
same as #600 but for confluence

[2020-09-14 12:37] #588 closed

[2020-09-15 13:05] #600 closed

[2020-09-21 11:31] sino92 commented on #577
@michaelsauter  Ah right, it makes sense considering the API is actively used.
@stitakis There wouldn't be any usability issues unless the global cd user credentials are altered. From a security perspective though, yes a warning sign would be quite nice. @netzartist and I can take care of this

[2020-09-22 10:25] stitakis commented on #269
action is not working... I'll revert the change

[2020-09-23 06:53] stitakis opened #613 "set confluence shortcut in jira even if confluence server is not activated"
If confluence server is not enabled (e.g. by configuration) the prov-app tries to set in jira project the confluence url as shortcut.
Because the confluence url is null an exception is raised.
We need to verify if confluence url or confluence adapter is enabled before setting the shortcut.

2020-07-17 09:20:44 DEBUG o.o.provision.services.JiraAdapter - Attempting to create shortcut 1 for: Confluen

[2020-09-29 15:42] #151 closed

[2020-09-29 16:33] #607 closed

[2020-09-29 16:34] #613 closed

[2020-09-29 16:34] #605 closed

[2020-10-08 09:05] stitakis commented on #589
@metmajer I'm descoping this issue from ODS 3.1. I'll not be able to implement it before release date in october.

[2020-10-08 09:06] stitakis commented on #434
@metmajer I'm descoping this issue from ODS 3.1. I'll not be able to implement it before release date in october.

[2020-10-12 15:54] serverhorror commented on #149
This is getting more and more of an issue, our namespaces are kind of cluttered with things we want to get rid of :(

[2020-10-13 21:41] georgfedermann opened #620 "prov-app fails when "tests" is provided as component id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Provision a project
2. Create a component and enter "tests" as component id
3. The Jenkins build for the newly created component will fail
4. See error

**Expected behavior**
The prov-app UI should show a warning if an invalid component id is provided.

**Affected version

[2020-10-14 17:54] netzartist commented on #577
@sino92 Do you have an idea for a better explanation text in the corresponding tooltip of the CD user input? I guess the current text should be adapted when the field will be mandatory.

`If you use a project specific CD user, the user has to exist in your identity management and has to be able to access Bitbucket. After project creation you will have to change the CD user password in the OpenShif

[2020-10-20 10:20] michaelsauter commented on #149
Check https://github.com/opendevstack/ods-core/blob/master/delete-components/Jenkinsfile. Getting rid of components in OpenShift is relatively straight-forward. For Bitbucket, afaik it is just deleting the repo. Jira might have a component as well that you need to delete (depends on when your component was provisioned), and Confluence should not have anything related to the component.

[2020-10-20 13:24] serverhorror commented on #149
The problem is the provisioning app. I can't remove and reuse a name that has been used. Or even reuse a name from the prov app at all.

[2020-10-21 06:49] michaelsauter commented on #149
@serverhorror True, there is no way for a user to do that right now. Someone with access to the prov app pod needs to clean up a file in there. I thought you just wanted to get rid of stuff, not reuse the same name.

[2020-10-21 07:25] stitakis commented on #149
@serverhorror an API for the removal of components is in "place" (https://github.com/opendevstack/ods-provisioning-app/blob/13f626ce59f48bc090ef7c234322d249700225eb/src/main/java/org/opendevstack/provision/controller/ProjectApiController.java#L871) but currently:
A. not enabled in the UI
B. can only be called by an administrator.

Is not supported in the current UI because we haven't had enough ti

[2020-10-21 07:55] stitakis commented on #434
@segator as discussed yesterday...
4 flags will need to be available in the project provisiong API:
- openshift + bitbucket (because creation of openshift project without bitbucket is not supported)
- bitbucket
- jira
- confluence

Backwarks compatibility for current flags
- this needs to be reviewed, eventually not supported

UI
- the flags mentioned above need to be added to the current UI.

[2020-10-21 08:11] clemensutschig commented on #434
Why are we doing this? - if it#s purely bitbucket - no ODS - it's 5 mins of
work by hand .. does that warrant the investment?

On Wed, Oct 21, 2020 at 9:55 AM Sebastian Titakis <notifications@github.com>
wrote:

[2020-10-21 09:38] stitakis commented on #434
well I guess this depends on the number of times that you need to do it by hand... but I don't have an overview about how often is this required and/or impact in current daily business of this missing feature... @segator is this urgent or we should reconsider/plan/include in next release?

[2020-10-21 11:43] segator commented on #434
We have usecase people dont need openshift, but bitbucket, right now they
are consuming a lot of resources on openshift because we can not create the
project without ods project, so to avoid this waste of resources we need to
split the flag on 2.

El mié., 21 oct. 2020 11:39, Sebastian Titakis <notifications@github.com>
escribió:

[2020-10-21 14:47] metmajer commented on #434
@segator @stitakis thanks for taking this further. I would like to better understand the following questions before we move along with a solution:

1) What does your approach mean for us / the end-user if it is later decided to use OpenShift as part of their project?
2) Is the provisioning app really the best way to create a pure Atlassian Stack project?
3) What about creating the OpenShift projec

[2020-10-21 15:22] metmajer commented on #434
@segator let's focus on an automated scale-to-0 approach for the EDP, which is the more sustainable approach. I am closing this issue in favor of the other approach, thanks!

[2020-10-21 15:22] #434 closed

[2020-10-22 06:59] stitakis commented on #434
@metmajer sounds good for me... I have added the tag `invalid` to differentiate this issue from the issues that provide changes to the code.

[2020-10-23 12:52] stitakis opened #622 "session timeout too short for project provision on enterprise environment"
Provision of project from the UI is failing due to too short session timeout.
The current session timeout is set to 7 minutes.
The action of log into the UI and the fill the create project form could take maybe 3 mins.
The provision process could take up to 5 minutes in enterprise environment to complete.
In this case the session will expire in the middle of the provisioning causing a exception be

[2020-10-27 16:44] felipecruz91 opened #624 "Show an error message when the component id does not match the regex expression"
**Is your feature request related to a problem? Please describe.**
When creating a component through the Provisioning app, the component id must comply with [this regex expression](https://github.com/opendevstack/ods-provisioning-app/blob/3.x/src/main/java/org/opendevstack/provision/model/OpenProjectDataValidator.java#L36).

When a user introduces a component id, no message is shown suggesting wha

[2020-10-27 16:51] serverhorror opened #625 "Allow digits in Component names"
I would like to be able to use digits in component names:

A regex that would accomplish this is:

[code]

![image](https://user-images.githubusercontent.com/36151/97334430-08a5e300-187d-11eb-890d-baa1265caf9a.png)

https://github.com/opendevstack/ods-provisioning-app/blob/13f626ce59f48bc090ef7c234322d249700225eb/src/main/java/org/opendevstack/provision/model/OpenProjectDataValidator.java#L36

[2020-10-28 07:00] michaelsauter commented on #624
@netzartist I'd think the new frontend does this?

Maybe the action here is to switch to the new frontend and delete the old frontend?

[2020-10-28 07:03] michaelsauter commented on #625
This is because of https://github.com/opendevstack/ods-provisioning-app/issues/175.

A potential solution has been discussed before at https://github.com/opendevstack/ods-provisioning-app/pull/234.

It's not as easy as it seems at first glance, and unless there is a simple improvement that fits all quickstarters, personally I'm not convinced the complexity is worth the benefit.

[2020-10-28 07:26] michaelsauter commented on #622
As #623 has been merged, can we close this one @stitakis?

[2020-10-28 07:53] stitakis commented on #622
I need to port this change to master before closing it

[2020-10-28 07:57] stitakis commented on #624
@michaelsauter  @netzartist to delete the old frontend we need to discuss with @metmajer and his team first.

[2020-10-28 08:08] netzartist commented on #624
@michaelsauter Yes, the new frontend uses the same [regex](https://github.com/opendevstack/ods-provisioning-app/blob/13f626ce59f48bc090ef7c234322d249700225eb/client/src/app/modules/app-form/config/validation.json#L20) and shows a more detailed explanation:

![image](https://user-images.githubusercontent.com/370980/97408731-cd4af900-18fc-11eb-9295-d81035695192.png)

@stitakis Let's make a plan to s

[2020-11-10 15:10] felipecruz91 commented on #620
The [current regular expression](https://github.com/opendevstack/ods-provisioning-app/blob/4a36296b0e7f729586577d586d9884ca1802e096/src/main/java/org/opendevstack/provision/model/OpenProjectDataValidator.java#L36) that validates the component id allows `tests` to be a valid value.

If that word is a reserved keyword and therefore it shall not be used when provisioning components, then the regular

[2020-11-10 15:15] clemensutschig commented on #620
@netzartist want to pick this up for 4?

[2020-11-10 20:20] stitakis commented on #620
Server side validation is needed as well. I'll do the corresponding change in the BE.

[2020-11-11 08:59] netzartist commented on #620
I'd suggest we create a list of reserved keywords and adapt the Regex in BE & FE accordingly incl. the error messages.

[2020-11-11 16:42] netzartist opened #628 "Update SPA to Angular 10.2.3"

[2020-11-12 08:37] #628 closed

[2020-11-12 12:34] netzartist opened #631 "Update SPA to Angular 11"

[2020-11-13 09:17] michaelsauter commented on #589
@clemensutschig This is the "OpenShift connection" from the prov app I mentioned last week. Do you want to have a look into this?

[2020-11-16 15:45] #631 closed

[2020-11-17 14:06] renedupont opened #633 "Remove copyright and author in java files?"
**Is your feature request related to a problem? Please describe.**
I noticed that many java files have a huge text at the beginning regarding Copyright and also an `author` annotation above the class name.
I want to raise and discuss the question if these copyright mantras are really necessary there, because if not I'd see them as a huge chunk of code noise.
Regarding the `author` annotation I sha

[2020-11-17 18:15] stitakis commented on #633
@michaelsauter @clemensutschig do you know why the copyright header was added to the prov app classes? Can we remove the copyright header? How do we handle copyright in ods?

[2020-11-17 18:52] #589 closed

[2020-11-18 07:42] michaelsauter commented on #633
Sorry I don't know - would need to look into what is required or not.

[2020-11-19 10:08] stitakis opened #635 "Permission default project groups on project creation in openshift"
Currently the only way to permission groups on project creation is by setting special permission set.
The ProvApp passes the special permission groups to the webhook proxy/jenkins when it triggers the create project request.
This was only meant for project specific roles.

However, cluster administrator in corporate environment need a way to get access to the project in openshift.
For them to avoi

[2020-11-19 10:09] stitakis commented on #635
@felipecruz91 @michaelsauter this is the corresponding issue in prov app for the setup of cluster admin groups

[2020-11-19 10:09] stitakis commented on #635
@borja44 and @segator fyi

[2020-11-19 15:53] netzartist opened #637 "Handle form based auth in SPA"
On 401 responses a login form should be displayed. As a first step it will send the form data in the Basic-Auth Header via GET to /appinfo/about

[2020-11-24 15:49] stitakis opened #638 "Reduce technical debt"
There are some code aspects of the provisioning app that we need to improve. Goals of this issue are to clean up some antipatterns, improve unit tests, improve code readability, update dependencies, etc.

This is a preliminary list for ODS Prov App 4.x:
- All spring test should only use spring support and not a mix of spring and mockito (no @InjectMocks, etc)
- Fix encapsulation of all classes, no

[2020-11-24 18:30] serverhorror commented on #625
Wait... so because one single framework has trouble all others prohibited too?

Being pedantic I could argue that valid angular project names are disallowed too:

* `fe-angular-proj7`, `my-component-v3` would be valid
* `7fe-angular-proj`, `fe-7angular-proj` would be invalid (IIUC angular doesn't like numbers at the beginning of a "segment" or "number only" segments)

[2020-11-24 18:33] serverhorror commented on #456
Can we _not_ do that?

We have cases where there is:
* more than one release manager
* no release manager (for good reason)
* a single release manager

[2020-11-24 18:37] serverhorror commented on #417
Can't we just paste a link to a git repo and [cookiecutter ](https://cookiecutter.readthedocs.io/en/1.7.2/) (or similar) would be a supported format, even "just" a git repo with the ODS native format that I can pull would be nice!

[2020-11-24 18:42] serverhorror commented on #149
@stitakis This is more a problem for adoption. People are reluctant to play around and give ODS a chance to even work because they are afraid they might not be able to just get rid of whatever they tried.

So in a sense,

* yes it is "blocking" because users aren't even considering ODS because of that (I know that seems like a minor issue, apparently it is important to the user group we are dealin

[2020-11-25 07:47] michaelsauter commented on #625
Correct. If you have an easy suggestion to fix the problem, or even better an implementation, happy to merge it in.

[2020-11-25 07:51] michaelsauter commented on #456
Aside from @serverhorror's points above, I'd also like to NOT do that because:

* The release manager does come with quite some complexity. It does a lot, and it requires users to learn a lot. I don’t think this is a justified investment for all use cases, e.g. if you do not need the documents. Further, adding the complexity gradually feels better to me than starting with it from day 1.
* I think

[2020-11-25 07:51] #456 closed

[2020-11-25 07:55] michaelsauter commented on #417
Please also note there is already documentation on how to author quickstarters at https://www.opendevstack.org/ods-documentation/opendevstack/3.x/quickstarters/authoring-quickstarters.html. @serverhorror please extend this if you think this is not sufficient.

I'm going to close this now, as we probably don't want/need this feature. What we might need is a better template / better documentation, w

[2020-11-25 07:55] #417 closed

[2020-11-25 08:06] stitakis commented on #149
@serverhorror I think you make the point clear... adoption is a key aspect for us. I'll have scheduled this item for next release ODS 4.x. Unfortunately is the earliest that we can deliver it. I think in the meanwhile we can coordinate with @segator to get rid of components using the api and announce this kind of solution in our chat. @Sounds good?

[2020-11-25 08:15] stitakis commented on #417
@michaelsauter I have the feeling that we haven't explored/discussed this enough, but also think is fine to close it... we can always reopen it.

[2020-11-25 09:43] felipecruz91 commented on #624
@stitakis @netzartist Is this going to be shipped as part of 3.1?

[2020-11-25 09:48] #527 closed

[2020-11-25 09:57] stitakis commented on #624
@felipecruz91 you introduced an input validation logic for this in the backend. That part is done. However we haven't done it yet in the current UI. Do you have time to take a look at it?

[2020-11-26 10:43] #635 closed

[2020-11-26 15:22] stitakis commented on #620
implemented in #624

[2020-11-26 15:27] #624 closed

[2020-11-26 15:27] #620 closed

[2020-11-30 16:16] clemensutschig opened #646 "ODS (master) - ami creation fails in ODS Provision App verify step with 504 gateway timeout"
[code]

@georgfedermann  - can you shed some light here - e.g. if there is logs from within the prov app?

[2020-11-30 16:19] clemensutschig commented on #646
@stitakis - did you verify against the tests when you committed all your magic, just asking

[2020-11-30 17:14] clemensutschig commented on #646
could be that this is because of the new pre-checks that take even more time .. I have an open pr against ods-core to spill out logs (so we can see what's going on (opendevstack/ods-core#909)

[2020-11-30 17:29] stitakis commented on #646
@clemensutschig no, I haven't but will do asap

[2020-12-01 07:41] stitakis commented on #646
@clemensutschig @metmajer @georgfedermann I ran packer on my notebook to create a 3.x based AMI... the build passed the ProvApp verify step... however it failed apparently because "no test files" where generated in `.../ods-quickstarters/tests/utils`. Below the last logs. I'll keep investigating this.

[code]

[2020-12-01 08:10] michaelsauter commented on #646
@stitakis Go's test output summaries the packages at the end. `[no test files]` means that no tests were found in the package, which is fine (there are no `*_test.go` files with tests in that package). The failing tests must be listed further above.

[2020-12-01 08:28] stitakis commented on #646
@michaelsauter ah yes... thanks for the hint! I found one test failing in ml qs due to a out of memory exception in jenkins:
[code]

[2020-12-01 08:51] stitakis commented on #646
@michaelsauter in the ml testdata the ocp.env defines this:
[code]
We could try to double the memory limit and see if the test pass

[2020-12-01 08:57] michaelsauter commented on #646
@stitakis The error seems to be that Jenkins runs out of memory. The `ocp.env` values you refer to are applicable to the pod of the quickstarter being provisioned. Changing those will not help I think. We'd need to give more memory to the Jenkins master ...

[2020-12-01 09:02] clemensutschig commented on #646
and this needs to happen on master ...

[2020-12-01 09:27] clemensutschig commented on #646
nope - thats already on the agent I guess, so NOT to jenkins master

[2020-12-01 10:19] michaelsauter commented on #646
Then we could fiddle with the agent pod resources.

[2020-12-01 10:24] clemensutschig commented on #646
but as packer is running locally I guess - this could be also @stitakis operating system / box ...

[2020-12-01 11:05] stitakis commented on #646
I will tweak the agent pod resources and rerun

[2020-12-01 13:34] stitakis commented on #646
@clemensutschig @michaelsauter an update on this... the packer AMI build for branch "ods-devenv-build-3x" (branch derived from 3.x) is still running

[2020-12-01 14:18] clemensutschig commented on #646
ps @stitakis - the problem (As the ticket says) is on master.

[2020-12-01 14:50] stitakis commented on #646
@clemensutschig @michaelsauter the AMI build failed because I forgot to create a branch for ods-document-get-svc... however the error described above didn't pop up. Actually both ProvApp and ds-ml-service tests ran succesfully. To the ds-ml-service I have added more resources to the agend pod. So it seemed to fix the ds-ml-service resources problem.

Anyway, I'll create the branch "ods-devenv-buil

[2020-12-01 15:02] stitakis commented on #646
@clemensutschig I was worried about 3.x due the coming release... somehow now the gif "ODS c/i tets 3.x" is green again in ods-core project! Weird! Anyway, I will run the packer AMI build for master now.

[2020-12-01 16:04] stitakis commented on #646
@michaelsauter @clemensutschig packer AMI build for master is failing because it cannot find the `repos.sh`, which was moved to the folder `scripts`.

This is the corresponding error in log file:
[code]

[2020-12-01 16:29] stitakis commented on #646
@michaelsauter @clemensutschig I have created the branch `bugfix/ods-devenv-build-fixes` to put and the fixes of the devenv there.

[2020-12-01 16:41] stitakis commented on #646
@michaelsauter @clemensutschig sorry, I'll confirm the error above tomorrow, I think something got mixed in my local env. I'm on this.

[2020-12-02 08:31] clemensutschig commented on #646
@stitakis - please wait on this - we have a regression - that needs to be merged first (opendevstack/ods-core#911)

[2020-12-02 09:26] stitakis commented on #646
@clemensutschig @michaelsauter I discovered also this regression today in the morning, then added a quickfix to my branch `bugfix/ods-devenv-build-fixes" (fixed the path to the files) and triggered the packer AMI build for it... it is running atm

[2020-12-02 15:15] clemensutschig commented on #646
@stitakis  . works?

[2020-12-02 15:54] stitakis commented on #646
@clemensutschig nope and I can't identify the issue and also I can't reproduce the issue reported in this ticket title.
Also, I have deactivated the `OpenshiftService` but it still failing. :-(

This is the error of the last run:
[code]
I'll keep investigating.

[2020-12-03 08:02] clemensutschig commented on #646
ok - latest ami run:

[code]

roughly a min - just to to pre-checks ... and then the 504? thats pretty weird ... looking at the route config ..
https://github.com/opendevstack/ods-core/blob/master/ods-provisioning-app/ocp-config/route.yml#L15

[2020-12-03 08:14] stitakis commented on #646
@clemensutschig yesterday evening, I have increased the timeout in `jenkins.go` in function `RetrieveJenkinsBuildStagesForBuild` because that function raised the timeout above. I kept also disabled the `OpenshiftService` in ProvApp configuration to isolate problems.

This changes allowed the packer AMI build run further... however it failed because some quickstarter tests failed. This is the list:

[2020-12-03 08:22] clemensutschig commented on #646
@stitakis  -can you take a look into the logs there must be details -- or upload here.

[2020-12-03 08:49] clemensutschig commented on #646
ok - more bugs - wtf .

[code]
calling https://github.com/opendevstack/ods-jenkins-shared-library/blob/master/src/org/ods/services/OpenShiftService.groovy#L449

which needs a `project` now?!

This is yet another bug :(

[2020-12-03 08:54] clemensutschig commented on #646
driven by opendevstack/ods-core#912

[2020-12-03 09:06] michaelsauter commented on #646
@stitakis So the issue with the `ods-document-gen-svc` quickstarter are failing tests:

[code]

[2020-12-03 09:21] clemensutschig commented on #646
ok - there is one more -> docgen needs more memory

[2020-12-03 09:30] michaelsauter commented on #646
working theory: jenkins agent pod doesn't have enough memory, I will verify and then update here

[2020-12-03 10:52] michaelsauter commented on #646
verified this to be the root cause. fix in https://github.com/opendevstack/ods-document-generation-svc/pull/49.

[2020-12-03 10:54] clemensutschig commented on #646
cool - this should all be picked up in the noon build! :)

[2020-12-03 12:23] stitakis commented on #646
@clemensutschig I was able to test the increase route timeout (https://github.com/opendevstack/ods-core/commit/294d0998197d86ebb2c20bde0112d1bca8072db4). This helped me to identify and issue related to the ProvApp and its 'OpenshiftService'. My bad, I forgot to introduce the corresponding configuration for the ods-devenv / tests. I'll provide a change that disables this functionality by default, s

[2020-12-03 12:25] michaelsauter commented on #646
Can we not revert that for now? Let's first agree all on the need for this, and then make it work?

[2020-12-03 13:35] clemensutschig commented on #646
@stitakis  - lets see if the base fixes don't do it ..

[2020-12-03 14:09] michaelsauter commented on #577
@sino92 @netzartist and I discussed this. The new UI shows the "project specific cd user" field by default, so that is already the intended behaviour. The old UI should be phased out, so does not need to change. The backend API still accepts both inputs (no project specific user given, or a project specific user given). The API should not change at this point - in fact that would be a bigger chang

[2020-12-03 14:09] #577 closed

[2020-12-03 15:29] cschweikert opened #648 "ODS Dashboard / Visual Studio Code Extension"
Up till today a usual project powered by ODS comes along with a zoo of tools scattered all over a given OpenShift cluster. All those tools offer interesting or important information about...
* running/successful/failed builds (Jenkins)
* unit test reports (Jenkins)
* OpenShift projects related to a project (OpenShift)
* routes related to OpenShift projects (OpenShift)
* code quality metrics (Sonar

[2020-12-03 17:23] serverhorror commented on #417
@michaelsauter I think the docs are good. I'm referring to:

1. I'm a user in front of the prov app and
1. have have a git link from someone.
1. That's an ODS quickstarter.
1. I don't have admin permissions in ODS.
1. I want to use that quickstarter

I might have been in the wrong ticket. We have a ton of components and no control over ODS but have to modify every single component after provisioni

[2020-12-03 17:25] serverhorror commented on #149
@stitakis Thank you!

As long as I can tell people "not yet but you will be able to do that" I have a UART hat I can use :)

[2020-12-03 17:26] clemensutschig commented on #646
so - next one (the noon run)

[code]

@stitakis  - more route time, or ... ?

[2020-12-04 07:14] michaelsauter commented on #417
@serverhorror Got you. The steps you are describing were thought about but we did not implement them back then out of caution. I would be OK to rethink this as the code is anyway executed in your own Jenkins instance. But it feels like something which we should give some time and thought before allowing it. I suggest you open a new issue and describe exactly what your use case is.

[2020-12-04 07:16] michaelsauter commented on #646
Sorry to be so stubborn, but to re-iterate myself:

[2020-12-04 08:47] stitakis commented on #646
@clemensutschig @michaelsauter I have created yesterday afternoon this PR https://github.com/opendevstack/ods-core/pull/913 -> it fixes the error above `ERROR c.o.i.restclient.ApiTypeMapper - Can't access legacy endpoint oapi` was fixed`

[2020-12-04 08:50] clemensutschig commented on #646
added review, please amend - and then we'll merge - and hopefully become green again

[2020-12-04 10:03] clemensutschig commented on #646
leaving open until solved

[2020-12-04 16:16] clemensutschig commented on #646
latest master:
-> rm fail:
[code]

[2020-12-05 09:35] clemensutschig commented on #646
closing this one - and opening a new one in the share dlib

[2020-12-05 09:35] #646 closed

[2020-12-10 12:23] serverhorror opened #649 "Allow custom quickstarters"
**Is your feature request related to a problem? Please describe.**

We are using a lot of different components and have to apply the same changes to all of them. It would great to use our own quickstarters without having to submit them to the project.

They hold organization internal information or are very specific to a group.

**Describe the solution you'd like**

I would like to be able to poin

[2020-12-10 12:29] serverhorror opened #650 "Put the openshift directory in the code repository"
**Is your feature request related to a problem? Please describe.**

Every project we are working has had to make modifications to `openshift/*.yaml`

Modify the priviosing app to put the templates from the `openshift/*` directory directly in the code that is being provided as boilerplate.

**Describe the solution you'd like**

We had t repeatedly explain the same situation to users:

* How do you

[2020-12-10 12:51] michaelsauter commented on #650
@serverhorror Thanks for the suggestion!

I really really would like to enforce that everyone has to define their infrastructure as code. Relying on a magic export (release manager) is not a good way to develop your software. So yes, I totally agree. BUT putting the templates into the repo has the effect that suddenly everyone is forced to modify their resources in the repo, instead of clicking ar

[2020-12-10 15:49] henrjk commented on #650
A provisioning app option would be nice especially if the default would be to use infrastructure as code.

Without such an option, provisioning could enable infrastructure as code by generating the openshift folder.
In cases where this is not wanted follow up changes would be needed to delete the `openshift` folder with the templates or move them in a different place so they are no longer automati

[2020-12-11 14:48] renedupont commented on #633
The author annotations were removed by PR #639. I'll try to read up on the copyright topic soon.

[2020-12-14 08:59] michaelsauter commented on #648
@cschweikert Interesting :)

Who would be the user for this dashboard? Is this for developers, or managers, or ... ?

I'm a little worried by this ;)

I like this! This should also be doable without extending the prov app, no? Maybe a good starting point for a hackathon?

[2020-12-14 12:48] serverhorror commented on #650
Minor note:
So far, we've only run into trouble because people were able to click around in the first place. As a goal I'd even like to see that **everyone** is restricted to read-only access rather than being able to modify via the UI.

Of courses that poses a catch-22, how would one manually clean up after a fat-fingered deployment so I guess that the OpenShift UI will stay as RW for users.

[2020-12-14 12:50] serverhorror commented on #650
Excellent point! But since ODS w. helm still needs to support the "old ways" I'm not sure that waiting will provide huge benefit (that is if it means that the "org internal" rollouts will have to wait for ODS5 or even longer to get that feature)

[2020-12-14 13:35] michaelsauter commented on #650
You're preaching to the choir :)

[2020-12-16 08:04] stitakis commented on #91
@borja44 this was implemented with #151

[2020-12-16 08:04] #91 closed

[2020-12-16 08:17] stitakis opened #652 "add project property to jira on component provisioning event"
**Is your feature request related to a problem? Please describe.**
Manual introduction of e.g. the component name needs to be done in Jira after the provision of a component.

**Describe the solution you'd like**
The Provisioning App should offer the possibility to enable the addition of a Jira property on project provisioning event.
This could be implemented by extending the quickstarters configu

[2020-12-16 10:30] #622 closed

[2020-12-18 09:25] stitakis opened #655 "wrong exception stacktrace logging of bitbucket project key pre flight check"
**Describe the bug**
Exception will be added to the log file when the BitBucketAdapter runs the pre flight project key check. In case the project key does not exists the exception will be added to the log because the HTTP response code is equal 404.

**To Reproduce**
Create a project with a key that does not exists in Bitbucket
Verify that the exception is not logged.

**Expected behavior**
No log

[2020-12-18 14:15] #655 closed

[2020-12-21 13:22] renedupont opened #657 "add changelog enforcer"
This issue relates to https://github.com/opendevstack/ods-core/issues/891.

[2020-12-23 10:44] #657 closed

[2020-12-23 10:47] renedupont commented on #657
fyi @stitakis @michaelsauter @netzartist changelog enforcer is now 'active' for prov app repo, use label 'skip changelog' in case you need to skip that on a PR.

[2021-01-08 10:54] renedupont commented on #649
I looked a bit through the code and AFAIK this is already _technically_ possible. The quickstarter options that are shown in the prov-app are retrieved from a properties file like in this example: https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/resources/application-odsbox_quickstarters.properties
As you can see there, an entry for the repo exists: `jenkinspipeline.quicks

[2021-01-08 23:32] serverhorror commented on #649
Hi,

Sadly I don't have access to either of those.

But it is nice to have this "prepared". So there's hope after all :)

[2021-01-11 09:10] stitakis commented on #657
@renedupont thanks!

[2021-01-11 09:56] stitakis commented on #649
@serverhorror @renedupont I propose we discuss the requirements first and agree on what would make sense to implement. I have something in my mind but I think we need to clarify a bit more, so we could shape a solution that fits ODS architecture and requirements of corporate environment.

So, first of all I'd like to clarify this:

From corporate point of view (and also security and traceability p

[2021-01-11 10:44] michaelsauter commented on #649
I would be very hesitant to add explicit support for this to ODS.

That said, quickstarter provisioning is simple, it's just creating+running a Jenkins pipeline (which ODS already abstracts so one only has to make an HTTP call to the webhook proxy). https://github.com/BIX-Digital/ods-contrib/tree/master/quickstart-with-jenkins uses this functionality in a script already. Just copy/amend this scrip

[2021-01-11 11:05] stitakis commented on #649
@michaelsauter can you please enlight us and share with us why?

[2021-01-11 11:07] stitakis commented on #649
@serverhorror can you please check this out again and give us feedback if this approach is good enough for you?

[2021-01-11 15:33] michaelsauter commented on #649
Sorry yes, my reasoning:

* I believe this to be a rare use case, so I feel the effort (implementation + maintenance) is higher than the benefit
* There is a solution which I think already works pretty much as expected

If many people have a need for this feature, and the existing solution does not work for them, happy to be convinced otherwise (but then still someone would need to implement it).

[2021-01-13 15:25] netzartist opened #662 "Logging endpoint for SPA client errors"
Followup to #634

As all kinds of errors which can happen in the SPA frontend are catched in Angular it's crucial that we collect most of them in the backend to monitor and get awareness of them. So a logging endpoint is needed in Spring Boot.

IMHO this is prerequisite task for switching to the new frontend layer as a default in ODS 4.

(In a next step in the Angular aop it should be possible to

[2021-01-13 15:41] netzartist commented on #528
As of now, in the new SPA frontend of upcoming ODS4 the About page would not be there anymore due to the open questions above. If you think a new About page is relevant let's resume the conversation here :) @stitakis @michaelsauter

[2021-01-13 18:10] stitakis commented on #528
I like the "Account" page displayed above.
The update log part could be useful. But I'm not sure if the current BE provides such information. I need to verify.

Regarding the current About page. I miss something in it. It doesn't contain the version  and build number of the provisioning app. This would be useful to be displayed either in an About page or somewhere.

[2021-01-13 18:19] stitakis commented on #662
First thoughts on this...
yes, we can add an endpoint to be consumed by the SPA client to report errors. Once we receive the error we could decide if we log them, etc... (Also user usage could be pushed in this way using a different endpoint).

The question is how we want to secure this endpoint and authorize calls to it.

I see 2 scenarios:
A. if the user was able to log in. Then I don't any prob

[2021-01-14 07:38] michaelsauter commented on #528
I am OK with no about page for now. In my opinion, this can be added later and should not further delay the completion of the switch from old-to-new frontend.

[2021-01-14 07:44] michaelsauter commented on #662
As discussed elsewhere, and to be completely honest, I see this as additional complexity that comes by using SPA for this thing. IMHO not ideal and a sign of over-engineering. I would refrain from making this too complicated. I propose to start with scenario A as outlined by @stitakis, and not care about scenario B for now. When a user is unable to authenticate, I would log to the browser console

[2021-01-14 14:01] netzartist commented on #637
[WIP branch](https://github.com/BIX-Digital/ods-provisioning-app/tree/feature/GH-637-handle-basic-auth-in-spa)

TODO:

- Clarify current state
- Eventually refactor to work with JSESSIONID cookies

[2021-01-15 10:13] renedupont commented on #649
Maybe if @serverhorror is able to use the linked quickstart-with-jenkins script successfully for his use-case, we could request to add it to upstream for a) the use-case described in this issue here, and b) to test quickstarters locally (without using provisioning-app)?

@michaelsauter is anything speaking against that in your opinion?

[2021-01-15 10:31] netzartist opened #664 "Fix SPA searchbar layout"

[2021-01-18 15:52] #664 closed

[2021-01-25 09:45] nichtraunzer commented on #149
I second that ... good point

[2021-01-26 12:37] stitakis opened #667 "missing input validation in ProjectAPIController"
we need to input validation to the project api controller starting by method `addProject`

[2021-01-27 16:23] felipecruz91 opened #668 "Add labels to ODS projects for cleanup 🧹"
**Is your feature request related to a problem? Please describe.**
OpenShift clusters, over time, end up with 100+ ODS projects that are difficult to keep track of what the owner is. This is important when it comes to deleting old and unused projects to free up resources in the cluster.

**Describe the solution you'd like**
The Prov App could establish `labels` when creating the ODS project in Ope

[2021-01-27 19:42] serverhorror commented on #649
I'll give the script a try.

I've made this suggestion because I can totally se us creating a parametrized job that takes a git URL and uses whatever git repo is thrown at it.

I'd rather see that, properly implemented, in ODS because I'm pretty sure we won't be thinking of checking whether the git clone of the quick starter is from GitHub or an "approved" endpoint.

What's happening right now is

[2021-01-28 08:26] michaelsauter commented on #668
Sounds interesting - the question is what labels should be applied, and how to make that flexible enough ...

[2021-01-28 09:20] stitakis commented on #668
I find it interesting too... additionally you will need to modify in ods-core https://github.com/opendevstack/ods-core/blob/master/create-projects/create-projects.sh to add the labels on/after project creation

[2021-01-28 10:17] felipecruz91 commented on #668
I've been looking into using the first project admin in the `PROJECT_ADMINS` list as owner of the project but just realized that labels do not allow using `@` as part of it.

[code]

[2021-01-28 10:47] metmajer commented on #668
@felipecruz91 we have work in progress with @michaelsauter already using a labelling standard... will have to find it

[2021-01-28 12:33] michaelsauter commented on #668
@metmajer I think you are referring to https://github.com/opendevstack/ods-quickstarters/issues/512. However, that is about resources within a project, while I believe @felipecruz91 suggestion is for labels on the project itself.

[2021-01-28 12:34] michaelsauter commented on #668
@metmajer I think you are referring to https://github.com/opendevstack/ods-quickstarters/issues/512. However, that is about resources within a project, while I believe @felipecruz91 suggestion is for labels on the project itself.

[2021-01-28 12:51] felipecruz91 commented on #668
Thanks for clarifying @michaelsauter. My suggestion here is to use `ods.project.owner` to define what the owner of the project is.

I think it is nice to have the label name as a hierarchy starting from `ods`, then the type of object `project`, and finally the subject `owner`. Hopefully, this will avoid any conflicts or clashes with other labels that the infra team want to specify in the future.

[2021-01-28 13:14] segator commented on #668
what about ```opendevstack.org/project.owner``` ?
any metadata is welcome, this will be helpfully in the future for querying and tracability. thanks @felipecruz91  for the idea

[2021-02-10 09:03] fkressmann opened #670 "Project specific CD user not permissioned on provision of new component repository"
Finding together with @clemensutschig :
When a new component is provisioned, the bitbucket technical user is still set with write permissions to that repository here:
https://github.com/opendevstack/ods-provisioning-app/blob/27d561e2f6b82cfae75c34398b3d08f257296e74/src/main/java/org/opendevstack/provision/services/BitbucketAdapter.java#L660

This allows access to the repos with the global cd_user

[2021-02-10 09:11] segator commented on #670
My suggestion is to make this configurable.
for our use case we already have the specific tecnhical account in the group we already setting permissions. so is not even needed to set the user only. but for other uses cases could be the case no groups are used or  technical account is not member of the groups.

So a parameter to define if we want to set the technical account and then if in the proje

[2021-02-10 09:26] stitakis commented on #670
@clemensutschig @michaelsauter I'm looking at this

[2021-02-10 09:29] clemensutschig commented on #670
@maksymmaksym fyi

[2021-02-10 09:48] stitakis commented on #670
@clemensutschig @michaelsauter @maksymmaksym @fkressmann
The cd_user (whether global or project specific) only needs read access to the component repository. This is needed for the ODS CI pipelines to be able to check out the code.
It looks like the permission was mistakenly reduced from `admin` to  `write` instead to `read` last time this was touched.
I'll prepare a fix this and come back to you.

[2021-02-10 10:23] michaelsauter commented on #670
@stitakis I wish it were so, but the pipeline also commits in the orchestration pipeline, and when provisioning quickstarters, it also pushes code into the created repo. We need `write` permissions, but the technical user of the prov app (the "global cd_user") should not be added to the provisioned repo.

[2021-02-10 10:36] stitakis commented on #670
@michaelsauter ok, we keep `write` permission. The bug is in this line:
https://github.com/opendevstack/ods-provisioning-app/blob/27d561e2f6b82cfae75c34398b3d08f257296e74/src/main/java/org/opendevstack/provision/services/BitbucketAdapter.java#L660

is using the `technicalUser` which is this content the default cd_user (global). Instead it shoud use the project specific cd_user. I'll create a fix f

[2021-02-10 10:55] fkressmann commented on #670
@stitakis Thats what I intended initially 👍
But one further question: Does the project specific user even need write permissions? Maybe for initially committing to it but afterwards, this permission should not be necessary anymore, right?

[2021-02-10 10:58] stitakis commented on #670
@fkressmann for initial commit the technical account setup in provision app is used. Please see michaels comment above regarding why `write` permission is needed.

[2021-02-10 11:15] segator commented on #670
but the user we use for project/QS creation is no the same.
as far as I know the user that logins to prov-app is the user used for creations(that btw is something should be changed) because meaning we keep the password in plain in memory.

[2021-02-10 11:49] stitakis commented on #670
@fkressmann @segator sorry, my bad... to correct: the initial commit is done by the cd_user (global or specific). The prov app creates the repository in advance.

[2021-02-11 09:08] stitakis commented on #670
@fkressmann almost done with the fix... I'll change the title of this issue to reflect better the bug

[2021-02-11 09:39] stitakis commented on #670
@fkressmann I couldn't add you to the reviewers list... but anyway follow the link to the PR #671 and you will see the changes

[2021-02-11 11:01] stitakis commented on #670
@fkressmann @segator please note that for already existing projects the stored value of `cdUser` might be `null`. For this projects you will need to add manually the project cd user.

[2021-02-11 11:27] metmajer commented on #649
As @serverhorror and I already spoke, we are working on an internal solution to allow valuable Quickstarters, provided by IT experts, to be consumed by others. However, I do not support the idea of allowing any type of Quickstarter to be offered, since this will only lead to a heap of half-baked solutions nobody will support in the end.

@serverhorror I suggest to close down this ticket.

[2021-02-12 12:56] stitakis commented on #515
@sino92 is this bug still actual?

[2021-02-12 12:59] #393 closed

[2021-02-12 13:00] #177 closed

[2021-02-12 13:07] metmajer commented on #648
@cschweikert I am not too sold on the idea of enhancing the scope of the Prov App, partly because it's not going to be accessible in the near future in our enterprise context anymore. Component provisioning and environment cloning through a VSCode extension sounds like a cool thing. However, in our enterprise context, those activities are served through an ordering process. For the moment, I would

[2021-02-15 09:21] stitakis commented on #625
@serverhorror I'm closing this item... please let me know if we should reopen it.

[2021-02-15 09:21] #625 closed

[2021-02-15 09:24] stitakis commented on #378
I'll close this item as we are achiving this in  #638

[2021-02-15 09:24] #378 closed

[2021-02-15 09:28] stitakis commented on #326
I'll close this as we are achieving technical debt in  #638

[2021-02-15 09:28] #326 closed

[2021-02-15 09:29] stitakis commented on #248
I think this is actual anymore. I'll close it

[2021-02-15 09:29] #248 closed

[2021-02-15 09:30] #196 closed

[2021-02-15 09:31] stitakis commented on #187
I'm closing this as we are using github actions to build the provisioning app.

[2021-02-15 09:31] #187 closed

[2021-02-15 09:32] #179 closed

[2021-02-15 09:36] stitakis commented on #139
I think this feature is already implemented. On project creation special permissions set can be applied to define an admin, team members and read-only group. I'll close this item.

[2021-02-15 09:36] #139 closed

[2021-02-15 09:37] stitakis commented on #149
This functionality is implemented in the new front end, which will be deployed in next release. I'm closing this item.

[2021-02-15 09:37] #149 closed

[2021-02-15 09:38] stitakis commented on #427
I think this is not actual anymore. The preconditions checks provides a fine grained error message. I'll close this item.

[2021-02-15 09:38] #427 closed

[2021-02-17 15:27] segator opened #674 "3.0.x project cd_user requires admin privileges on project level for bitbucket"
**Describe the bug**
Now that cd_user is not admin anymore seems that the new project specific cd_user requires full admin privileges on project level because 401 updating build status for commits on Bitbucket.
Here the api https://developer.atlassian.com/server/bitbucket/how-tos/updating-build-status-for-commits/
Tested with @gerardcl  that works after seeting by hand admin privileges on the spec

[2021-02-18 15:32] michaelsauter commented on #674
I think this is very unlikely. Can you retest in a clean environment?

To set the build status, `WRITE` permissions on the repository should be enough, and the personal access token created by ODS should have that. I would be VERY surprised if project level permissions, especially not admin, play any role here.

[2021-02-19 12:06] serverhorror commented on #649
I don't know why everyone hears "unrestricted". Allowing custom quickstarters can have restricitons in place, of course.

@metmajer Just for my clarification, I'm trying hard to use and phrase things so they don't apply to only internal solutions. And therefore I'm trying to be less specific than I usually would be as to (1) not expose too much information, (2) not anchor people to a specific way

[2021-02-19 12:06] #649 closed

[2021-02-19 19:22] metmajer commented on #649
@serverhorror I understand the challenge, and am facing a similar one from time to time. I believe that custom quickstarters are a better fit in our enterprise environment and should be solved outside of the provisioning app. We talked already about the opportunities, but feel free to reach out anytime!

[2021-03-03 15:47] #637 closed

[2021-03-04 12:22] netzartist opened #675 "Handle logout in SPA"
Following up on #637, the user should be able to logout from the provisioning app. A `/logout` endpoint is already available.

[2021-03-09 11:53] stitakis opened #677 "add openapi documentation"
Openapi documentation could help facilitate integration documentation and integration of other applications.

To implement this support for springdoc-openapi can be added.

[2021-03-09 12:04] stitakis opened #678 "provide component provision status endpoint"
Currently when an component is being provisioned if no error happens a successful response is sent back to the client (front end or endpoint consumer).

However this successful answer just means that the provisioning app was able to process the request and triggered successfully the corresponding jenkins pipeline.

The whole provisioning process is asynchronous. The provisioning app just place a t

[2021-03-09 13:06] michaelsauter commented on #678
Agree that this is a long-standing pain point.

An alternative to querying the pipeline would be to call an prov app endpoint from the pipeline when it is done. However, I think querying (as you suggest) is the better way because that should be more reliable in the face of errors.

That said, it tightens the prov app <-> OpenShift connection further, which has been introduced a bit ad-hoc and clea

[2021-03-24 14:31] #675 closed

[2021-03-26 00:10] jafarre-viewnext commented on #668
A project admin user can be defined when provisioning the project, but I am not sure whether it will always be present. Otherwise, the first admin in the group is a good idea.

I like @segator proposal of opendevstack.org/project.owner. An alternative could be project.opendevstack.org/owner or even .../owner.email.

[2021-04-07 08:45] stitakis opened #681 "Resync outdated storage"
When projects are deleted outside the provisioning app directly in the underlying systems like openshift, jira, confluence and/or bitbucket the storage is not cleaned up.
So, this ends up in the situation where a number of projects that the prov-app shows as existing actually do not exist anymore..

[2021-04-07 08:50] renedupont commented on #681
adding one of your ideas discussed in the past on how to tackle this:
_we could take the list of valid project/namespaces from openshift and display them in the dropdown list for modifying projects.
Additionally a label could be added to the created namespaces to indicate that it was created by the prov-app and is compatible with it._

[2021-04-07 10:38] stitakis commented on #681
@renedupont thanks! I believe the list displayed in the UI should be built up based on the projects that the user is allowed to modify in the underlying systems. This list could be obtained by querying each system and merging into one at runtime once. This would eventually remove the need for an storage.

[2021-04-28 07:18] mmiedaner opened #682 "Log statements reveal secrets"
The front end of the provisioning app includes a lot of console.log statements. As some of logged objects also includes sensible data like the webhookProxySecret. Please remove those console.log statements.

![image](https://user-images.githubusercontent.com/1503940/116362683-9d74a380-a802-11eb-8996-620864006d44.png)

[2021-06-15 13:45] albertpuente opened #690 "Invalid character error response when creating new project in OCP4 cluster"
**Describe the bug**
Following an apparently successful installation of ODS4 in an OCP4 cluster, the provisioning app displays an error whenever a new project is created.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the provisioning app and click on the Provision tab.
2. Select create a new project (with a sufficiently privileged technical account).

**Expected behavior**
A new ODS

[2021-06-15 13:48] michaelsauter commented on #690
This is probably related to https://github.com/opendevstack/ods-provisioning-app/pull/630.

[2021-06-15 14:05] felipecruz91 commented on #690
Tried disabling the preflight checks as follows:

[code]

but the error is the same:

![image](https://user-images.githubusercontent.com/15997951/122066899-6cbced80-cdf3-11eb-8a9c-bf58639aac6d.png)

cc @stitakis

[2021-06-15 14:24] metmajer commented on #690
@stitakis @segator can you please provide a full stack trace?

[2021-06-15 14:25] felipecruz91 commented on #690
I understand by the following errors that the OpenShift REST client being used won't support the API provided by OCP4.

[code]

[code]

What OCP 4 version have you used to test it? We're targeting OCP 4.7.13 at the moment.

[2021-06-15 14:25] metmajer commented on #690
Those errors are familiar to me... can it be that the request returns a HTML page?

[2021-06-15 15:48] clemensutschig commented on #690
maybe a wrong url? can you go and curl the url you are using - and see what is returned, the thing expects json it seems - and it's some x/hmtl

[2021-06-15 15:50] clemensutschig commented on #690
Looks like oauth is kicking in - and that is why you get an html page - just enter it in a browser? - is there something wrongly configured, or tokens NOT sent around?

[2021-06-16 06:57] clemensutschig commented on #690
@stitakis can you work with the team to get this resolved?

[2021-06-17 08:12] stitakis commented on #690
@clemensutschig @metmajer I got access to the ocp4 cluster. I'll take a look together with Albert and Felipe

@albertpuente @felipecruz91 regarding this exception:
[code]
Did you have the chance to verify if...
1. the configured url is correct ?
2. the configured url is available in the cluster ?
3. if is available, is it protected by oauth? Can the cluster be configured to not appliy oauth to the

[2021-06-17 09:26] stitakis commented on #690
@clemensutschig @metmajer an update on this...

we found out so far that:

A. the first attempt to disable the service with the config flag `services.openshift.enabled=false` failed because the same property was defined as `services.openshift.enabled=true` below in the configuration `application.properties`. We tested this flag `services.openshift.enabled=false` and worked expected.

B. the proper

[2021-06-17 09:34] stitakis commented on #690
@clemensutschig @metmajer @michaelsauter

it was a configuration issue. No bug at all.

We found the right value for the property `openshift.api.uri` and successfully tested the prov-app.

I'll close this item.

Thanks @felipecruz91 and @albertpuente for the support!

[2021-06-17 09:34] #690 closed

[2021-06-22 20:43] serverhorror opened #691 "Better integration with Nexus"
# feature request

I'd like to see better integration with Nexus. Currently _local_ usage of nexus:

* depends on extracting the secret (from OpenShift) so developers can make use of Nexus locally.
* doesn't provide the repositories one would expect

We are looking at local usage of Nexus because we want to be able to run builds and test locally with an environment that resembles the CI environmen

[2021-07-20 17:07] netzartist opened #692 "SPA dependencies update incl. Angular 12"
Includes:
- Related libs update
- Yarn + sass-lint removal

[2021-07-29 10:35] #692 closed

[2021-07-30 08:55] stitakis commented on #668
@felipecruz91 is this item still planned for ODS 4.0.0 or we could move it to ODS 4.1.0?

[2021-07-30 08:57] stitakis commented on #638
some refactoring where done in ODS 4.0.0 but not all were completed. I'll add this item to ODS 4.1.0

[2021-07-30 08:58] #670 closed

[2021-07-30 08:59] stitakis commented on #678
moved to ODS 4.1.0

[2021-07-30 11:14] felipecruz91 commented on #668
@metmajer Would you reply to the previous comment?

[2021-07-30 13:12] metmajer commented on #668
@felipecruz91 this sounds super useful. However, there were issues with the service account permissions. @clemensutschig knows more. If there is no quick solution ahead, we will have to defer.

[2021-08-03 17:42] netzartist commented on #533
An upcoming testing refactoring will include this service test

[2021-08-03 17:42] #533 closed

[2021-08-03 17:42] netzartist commented on #534
An upcoming testing refactoring will include this service test

[2021-08-03 17:42] #534 closed

[2021-09-06 09:08] stevegbrooks opened #697 "Input to component ID should be checked before provisioning"
If a user inputs a component ID (e.g., 'docs') that collides with a name of a file/directory in https://github.com/opendevstack/ods-quickstarters, then during the Jenkins build it will return this error:

"Error: Target directory 'docs' must not exist yet"

I suggest a feature in the provisioning app that sanitizes the input so this error never happens.

[2021-10-15 13:08] jafarre-bi opened #698 "The API endpoint /project/validate?projectName=xxxx searches by project key instead of project name"
**Describe the bug**
When calling the API endpoint /project/validate?projectName=xxxx, the project is searched by key and not by name.
The behaviour is exactly the same as that of the endpoint /project/key/validate?projectKey=xxxx

**To Reproduce**
Please recall that this endpoint's functionality is checking whether the specified project name is available (no project exists with that name). In cas

[2021-11-04 19:58] apeltzer commented on #166
Would be great to enable users (after a sanity check / warning / ...) to delete the entire stack, either from the existing provision app ("deprovision") or via ServiceNow.

[2021-11-04 20:51] metmajer commented on #166
@stephenkehoe as discussed, time-boxed sandbox environments are on the roadmap and their creation will follow the same process we're using for deploying regular environments.

@apeltzer a simple deletion is not possible in all cases, usually a more complex decommissioning including documentation generation will be needed. With the availability of sandbox environments, the need for decommissioning

[2021-11-09 13:24] AlberTajuelo commented on #166
It would be great to have this feature 👍

[2021-11-09 19:59] tbugfinder commented on #166
A sandbox environment isn't comparable with an automated decommissioning.
It sounds like the technical details would get implemented anyway for the time-boxed environments. As this project is also about using automation for documentation, the decommissioning should be on the roadmap.
As a developer I can change (add / remove) packages, code, tests, resources, etc. from my environment but the decom

[2021-11-12 10:48] stitakis commented on #691
@serverhorror first, my apologies for the late feedback on this! Second, excellent idea. I'm for everything that empower developers to make their work more efficient and effective, like in this case, providing out of box nexus repositories for sharing libraries and other artifacts. Additionally I believe this enhancement could save effort for the platform supporters in the enterprise side.

@micha

[2021-11-12 11:24] michaelsauter commented on #691
I see the two use cases you mention as two separate requests.

The first one ("1. create a new project") has been discussed in the past, see https://github.com/opendevstack/ods-core/issues/321 and https://github.com/opendevstack/ods-core/issues/169. Work on that was stopped because it proved to be tricky for a variety of reasons. In general I would highly welcome progress on this as well, the shar

[2021-11-16 13:23] clemensutschig opened #699 "3.x (CI BUILD) - "DELETE_COMPONENT" Provision API endpoint fails with HTTP 401"
**Describe the bug**
ODS CI Build for 3.x fails during TestVerifyOdsQuickstarterProvisionThruProvisionApi

**Affected version (please complete the following information):**
 - OpenShift: [3.11]
 - OpenDevStack [3.x]

**Log Output (ensure to remove any confidential information like tokens, project names, etc.**
[code]

[2021-11-16 13:40] clemensutschig commented on #699
I am really confused ... I took a look at the codebase:

in 3.x: https://github.com/opendevstack/ods-core/blob/3.x/tests/ods-verify/verify-ods-project-provision-api_test.go
- there is no such test?!

and in 4.x/master:
https://github.com/opendevstack/ods-core/blob/4.x/tests/smoketest/provision-api_test.go#L101

[2021-11-16 13:40] clemensutschig commented on #699
@stitakis any ideas? ...

[2021-11-16 19:58] clemensutschig commented on #699
And now the CI worked again .. this must be some weird race condition

[2021-11-16 19:58] #699 closed

[2021-11-18 11:51] serverhorror commented on #691
I see, I'm looking at this as a very naive user. The "project" to me is some kind of namespace and I'd love to be able to add/remove project members and _know_ that access is handled.

_I think you're right that should probably be a proposal in itself. I'll stop mentioning that stuff here._

In my head that's the place I'd go to if I wanted to add "stuff" to my project. That's just me and I might

[2021-11-24 11:04] clemensutschig opened #702 "DELETE_COMPONENTS API stores and returns project data with deleted quickstarter"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
- provision a project and a component
- use the api with delete_componet - and notice the quickstarter (although deleted) is still in the returned list

**Expected behavior**
The project structure returned does NOT contain the deleted quickstarter anymore (only the repo which we DO NOT delete by design)

**Affected version (pl

[2021-11-24 11:19] stitakis commented on #702
@clemensutschig I'll take a deeper look at this, just a thought in advance, I think we should just return OK (HTTP code 200) if the process of the request was successful or otherwise an error of course. This should be enough feedback for any client.

[2021-11-24 11:25] clemensutschig commented on #702
@stitakis - let me play a little... there is something wrong in our tests as well, because they should check this (and for some reason the e2e test works ..)

[2021-11-24 11:32] clemensutschig commented on #702
the culprit is
https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/controller/ProjectApiController.java#L924

depending what you send via API it will remove it (hashcode!) or not.

I am still trying to figure out why our tests don't catch this

[2021-11-24 13:01] clemensutschig commented on #702
Hurray - I have a fix :)

[2021-11-24 14:36] clemensutschig commented on #702
I left the return structure as is, wihch is also nice for a consumer 🗡️

[2021-11-25 13:13] #702 closed

[2021-11-26 08:05] clemensutschig opened #710 "API DELETE*: wrong jenkins run job (lastExecutionJobs) returned"
**Describe the bug**
The API for delete* does not return the right execution list of jobs

**To Reproduce**
1. provision project and component
2. use DELETE_COMPONENT API
3. notice `lastExecutionJobs` still containing the provision job (and not the new delete component one)

**Expected behavior**
`lastExecutionJobs` to contain the right jenkins run link

**Affected version (please complete the fol

[2021-12-02 12:59] jordivx opened #706 "Add configurable disclaimer text in the provisioning app"
As we need to show a disclaimer to our users, we would need to add a configurable disclaimer text to be shown in all the pages.

Solution proposed:
Add a new property called "provision.ui.disclaimer" that can be empty or a text with links inside.
In the header template, we check if it's informed and in that case we display a new section with the message inside.

[2021-12-02 15:02] #706 closed

[2021-12-14 09:51] #710 closed

[2022-01-05 07:16] stitakis opened #713 "missing bitbucket repository description on repository creation event"
On component provisioning event the the descriptoin of bitbucket repository is missing.

[2022-01-06 08:59] #713 closed

[2022-01-18 17:16] braisvq1996 opened #715 "Provisioning app tries to create the project again just after successfully creating the project"
**Describe the bug**
Once we create the project with the Prov-app successfully, we can see in the logs that it tries to create it again and the preconditions falied as it has already been created.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy prov-app from 4.x tag in Dockerhub
2. Create a project with specialPermissionSet=true (with groups for read, write, admin and cdUser)
3. Check

[2022-01-18 20:02] clemensutschig commented on #715
Can you put the entire log of a project Provision call here.. this is a major regression @stitakis

[2022-01-19 08:16] braisvq1996 commented on #715
@clemensutschig @stitakis
Here the log for a project we created yesterday: [DUMS2_public.log](https://github.com/opendevstack/ods-provisioning-app/files/7895072/DUMS2_public.log)

We test it with the UI (the old one, with frontend.spa.enabled=false).

The problem is that it is running the preflight checks after the project was created successfully and this trace ``` Done with all create project pr

[2022-01-19 12:00] clemensutschig commented on #715
@braisvq1996 - there must be more (the second request) ... check the overall log (and not the component specific one) ...

[2022-01-19 12:04] clemensutschig commented on #715
and you get the error back just via API? ... this is super weird, because the same API is used for the UI and the CURL interface

Can you check if you see something on the CALLER side

[2022-01-19 13:20] braisvq1996 commented on #715
Now It I got the error also from the UI when creating a project
I will prepare the overall log and put it here

We are also checking from the Caller side, but the this last error and the log from yesterday were from Project creations done through the UI

[2022-01-19 17:24] braisvq1996 commented on #715
We have created some projects with the UI, he script in [ods-core](https://github.com/opendevstack/ods-core/blob/master/tests/scripts/provisioning-app-api.sh) and our provisioner client .

The project creation only gives us the error if we create it with the UI or the provisioner client, if we use the script in ods-core it works without problems

[2022-01-20 12:01] stitakis commented on #715
@braisvq1996 I'm not aware of any change that could cause a regression issue in the project provisioning flow. I'll take a look at the log file.

[2022-01-20 12:07] stitakis commented on #715
@braisvq1996 can you please verify in Jira when the project `DUMS2` was created? The ProvApp pre flight condition checked this at 2022-01-18 16:24:59. At this point the project already existed.

[2022-01-20 16:04] braisvq1996 commented on #715
@stitakis and me are taking a look into this issue

[2022-02-28 19:10] tbugfinder opened #719 "docs - antora3 preps - xref errors in 3.x/4.x/master"
**Describe the bug**
XREF in docs branch 3.x/4.x/master invalid

Warning could be fixed, too - code variables require escape characters in asciidoc.
[code]

https://github.com/opendevstack/ods-documentation/issues/66

[2022-03-01 15:40] stitakis opened #720 "Openshift service adapter is timing out with openshift 4"
The openshift service adapter is timing out on API calls with red hat dedicated oc4.

The current used openshift library uses openshift 3.x API, which is probably is not enabled anymore in dedicated oc4.

While this needs to be confirmed, the solution to this problem would be an upgrade of the library to support oc4 API.
However, we should decide if we want to maintain support for oc3. If this is

[2022-03-01 15:47] stitakis opened #721 "Disable openshift service adapter by default"
To avoid problem in the corporate environment while this issue is open #720 we will disable the openshift service adapter by default

[2022-03-01 15:49] clemensutschig commented on #720
did you folks try with the OCP4 libs, and that works? - just asking :) should be easily reproducable locally, or?

[2022-03-01 15:54] oalyman commented on #720
I think you need to use this as an alternative https://github.com/fabric8io/kubernetes-client/

[2022-03-01 15:57] stitakis commented on #720
I haven't used the ocp4 libs yet... I'm currently focusing on other topics... if you time to fix, I'm happy to give a hand

[2022-03-01 16:30] stitakis commented on #715
@braisvq1996 was you able to make any progress on this?

[2022-03-07 08:17] #720 closed

[2022-03-08 07:23] clemensutschig opened #729 "latest CI build fails with Prov APP - fabric exception"
[code]

[2022-03-08 07:24] clemensutschig commented on #729
@stitakis :(

[2022-03-08 07:37] clemensutschig commented on #729
maybe related to ...
https://github.com/spring-cloud/spring-cloud-kubernetes/issues/670#issuecomment-736136770 ?

[2022-03-08 07:46] clemensutschig commented on #729
where is the configuration of the OCP cluster endpoint etc .. is this using the right port?

[2022-03-08 07:59] stitakis commented on #729
@clemensutschig the upgrade of the kubernetes client that we introduced with #727 didn't work for this reason we disabled the openshift service again with #728, however this seems to have no effect and therefore we have this issue reported here. I investigating this now and fix today. I hope once, this is fixed the ODS CI will be green again

[2022-03-08 08:02] clemensutschig commented on #729
I guess you would need to do this in the config map of ODS-core?

[2022-03-08 08:07] stitakis commented on #729
exactly, PR will be ready in few minutes

[2022-03-09 13:37] stitakis opened #730 "ODS AMI E2E quickstarter prov app fails due to no nexus equal true"
This also affect branches `master` and `4.x`

logs:
[code]

[2022-04-19 10:05] albertpuente opened #733 "Remove auxiliaryRepositories occonfig-artifacts and design"
**Is your feature request related to a problem? Please describe.**
Users find it confusing to have these two repositories always added without further info, content or explicit purpose.

**Describe the solution you'd like**
Simply remove their creation, users can nevertheless just add aux repositories when needed.
https://github.com/opendevstack/ods-provisioning-app/blob/fc16b673d0008015a9f05dc1fc

[2022-06-08 10:36] victorpablosceruelo opened #736 "Regression in QS e2e-spock-geb -- should not run groovy tests as part of junit tests."
**Describe the bug**
There is a regression introduced by PR https://github.com/opendevstack/ods-quickstarters/pull/812

https://github.com/opendevstack/ods-quickstarters/pull/812/files#diff-b58e39d227ecddbb0860222a872c81db863a1c7e13c1aa51a621cf1e522af5c8

148 +  useJUnitPlatform()

**To Reproduce**
Steps to reproduce the behavior:
Create a module using QS e2e-spock-geb and add a groovy test.
Since

[2022-06-08 11:09] #736 closed

[2022-06-20 06:35] victorpablosceruelo opened #737 "jcenter repository no more available."
**Describe the bug**
When trying to build the provisioning app, it tries to download libraries from jcenter, no more available.
For more details, see https://github.com/opendevstack/ods-quickstarters/issues/804

**To Reproduce**
Try to build the OdsBox.

**Expected behavior**
It should not try to download from jcenter.

**Screenshots**
N/A

**Affected version (please complete the following informa

[2022-06-22 07:09] victorpablosceruelo opened #738 "Could not find com.atlassian.platform:platform:3.5.2"
**Describe the bug**
Compilation of provisioning app returns
Could not find com.atlassian.platform:platform:3.5.2

**To Reproduce**
Steps to reproduce the behavior:
Try to build odsBox using Jenkins pipeline.

**Expected behavior**
Provisioning app gets compiled.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Affected version (please complete the following informa

[2022-06-24 06:26] victorpablosceruelo commented on #738
[code]

[2022-06-30 06:32] victorpablosceruelo commented on #737
The jcenter problem affects some atlassian packages we use:

[Maven Repository: com.atlassian.security » atlassian-cookie-tools » 3.2.14 (mvnrepository.com)](https://mvnrepository.com/artifact/com.atlassian.security/atlassian-cookie-tools/3.2.14)
Note: this artifact is located at [Atlassian](https://mvnrepository.com/repos/atlassian-packages-external) repository (https://packages.atlassian.com/mvn

[2022-08-16 14:23] braisvq1996 opened #740 "Prov-app error with Atlassian Crowd 5"
**Describe the bug**
After an upgrade to Atlassian Crowd version5.x, the Prov-app could no longer validate users against it.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to Atlassian Crowd versioon 5.x
2. Try login with prov-app

**Screenshots**
Atlassian Crowd have removed SOAP api in it's 5.0 release -> [release notes](https://confluence.atlassian.com/crowd/crowd-5-0-upgrade-note