[2018-07-27 20:33] clemensutschig opened #1 "Add Multi cluster /environment support"
Today the Provision App is tied to One target environment (thru One rundeck connection). in Case of multiple ones - it needs to be deployed multiple times - eg on each env

[2018-07-30 07:10] michaelsauter commented on #1
Hmm, is this really bad? Maybe it's not too bad to have the prov app running in the target environment itself?

[2018-07-30 10:55] michaelsauter opened #2 "BITBUCKET_HOST is missing in ocp-config"

[2018-07-30 12:55] michaelsauter commented on #2
Addressed in #4.

[2018-07-30 12:55] #2 closed

[2018-08-07 14:13] clemensutschig opened #7 "Provisioning app does not return error if rundeck adapter fails"

[2018-08-09 06:32] #7 closed

[2018-08-09 06:33] michaelsauter opened #10 "Sporadic error from mail rendering"
We have seen the following a few times now:

[code]

It does not happen all the time, so not sure what the cause is.

[2018-08-09 06:36] michaelsauter commented on #10
FYI @ManuelFeller

[2018-08-09 07:01] clemensutschig commented on #10
@michaelsauter  - this is a known issue - if you provisioned an app a while ago - in this case the openshift url - such as jenkins-foo-cd.22ad.bar.openshiftapps.com is w/o protocol ... in the prov-history storage (go to pod - cd opt/provision/history/ and into the *project.txt) .. - just add the protocol - closing as not a bug

[2018-08-09 07:01] #10 closed

[2018-08-09 07:08] michaelsauter commented on #10
Oh, great to know! @ManuelFeller I added the protocol in the pod for you. Next provisioning should work then.

[2018-08-09 07:31] michaelsauter opened #11 "CD user secrets are missing"

[2018-08-09 07:57] #11 closed

[2018-08-15 07:19] tjaeschke opened #14 "Missing role bindings?"
@michaelsauter I have a question regarding the import of the provisioning app via tailor. I had to add the system:image-puller role for the cd namespace to the system:serviceaccount:prov-cd:default manually, after I had imported the app via tailor and started to use Jenkins in the prov-cd project. Before this no Jenkins slaves could be spawned because of the missing role.
Are we missing something

[2018-08-15 07:46] michaelsauter commented on #14
Hmm, could be that they are missing. In theory we can import any resource, so we can also include the rolebinding. I guess I did not include them as I thought all those were added automatically ...

[2018-08-15 07:58] tjaeschke commented on #14
Talked with Clemens about it yesterday. If you provision an app with the prov app, the bindings are set automatically in the provison scripts, but not, if you import something manually. Maybe it's a cluster configuration thing.

[2018-08-16 06:38] clemensutschig opened #15 "mismatch in bc and 0.1jenkins shared lib"
prov app production latest fails ...

[prov-cd-prov-app-dev] Running shell script
+ oc patch bc prov-app --patch '
   spec:
     output:
       to:
         kind: ImageStreamTag
         name: prov-app:3-8d0fa827
     runPolicy: Serial
     source:
       type: Binary
     strategy:
       type: Docker
       dockerstrategy: {}
    ' -n prov-dev
The BuildConfig "prov-app" is invalid:
* spec.source

[2018-08-16 06:38] clemensutschig commented on #15
@tjaeschke  - fyi ..

[2018-08-16 06:39] tjaeschke opened #16 "bc mismatch in provisioning app configuration"
Currently there seems to be a template mismatch. After importing the provisioning app with tailor I get the following error as soon as a jenkins build has been triggered in the build console:

[code]
The pipeline uses the shared-lib latest

[2018-08-16 06:42] clemensutschig commented on #16
dupe of #15

[2018-08-16 06:42] #16 closed

[2018-08-16 07:33] tjaeschke commented on #15
library identifier: 'ods-library@0.1-latest', retriever: modernSCM(
  [$class: 'GitSCMSource',
   remote: sharedLibraryRepository,
   credentialsId: credentialsId])

[2018-08-22 12:01] tjaeschke opened #18 "Add Update guide"
Add section to documentation how to update between releases or update to HEAD

[2018-08-22 23:55] michaelsauter commented on #18
@tjaeschke A general update section is in the PMC / CONTRIBUTING.md. I guess that should be moved to a better place, and extended with the info for the prov app?

[2018-08-25 07:22] clemensutschig opened #19 "Provide hook/interface to create access groups used for atlassian during provisioning"
Most users of Open Dev stack will have crowd and an id mgmt behind such as azure ad.. de need to allow them to create groups on the fly that can be be assigned as access groups to the newly created space/projects

[2018-08-25 07:29] clemensutschig commented on #19
@tjaeschke- i would go and create a new package called Adapter - that contains this Interface.. in Case you start refactoring be aware

[2018-09-10 10:34] clemensutschig commented on #1
we decided to leave as is . one instance of the app per env

[2018-09-10 10:34] #1 closed

[2018-09-10 10:35] clemensutschig commented on #14
@michaelsauter  / @tjaeschke  - this is expected - and either needs to go into the getting started - or into tailor. make a call and implement it that way :)

[2018-09-10 11:45] michaelsauter commented on #14
I think we should try to put it into the templates used by Tailor. I can give that a shot and if it does not work nicely, we can add it to the getting started guide ...

[2018-09-10 12:47] #19 closed

[2018-10-06 08:44] clemensutschig opened #24 "add jenkins / openshift / bitbucket project URLs to jira space"
today the jira space created only contains confluence links .. it should contain ALL necessary links
1. bitbucket project
2. openshift envs
3. jenkins link

[2018-10-11 13:40] clemensutschig opened #26 "Provision app should support different (jira/confluence) project types"
today - the template used for jira & confluence is hardcoded (thru a config file/map) and for jira in the source

`#Data for confluence space creation
confluence.blueprint.key=com.atlassian.confluence.plugins.confluence-software-project:sp-space-blueprint`

 This should be at least configurable

[2018-10-12 14:42] clemensutschig opened #27 "Provision app -bitbucket webhook creation fails against bitbucket 5.13 while working against 5.11"
Prov app code not compatible with 5.13 bitbucket :(

5.13 uri: plugins/servlet/webhooks/projects/OPENDEVSTACK/repos/ods-core
5.11 uri: plugins/servlet/webhooks/repository/OPENDEVSTACK/ods-core/settings

`      String url = String.format("%s/plugins/servlet/webhooks/repository/%s/%s/settings",
      bitbucketUri, project.key, repo.getSlug());
`

@tjaeschke @rattermeyer  fyi

[2018-10-12 17:52] clemensutschig commented on #27
513 -> uri: /rest/api/1.0/projects/{project}/repos/{slug}/webhooks - POST

`{"name":"xx", "events":["repo:refs_changed","pr:merged"], "configuration":{"secret":"ssss"},"url":"https://","active":true}
`

[2018-10-13 11:01] clemensutschig opened #28 "cd_user not added when provisioning new bitbucket repo (thru quickstarter)"
bug in the codebase - createRepositoryPermissions - tries to set cd_user as group .. this is wrong.

[2018-10-13 13:49] clemensutschig opened #29 "Web UI / CURL gets 504 Gateway timeout after 30s during provisioning of quickstarters / projects .."
reproduces via API as well

19), continuing anyway.
* STATE: PROTOCONNECT => DO handle 0x66f160; line 1596 (connection #0)
} [5 bytes data]

} [352 bytes data]
* upload completely sent off: 352 out of 352 bytes
* STATE: DO => DO_DONE handle 0x66f160; line 1658 (connection #0)
* STATE: DO_DONE => WAITPERFORM handle 0x66f160; line 1783 (connection #0)
* STATE: WAITPERFORM => PERFORM handle 0x66f160;

[2018-10-15 16:29] #28 closed

[2018-10-15 17:09] clemensutschig opened #31 "Provisioniong app should show rundeck job reference(s) in summary"
Today one needs to look into rundeck - and find the job that prov app triggered,.. we have the execution in the prov app already .. e.g.

`{"id":34,"href":"https://rundeck.../api/24/execution/34","permalink":"https://rundeck.....com/project/Quickstarters/execution/show/34","status":"running","project":"Quickstarters" ...... }`

[2018-10-16 12:03] #31 closed

[2018-10-17 03:42] clemensutschig commented on #14
Whats the Status of this? .. the Trick is actually a little more than prov App..  in cd project we need also a binding for system:authenticated to be allowed to pull Images..  this is a 1.0 fix i suggest.

[2018-10-17 03:43] clemensutschig commented on #24
Open Ticket with atlassian... Sounds like a simple issue... nur appearently a Tricks impl...

[2018-10-17 03:45] clemensutschig commented on #18
I suggest we put this into the readme.md of prov App..  thoughts? I need to write it up for our prod cluster as well..

[2018-10-17 07:51] michaelsauter commented on #14
@clemensutschig The status is that I did not look into this since my comment ... do you want to continue with your idea?

[2018-10-17 10:47] clemensutschig commented on #14
@michaelsauter - yup .. I think this is the most sutainable way - and it also allows people to test the rundeck setup @tjaeschke  - thoughts?

[2018-10-17 11:11] tjaeschke commented on #14
@clemensutschig  I've thought about it and I agree with you. I think this would be a good way to test the rundeck setup and if successful to have the projects in Openshift.

[2018-10-17 15:28] clemensutschig opened #34 "Provision app does NOT set admin group into project / repo permissions"
Extreme cornercase - API is used with a technical user - now a user logs with admin rights logs in  - sees the project and provision will fail, as the repository cannot be created (as he lacks rights).

Won't fix -> Admins should have global repo permissions. (which can be configured)

[2018-10-17 15:29] clemensutschig commented on #34
Won't fix -> Admins should have global repo permissions. (which can be configured)

[2018-10-17 15:29] #34 closed

[2018-10-17 19:29] stitakis commented on #29
Hi,
the class org.opendevstack.provision.util.RestClient creates a http client with a timeout of 30 secs (see line 41: int connectionTimeout = 30);
I think, this might be causing the observed ConnectionClosedException in ods-provisioning-app.

[2018-10-18 12:06] clemensutschig commented on #29
implemented on premise as test -> works! ... finally

[2018-10-18 12:06] #29 closed

[2018-10-19 09:58] clemensutschig opened #35 "Project returned from provision API contains jira project API REST url instead of browser url"
"jiraUrl":"https://jira..../rest/api/latest/project/10308"

should instead contain
https://jira..../browse/project-key

so people can click on it and get directly to the JIRA project thru their browser

[2018-10-20 06:36] clemensutschig opened #36 "Harmonize Log format so People can Search easier for errors that happened during specific Project creation/update"

[2018-10-20 06:39] clemensutschig opened #37 "Provisioning App JS UI does not work with IE"
With IE when an error is reported back from the API (eg lacking rights) the modal status/updatw dialog is not shown - leading to massive confusion. Same thing works well with google chrome

[2018-10-20 07:02] clemensutschig opened #38 "Refactor prov app services & fix sonarqube findings"
Plenty of code duplication..  especially on the http post/put side jira/confluence/bitbucket-adapter

[2018-10-22 10:16] clemensutschig opened #39 "Upgrade provision app to spring boot 2 and spring sec 5"
1.5.9 is horribly outdated

[2018-10-22 12:03] SimonGolms opened #40 "Provisioning App should set the Project Permissions only on group basis. No user references"
When creating a new project, the project permissions for administrator/owner is set on a user Basis. they should be group based and optional user based. This is especially True for confluence and for bitbucket

[2018-10-23 08:33] #35 closed

[2018-10-23 14:27] borja44 opened #44 "Split / Separate "tracking projects/documentation" from source control"
Hi All This in regards to the Atlassian suite w.r.t to BITBUCKET as this is a code repository would recommend to
segregate the usage from JIRA and Confluence. As the user/project requirement in some cases be different for all three applications.
And i would like to recommend to provision all three application separately

Cheers

[2018-10-23 14:33] clemensutschig commented on #44
@borja44  - I can understand the split -> jira&confluence ||| Bitbucket... that may be supported in the future.

Current logic: create bitbucket repo / project in ANY case - no matter if you choose atlassian &| openshift

No support for all 3 - jira w/o confluence does not make any sense

[2018-10-23 15:20] #37 closed

[2018-10-30 12:55] clemensutschig opened #46 "jira project provisioning does not link special permission set - when project key upper&lowercase"
2018-10-30 12:27:37.954 DEBUG 1 --- [nio-8080-exec-3] o.o.provision.services.JiraAdapter       : Creating new jira project
--
  | 2018-10-30 12:27:37.986 DEBUG 1 --- [nio-8080-exec-3] o.o.provision.services.JiraAdapter       : Call to: https://x/rest/api/latest/project  :new:false
  | 2018-10-30 12:27:38.711 DEBUG 1 --- [nio-8080-exec-3] o.o.provision.services.JiraAdapter       : {"self":"x/rest/a

[2018-10-30 16:59] clemensutschig opened #47 "allow to disable mail send from provision app"
currently provision app tries to send an email upon successfull provisioning. When configured wrong it will just dump the error, and still return success.

We need a way to disable email where not needed, e.g. if API is used and embedded in another app

[2018-10-31 07:34] michaelsauter opened #48 "Unify prov-dev and prov-test OCP config"
Between the environments `prov-dev` and `prov-test`, the YAML templates should be exactly the same. Those two environments should only differ in parameters.

[2018-11-05 17:08] clemensutschig commented on #44
@borja44 - fix is to create the bitbucket project only when openshiftproject == true.

[2018-11-05 17:09] clemensutschig commented on #40
except for the CD_USER which is seeded now by default - no other users are seeded in case of create special permission set

[2018-11-05 20:50] SimonGolms commented on #40
@clemensutschig - agree

[2018-11-06 13:14] #47 closed

[2018-11-06 13:14] #46 closed

[2018-11-06 13:15] clemensutschig commented on #40
fixed as much as possible - can't prevent the setting of the user that created the space .. :(

[2018-11-06 13:15] #40 closed

[2018-11-06 13:15] #44 closed

[2018-11-06 15:41] guillebianco opened #50 "Limit project membership in Openshift"
When a new project in deployed in openshift, all system-authenticated users have view and edit rights.
Can it be changed in future releases?

[2018-11-06 16:19] SimonGolms opened #51 "Missining comment functionality in JIRA"
A Member of the *-MANAGER or *-STAKEHOLDER Team cannot comment on an issue.
The respective project permission scheme should be adjusted like this:
![image](https://user-images.githubusercontent.com/17799657/48077537-d14d5000-e1e7-11e8-968f-2b43dd4bfd46.png)

[2018-11-07 06:48] clemensutschig commented on #51
@SimonGolms
this is the current setup
[code]

So to be clear on the requirements - all groups can add and edit comments?

[2018-11-07 07:31] clemensutschig commented on #50
@guillebianco  - this is sort of per design. As we wanted people to be able to see what other people do. This needs tightening - I know ... :)

There is two topics that hold an implementation rights now.
- short UPN vs full email as login ctx (I already propulate the admin of the project - but that sets the email :/)
- AD role model.

Once we have sorted this out - happy to build :)

[2018-11-07 08:04] clemensutschig commented on #51
@SimonGolms

2018-11-07 07:58:06.786 DEBUG 1 --- [nio-8080-exec-4] o.o.provision.services.JiraAdapter       : {"errorMessages":[],"errors":{"permission":"Unrecognized permission: MODIFY_REPORTERS"}}
--
  | 2018-11-07 07:58:06.786 ERROR 1 --- [nio-8080-exec-4] o.o.provision.services.JiraAdapter       : Could not update permissionset: SPEM1
  | Exception: 400: Could not POST > org.opendevstack.provi

[2018-11-07 09:38] clemensutschig commented on #24
![image](https://user-images.githubusercontent.com/40628552/48120807-795c2b00-e273-11e8-9bc7-be7361ca329b.png)

[2018-11-07 15:46] clemensutschig commented on #36
logs per project in opt/provision/history/logs

[2018-11-08 08:34] clemensutschig opened #53 "jenkins build of provision app does not surface junit results / failed test outputs"
Already fixed in the boilerplates (be-spring-boot) - just uptake into prov-app
https://github.com/opendevstack/ods-project-quickstarters/blob/master/boilerplates/be-springboot/Jenkinsfile#L40

vs
https://github.com/opendevstack/ods-provisioning-app/blob/master/Jenkinsfile#L47

[2018-11-09 14:06] michaelsauter commented on #18
This related to https://github.com/opendevstack/PMC/pull/8.

[2018-11-11 09:12] clemensutschig commented on #39
For release 1 i suggest we uptake 1.5.12 which is the latest 1 version.. to Not bring too many possible bads.. @michaelsauter

[2018-11-12 05:58] clemensutschig commented on #39
ok - upgrade to .15 works with a few tweaks, upgrade to 2.0.5 shows a gazillion of failed tests - something pretty serious on mockito spy must have changed :(

[2018-11-12 06:12] clemensutschig opened #55 "upgrade provision app to spring boot v1 latest (1.5.15)"
fix for ODS v1 - fup from  #39

[2018-11-12 08:08] michaelsauter commented on #39
Using 1.5.15 for v1 of OpenDevStack sounds good to me.

[2018-11-12 08:47] #53 closed

[2018-11-14 07:16] clemensutschig commented on #55
@michaelsauter.. as its linked to the Version 2 upgrade i would leave it in? Its just a shortcut f7x für v1

[2018-11-16 13:36] borja44 opened #57 "Raise Permissions on Confluence Groups when special permission set = true"
We've detected the permissions assignation on the 3 different GROUPS for CONFLUENCE SPACES that have some permission-attributes DISABLED.

MANAGER -
STAKEHOLDER -
TEAM -
![permissiosn](https://user-images.githubusercontent.com/10860118/48624429-a794e580-e9ac-11e8-83ad-9859f36ec9e9.png)

[2018-11-16 21:50] rattermeyer opened #58 "git url created from Bitbucket 5.13.0+ does not follow conventions"
Normally, we expect in the downstream jobs (e.g. when creating the pipline build configuration), that the http git url contains the technical user.
The logic sits in BitbucketAdapter. It expects that the clone url returned by bitbucket contains the username of the currently logged in user.
This behavior seems to have changed from Bitbucket 5.13.0+ on. The clone url does no longer contain a usernam

[2018-11-16 22:02] clemensutschig commented on #58
Richard whats the issue here? This works well in premise

[2018-11-17 15:43] clemensutschig commented on #58
@rattermeyer  - we run Atlassian Bitbucket v5.13.0

and I just checked prov app from last weeks ... - no user in there ...

    },
    "booth1-fe-angular" : {
      "clone" : [ {
        "name" : "ssh",
        "href" : "ssh://git@bitbucket-dev.....:7999/booth1/booth1-fe-angular.git"
      }, {
        "name" : "http",
        "href" : "https://bitbucket-dev...../scm/booth1/booth1-fe-angular.git"

[2018-11-17 15:45] clemensutschig commented on #50
@guillebianco  - can you please write down the requirement?

I am ok to remove edit. I strongly vouch for VIEW ... (basic used we can also discuss :))

[2018-11-17 17:13] rattermeyer commented on #58
The bug is shadowed by a ["hack"](https://github.com/opendevstack/ods-jenkins-shared-library/blob/12845dbee2f2ab9308561f7f0905e918cb3c46c9/src/org/ods/OdsContext.groovy#L298) in the jenkins shared library. If your bitbucket host by chance is called "bitbucket" the shared libray again inserts the cd_user. This should be configurable and not hard coded.
@tjaeschke wanted to file an issue for that as

[2018-11-17 20:10] clemensutschig commented on #58
@rattermeyer- approved.. Please ensure no regressions.. aß we come to v1.. we have to be super carefull

[2018-11-18 13:32] clemensutschig commented on #57
permissions in question

- REMOVEATTACHMENT
- REMOVEPAGE
- REMOVECOMMENT

[2018-11-19 09:39] borja44 commented on #57
Hi @clemensutschig this is not a blocker, but we are already using this script and we've to modify one by one manually all current created groups spaces, so, this means is important.

I'm also clarifying permissions:

**MANAGER**
- REMOVEPAGE
- REMOVEATTACHMENT
- REMOVECOMMENT

**If** a user accidentally adds an attachment/space/comment will have to wait for the space admin rather than the team ma

[2018-11-20 14:23] clemensutschig commented on #57
@borja44  - please verify on premise - with the link I provided - target for prod -> friday 6pm

[2018-11-20 14:32] clemensutschig commented on #57
**
![image](https://user-images.githubusercontent.com/40628552/48780125-72a0cf80-ecd9-11e8-9250-ed9e209f5430.png)
**

[2018-11-21 08:00] #57 closed

[2018-11-29 14:42] #58 closed

[2018-11-29 15:27] borja44 opened #63 "Spike: Permissions schemes in Jira - project roles / ..."
Permissions schemes in Jira should type permissions to project roles and not directly to permission groups

[2018-11-29 16:18] clemensutschig commented on #63
@borja44  - sorry but I dont understand this reqiurement .. how does that tie to groups coming thru crowd?

[2018-11-29 16:37] borja44 commented on #63
I've transferred this information to an expert on this topic so, he'll back via mail to me and will update it here

[2018-11-29 16:39] borja44 commented on #63
closed by error, reopen again

[2018-11-30 09:21] michaelsauter commented on #48
Done in #62.

[2018-11-30 09:21] #48 closed

[2018-11-30 09:21] michaelsauter commented on #18
This will be documented in the general update guide.

[2018-11-30 09:21] #18 closed

[2018-11-30 12:20] clemensutschig commented on #26
reopen - #49 was just a backend fix to externalize config

[2018-11-30 15:26] clemensutschig opened #64 "Creation of Bitbucket project fails in case of long description (~480 chars) - causing downstream NPE"
2018-11-28 10:47:19 loggerFileName=BRASS [http-nio-8080-exec-4] DEBUG o.o.p.services.BitbucketAdapter - https://...../rest/api/1.0/projects/**null**/permissions/groups?permission=PROJECT_WRITE&name=BI-dDevstack-Users - 404>{"errors":[{"context":null,"message":"Project null does not exist.","exceptionName":"com.atlassian.bitbucket.project.NoSuchProjectException"}]}
2018-11-28 10:47:20 loggerFileNam

[2018-11-30 16:52] stephenkehoe commented on #50
Please remove the EDIT permission/role from projects for the system-authenticated group that get created by  DevStack

[2018-12-02 18:57] clemensutschig opened #65 "Upgrade prov App to latest jenkins Shared lib"
Ready for v1 release.

[2018-12-03 08:08] #65 closed

[2018-12-03 10:19] michaelsauter opened #427 "Errors during project creation are not exposed"
During project creation, things can go wrong. For example, it might not be possible to create a PVC because there is not enough disk quota left. This can be seen in the Rundeck logs, but it is not immediately visible as the job is marked as successful. To notice the problem, one needs to figure out that the failing Jenkins pod is due to a missing PVC, and then to look into Rundeck to see the actua

[2018-12-03 12:41] michaelsauter opened #68 "Seed production pipeline"
Now that we have a webhook proxy, we usually do not create Jenkins pipelines in OpenShift. This works well for repositories where we assume that development happens. The provisioning app however is likely to be just deployed, and never developed by users. For that case, it is best to seed one pipeline in the getting started guide.

[2018-12-03 13:10] #68 closed

[2018-12-12 11:38] clemensutschig commented on #64
@sgolms - fix in progress :)

[2018-12-12 12:01] clemensutschig commented on #14
@tjaeschke / @michaelsauter - with the new setup (webhook proxy - and no need for pipelines in *cd) in v1.. we could in fact remove *cd from the ocp config ... and then have rundeck provision the project..

thoughts?

[2018-12-12 12:31] michaelsauter commented on #14
@clemensutschig Right now we create a pipeline for the prov app even in v1 because users might never push to the prov app repo (after the initial creation), therefore there would be no pipeline to trigger the initial deployment ...

[2018-12-12 15:30] #64 closed

[2018-12-12 16:04] stephenkehoe opened #71 "Openshift projects are created with current user as admin, even in case of special permission set"
Today we pass down the current (logged in) principal to rundeck and subsequently to openshift (as project role admin) example below

tech_integration          admin   -> the currently logged in user

rather than taking the provided project admin (in case of special permission set = true)

https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/serv

[2018-12-17 08:43] #71 closed

[2018-12-20 13:31] clemensutschig commented on #26
see

https://confluence.atlassian.com/confeval/jira-software-evaluator-resources/jira-software-how-can-i-change-a-project-type-from-business-to-software-and-software-to-business

- that should be good enough ... or ... ?

@michaelsauter  @tjaeschke  - thoughts?

[2018-12-20 13:42] tjaeschke commented on #26
@clemensutschig Depends. If you only want to change between Software and Business, this is good enough. If you want to add custom blueprints, you have to utilize the REST API, get the template with the specified fields, if possible and adjust the available fields in the provisioning app automatically.

[2018-12-20 13:51] clemensutschig commented on #26
@tjaeschke  - no special fields please .. but I hear we need a way to pass template keys - yes?

[2018-12-20 14:17] tjaeschke commented on #26
I think so. I've been asked about it a few times, if this is possible.

[2018-12-20 14:38] roberthauf opened #75 "Jenkins-slave fails to launch"
I've just done a standard app provisioning, which created the related repo in JIRA.
However the Jenkins build got stuck:
[code]

[2018-12-20 14:45] clemensutschig commented on #75
this is caused by missing right on CD
![image](https://user-images.githubusercontent.com/40628552/50291210-3d210a80-046e-11e9-81c2-3c153f0a5421.png)

[2018-12-20 14:48] roberthauf commented on #75
Cool. Works now.

[2018-12-20 14:48] #75 closed

[2018-12-20 15:31] clemensutschig commented on #26
OK . for now we leave as is ... (globally configurable via app properties).

In case needed - community can upvote :)

[2018-12-20 19:45] stephenkehoe opened #76 "wrong console url"
Example:

•         Openshift Development Project: https://inh-ocdev.eu.boehringer.com/consolepos-dev
•         Openshift Test Project: https://inh-ocdev.eu.boehringer.com/consolepos-test
•         Openshift Jenkins: https://jenkins-pos-cd.inh-devapps.eu.boehringer.com

Should be
https://inh-ocdev.eu.boehringer.com/console/project/pos-dev

[2018-12-20 21:55] tbugfinder opened #77 "provisioning app should support lower level container based projects"
The provisionig app should also support lower level deployments based on simple and complex Dockerfile container definitions.

[2018-12-21 07:46] michaelsauter commented on #77
@tbugfinder Could you elaborate? I'm not sure I understand what you are trying to achieve ... are you talking about another type of quickstarter? The provisioning app does not dictate what kind of projects / deployments you do ...

[2018-12-21 07:56] michaelsauter commented on #76
@stephenkehoe Actually, this could be a configuration issue. Can you verify if `openshift.console.uri` in the config map (`application.properties`) is correct?

[2018-12-21 18:39] stephenkehoe commented on #76
Yes there is a configuration issue.

root@inhas65110 ~]# oc get configmap application.properties -n prov-test -o yaml | grep -i openshift.console.uri
    **openshift.console.uri=https://inh-ocdev.eu.boehringer.com/console**

It's missing the / in the configmap of prov-test

[2018-12-21 19:10] tbugfinder commented on #77
Oh, correct - actually I meant another slim quickstarter which sets up the defined "environment" but has a focus on lower level - like provision containers based on e.g. on a Dockerfile(s). Not all projects are tight to nodes.js and those higher level frameworks.

=>close/move this issue?

[2018-12-21 19:37] clemensutschig commented on #77
@tbugfinder- move to ods-project-quickstarters. Today we only offer high level quickstarters .. but those are based on dockerfile etc. So you could provision just about any quickstarter to make this work.. but its a great idea.. do you want to contribute it?

[2018-12-21 19:39] clemensutschig commented on #76
@stephenkehoe we should still add the slash automatically..

[2018-12-21 20:53] tbugfinder commented on #77
created [quickstarter-issue](https://github.com/opendevstack/ods-project-quickstarters/issues/97)

Therefore closing this one.

[2018-12-21 20:53] #77 closed

[2019-01-07 07:49] clemensutschig commented on #76
in src/main/application.properties -> default setting: openshift.console.uri=https://192.168.99.100:8443/console

so this is definitely a bug ... :(

[2019-01-07 14:44] clemensutschig commented on #76
the quick fix - if generated wrongly ... go into the pod of prov app - and then /opt/provision/history and change the links in the project file :) @stephenkehoe

[2019-01-11 07:48] borja44 opened #78 "A jira project does not have the ability to add an attachment to an issue"
I've just noticed than the default permissions on a jira project after the provisioning app, does not have the ability to add an attachment to an issue, could be the possibility to do this by default, -manager and -team

[2019-01-11 08:39] borja44 commented on #78
![image](https://user-images.githubusercontent.com/10860118/51022510-b51db480-1584-11e9-942b-9b5d6073b04a.png)

[2019-01-11 09:11] clemensutschig commented on #78
@borja44 - I have tried this in the permission set (CREATE_ATTACHMENT grant) - and this is not working. Atlassian must have some hack in the backend to seed these permissions...

Current set of permissions:
https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/resources/permission-templates/jira.permission.all.txt

[2019-01-17 14:51] stephenkehoe commented on #50
Is there any update on this?

[2019-01-17 14:54] clemensutschig commented on #50
@stephenkehoe _ please review my comment clemensutschig commented on Nov 7, 2018 •

clearly this is needs to be clear first, otherwise we block everyone.,

[2019-01-17 15:47] stephenkehoe commented on #50
We are just asking to removed EDIT people can still VIEW.

[2019-01-19 09:06] clemensutschig commented on #26
My glorious idea with converting a Project after creation does not work.. templates are only used at jira Project creation not on Conversion - so you dont get screen schemes,fields etc so we need to come up with a plan.

I Played with spring list Properties- does Not work either.

[2019-01-21 17:59] clemensutschig commented on #71
@stephenkehoe  - fix slated to go live on premise tmrw

[2019-01-22 15:19] stitakis commented on #39
Hi, someone working on this one? If is not the case, I´m happy to pick up this

[2019-01-24 14:51] clemensutschig commented on #26
![image](https://user-images.githubusercontent.com/40628552/51686054-e8822980-1fef-11e9-9ba3-99842b9c3885.png)

this is how it looks like

[2019-01-25 13:44] clemensutschig opened #81 "Provision app fails with 401 not authenticated in case crowd's sso cookie name was changed - make configurable"
On crowd you can change the sso cookie name, like below

![image](https://user-images.githubusercontent.com/40628552/51749380-7e30be00-20af-11e9-815b-47478d63f1fd.png)

the codebase assumes `crowd.token_key` to be the standard name - and hence sso will not work if one changed this name in the crowd server config

https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/op

[2019-01-25 15:51] clemensutschig commented on #81
@michaelsauter  - fix for 1.0x as well .. this is both, bug and feature :)

[2019-01-27 17:49] clemensutschig opened #84 "Refactor http Call code in curious Adapter"
4 times the roughly same code to do a rest Call to jira / confluence / bitbucket and rundeck. This is just Bad legacy code.

[2019-01-28 17:22] #81 closed

[2019-01-30 14:31] borja44 opened #85 "Provision app created jira project does seed rights to read a project for -readonly groups"
I've just noticed than the default permissions on a jira project after the provisioning app, does not have the ability to read a project for -stakeholders group.
![image](https://user-images.githubusercontent.com/10860118/51988082-1bbb3180-24a4-11e9-8d0f-6f5915393ed0.png)

[2019-01-30 14:48] clemensutschig commented on #85
@borja44  - is someone not seeing a project he/she should, or what?

[2019-01-30 16:22] #85 closed

[2019-02-02 08:28] clemensutschig opened #86 "Create service framework to allow integration to other bugtrackers/scm & idmgt"
Today integration to jira/confluence and bitbucket is hardwired..  also the dependency to crowd for Identitymgmt - we should provide a Plug and Play Framework so other Tools can be plugged in..

[2019-02-02 09:16] clemensutschig commented on #86
@tjaeschke- fyi...are you Working in this?

[2019-02-07 15:56] borja44 opened #87 "wrong (lean) project permissions in Bitbucket, when tight permission set configured"
There is a default permission after the provisioning app is executed on BITBUCKET.

First is adding the user to a group called xxxxxxxdevstack-users, and, after that the same group is added into the $NEW-CREATED-PROJECT.

What is the problem?
Problem is that this group xxxxxxxdevstack-users has access to $ALL-PROJECTS and can write into them.

Could be the possibility to remove this default Group

[2019-02-08 07:39] clemensutschig commented on #87
flagging this as bug .. too many rights - the gotcha is in
https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/services/BitbucketAdapter.java#L267

[2019-02-10 18:37] #87 closed

[2019-02-25 09:25] borja44 opened #90 "No Default Notification Scheme assigned into Jira projects upon creation"
Hi
There is no Default Notification Scheme assigned after a Jira project is created and or the provisioning app is executed, and, has to be added each time manually.

Could be possible to add this feature for mail Notifications for any action on Jira?

[2019-02-26 15:03] clemensutschig commented on #90
@borja44  - I assume you want the default notification scheme?

![image](https://user-images.githubusercontent.com/40628552/53422571-015f6f80-39e0-11e9-9987-54603da3f339.png)

[2019-02-26 16:40] borja44 commented on #90
Sure

[2019-02-27 11:58] michaelsauter opened #98 "Project specific cd_user"
We had some issues with a global `cd_user` (e.g. if password is changed, there are lots of places that need to be adjusted). This would be easier if each project had its own `cd_user`.

Just raising this question / issue here - not sure how that would work and what implications this has.

FYI @clemensutschig @gerardcl @stitakis @rattermeyer

[2019-02-27 15:33] borja44 opened #91 "Add default created -GROUPS to roles by default scheme on JIRA"
There could be the option to add the:
**a) $project-TEAM group on the **Developers role****

**b) $project-MANAGER group** on the **Administrators role ;

**c) $project-STAKEHOLDER group** on the **Stakeholders role ;

In to the software default scheme on Jira after the provisioning app is executed?

Role for -TEAM into Developers
Role for -MANAGER into Administrators
Role for -STAKEHOLDER into St

[2019-02-28 14:05] clemensutschig commented on #91
@borja44  - I am sorry, but I don't understand what you ask for ... at all - and what you attempt to solve with this proposal

[2019-02-28 16:28] clemensutschig commented on #90
quick update on this - by default - the seed of the "Default Notification Scheme" - is with id 10000 (as every other object btw).

[2019-03-01 09:41] borja44 commented on #90
Yep yep 👍

https://wathever.whoever.com/secure/admin/EditNotifications!default.jspa?atl_token=yopYopYopYopyupyupyupyepyepyep&**schemeId=10000**

[2019-03-01 13:58] borja44 commented on #91
What we want to avoid is making the Project Owner responsible to add manually all of this groups.
Since the permissions are the default ones, the idea is basically to provide this basic project roles with the groups inside.

[2019-03-05 10:33] clemensutschig opened #92 "prov-cd pvc expects storage class name -> param name mismatch"
https://github.com/opendevstack/ods-provisioning-app/blob/master/ocp-config/prov-cd/pvc.yml#L36
requires `STORAGE_CLASS_NAME`

while the param is called `STORAGE_CLASS_DATA`
https://github.com/opendevstack/ods-provisioning-app/blob/master/ocp-config/prov-cd/pvc.yml#L39

the latter `STORAGE_CLASS_DATA`  is correct according to
https://github.com/opendevstack/ods-configuration-sample/blob/master/ods

[2019-03-05 10:51] clemensutschig opened #93 "prov-app dev&test - rundeck api path / systempath - are hardcoded - should be params"
https://github.com/opendevstack/ods-provisioning-app/blob/master/ocp-config/prov-app/cm.yml#L60-L61

has hardcoded the api / system paths - this HAS to be configurable.

- system path is used for auth:
https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/services/RundeckAdapter.java#L223
- api path is used for execution creation:
https://github.

[2019-03-05 13:24] clemensutschig opened #94 "Without (deep) refreshing page newly created initiative is not showing up in picklist on "modify initiative""
When a new initiative is provisioned, and success is shown - this initiative is not immediately showing up in the list of modify. Clicking refresh or on provision - will show it because the backend is queried

[2019-03-05 15:44] #92 closed

[2019-03-06 08:06] rattermeyer opened #97 "Support technical user as an alternative authentication mechanism"
Currently the user using the provisioning app needs general admin rights on some of the Atlassian tools.
To support a more self-service workflow it is required, that users can use the provisioning app, but without having all the admin rights in the downstream tools.
We therefore need a mechanism to alternatively specify "technical users" that are used for the interaction with the downstream tools.

[2019-03-06 13:17] clemensutschig commented on #97
@rattermeyer - we do this today already - with a tech user that is in a special group - that authenticates itself against /jsecurity and then calls the API.

I strongly oppose storing any key / credentials in the prov app

[2019-03-06 13:19] clemensutschig commented on #97
<pre>
curl -D headers.txt -k -H "Content-Type: application/x-www-form-urlencoded" -X POST ${PROVISION_API_HOST}/j_security_check -d username=xxx-d password=yyyyy

login_status=$(cat headers.txt | grep ${PROVISION_API_HOST}/login?error)

if [[ $login_status != "" ]]; then echo "Login Error"; fi;

JSESSION_ID=$(cat headers.txt | grep "Set-Cookie: JSESSION" | cut -d ';' -f1 | cut -d ":" -f2)";"
CROWD

[2019-03-14 09:39] clemensutschig commented on #90
![image](https://user-images.githubusercontent.com/40628552/54346448-5be60600-4645-11e9-9193-d010f7e81d14.png)

[2019-03-15 08:42] #90 closed

[2019-03-17 08:25] clemensutschig commented on #98
@michaelsauter- i have this some thought over the weekend.. and the blocker is rundeck. Crazy idea - What of we move the whole QS magic into jenkins which already lives in openshift. Like seed a Master creation Pipeline into a Project-cd namespace- that is triggered via Webhook Proxy and can do all the rundeck qs capability

[2019-03-17 12:28] gerardcl commented on #98
I like it! would this be based on temporary pipelines? If yes, then we must keep those pipelines in a write-once mode (so to keep traceability) and not deleteable. Does it make sense? I'm just keeping the thought on being based on a master pipeline in CD project...

[2019-03-17 12:55] clemensutschig commented on #98
@gerardcl - i would keep static ones (in fact only one) - as simple as possible .. that could refer to a Master jenkins file in ods-project quickstarters

[2019-03-18 08:12] michaelsauter commented on #98
@clemensutschig Sounds interesting! Definitely something to think about. Maybe we could kill Rundeck completely? I'm not a huge fan and its role overlaps with the Provisioning App and, if we make your proposed change, Jenkins pipelines.

I will think a bit about this during the week ...

[2019-03-18 09:50] stitakis commented on #98
@clemensutschig I´m struggling to follow here... what is QS and the QS magic?

[2019-03-18 09:56] clemensutschig commented on #98
@stitakis  QS => QuickStarters

[2019-03-18 10:02] stitakis commented on #98
@clemensutschig ah yes... idea sounds good to me. We will be able to reduce moving parts and complexity, right?

[2019-03-18 16:43] clemensutschig commented on #98
@stitakis - we will kick out rundeck :)  (@maksymmaksym  fyi)

[2019-03-19 02:08] gerardcl commented on #98
is this going into 2.0.x?

[2019-03-19 08:04] michaelsauter commented on #98
One thing that came to mind: This requires the *-cd project to have write permissions to the *-dev and *-test environments ... I know we already have this (ad-hoc cloning), but doing the proposed change makes this permission really really necessary, and undermines the idea of confining attacks within one namespace. Just putting it out there as a negative consequence ...

[2019-03-19 08:47] gerardcl commented on #98
Thinking loud: what about an approval step? (Like PR/notification) from a human...

[2019-03-19 10:21] clemensutschig commented on #98
@michaelsauter - how would that work in reality -  you'd have to gain admin rights on cd to travel into test / dev - that would only work if you are able to get the secret in the slave build pod

[2019-03-23 08:21] clemensutschig opened #106 "First Time login into Provision App takes very long"
looks like there is a massive Performance issue with the crowd integration api fetching the cache - depending on the overall group size

[code]

The internal call of getAuthorities - goes to the caching manager
[code]
to end up in ...
[code]

[2019-03-28 11:06] borja44 commented on #63
go to [https://github.com/opendevstack/ods-provisioning-app/issues/91](url)

[2019-03-28 11:18] borja44 opened #107 "Spike: Default Issue Type Scheme association"
The _Issue Type Schemes_ association it should be the Default one for all new-project-creation and not a creation of new one.
Could be implemented this feature?
Each new **$PROJECTKEY: Scrum Issue Type Scheme** created, uses more resources on the system and also, it is not necessary.

[2019-04-07 13:18] clemensutschig opened #108 "jira default template - com.pyxis.greenhopper.jira:gh-scrum-template - generates kanban board instead of scrum one"

[2019-04-07 13:23] clemensutschig opened #109 "Add com.pyxis.greenhopper.jira:gh-kanban-template into configured project types"
Today - the only configured (= default) template in the provision app is `com.pyxis.greenhopper.jira:gh-scrum-template`. we should add the kanban one as well

reference:
https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/resources/application.properties#L33

[2019-04-08 14:34] gerardcl opened #110 "provisioning app does not support Firefox, confused as if it was IE"
<img width="1119" alt="Screenshot 2019-04-08 at 16 33 09" src="https://user-images.githubusercontent.com/1785235/55732370-27832100-5a1c-11e9-8417-f5e920d857f4.png">

[2019-04-11 08:30] tjaeschke opened #111 "Missing Key in BuildConfig after first"
[code]
After first import  of the provisioning app with tailor the pipeline fails because of missing key in BuildConfig

[2019-04-11 12:29] #111 closed

[2019-04-12 16:54] rattermeyer opened #113 "Restructuring documentation"
Create required antora component and modules, so documentation can be sourced from this repository.

Related to opendevstack/opendevstack.github.io#91

[2019-04-13 11:09] manueldahm opened #114 "Manage sketch files for design repository when new project is created"
Ignore Sketch Files in design repo so that only the json files are versioned and not the binary files - that would otherwise create conflicts often. This for using Kactus versioning with Git.

[2019-04-13 11:34] clemensutschig commented on #114
@manueldahm - just set gitignore

manueldahm <notifications@github.com> schrieb am Sa., 13. Apr. 2019, 13:09:

[2019-04-13 13:42] gerardcl commented on #114
@clemensutschig the requirement is to provision a .gitignore in the `<projectID>-design` repository with:
[code]
by default, so UX/UI can collaborate by only using the JSON descriptors from Kactus.
It is right that it could be added later, but it would be nice to have it by default since they work without CLI, and through GUI it is easy to add by mistake the sketch binaries.

It can be done throug

[2019-04-13 17:24] clemensutschig commented on #114
@gerardcl - this is Pretty tricky because the prov App today dies not commit any code.. only rundeck does...

[2019-04-14 08:38] gerardcl commented on #114
hi! we could add the commit case for design repo after it is created at provisioning app step, or we can add the git commands in the rundeck side. If it is better to add this at rundeck side, which should be the script: export_ocp_project_metadata.sh?

[2019-04-19 07:52] #39 closed

[2019-04-19 07:53] stitakis commented on #39
upgrade to sb 2.0.x done, we can now start working on the upgrade to 2.1.x and java 11

[2019-04-19 20:54] #113 closed

[2019-04-19 21:04] rattermeyer commented on #97
Not sure, if that matches requests. Use case is: allow "developers" to use provisioning app as self service portal, but because of jira permissions required it is not possible to give all these users "admin" access.
Not sure, if I understand your use case correctly though.

[2019-04-23 09:03] #109 closed

[2019-04-23 17:41] clemensutschig commented on #106
@sitiakis i played with this today.. And the api is really crappy.. the only Solution i could come up with is to do this leading in Startup... 2 minutes..

[2019-04-23 17:44] clemensutschig commented on #94
@tjaeschke can you help me here.. my challenge is that i cannot plugin into the lifecyle of the dialog to Trigger a hard reload..  for some reason neither .text() nor .html() works on the dialog button ...

Location.reload(true) forces the hard reload..

[2019-04-23 18:45] oalyman opened #119 "Upgrade provision app to latest spring boot version (2.1.4)"
Current spring boot version of the provision app is 2.0.9.RELEASE.
Latest version of spring boot as of now is 2.1.4.RELEASE.

[2019-04-24 14:51] clemensutschig commented on #106
ok - we found a workaround - it's create a second crowd directory with a small set of groups only (based on https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/resources/application.properties#L105-L106)

[2019-04-25 07:31] clemensutschig opened #121 "Modify initiative should show project key and name"
Today prov app only shows the name of the initiative and not the key when clicking `modify initiative`. Both should be shown

![image](https://user-images.githubusercontent.com/40628552/56717434-f35a7080-673c-11e9-8cb1-c921a5ed0df8.png)

[2019-04-25 13:56] #94 closed

[2019-04-26 10:17] #106 closed

[2019-04-26 10:19] #121 closed

[2019-04-26 14:54] clemensutschig opened #126 "Rundeck integration returns "auth successful" - although login failed (e.g. timeout .. )"
as we authenticate via form based auth - one would expect that on an error/failed auth NOT a HTTP200 is coming back. Unfortunately this is not the case (and we relied on response.isSuccessfull())

[2019-04-29 15:35] clemensutschig opened #131 "Crowd with SAML enabled makes SSO cookie integration fail"
SAML plugin (at least the MSFT ones) disables crowd SSO cookie integration.

[2019-04-30 14:44] #131 closed

[2019-05-05 17:22] clemensutschig commented on #119
@oalyman- whats the status? Is this a 1.1 candidate?

[2019-05-06 08:33] oalyman commented on #119
It's done. And waiting for review in BIX Bitbucket.

[2019-05-06 11:05] #126 closed

[2019-05-07 21:17] michaelsauter opened #134 "Redirect to /home.html, and then stuck at error page"
Somehow I was redirect to `/home.html`, and then was "stuck" at the error page - only navigating directly to the provision page worked. @hugowschneider Do you remember the details of this problem

FYI @clemensutschig

[2019-05-07 21:38] clemensutschig commented on #134
@michaelsauter can you try this with latest Master..  I reworked the entire auth cache mess lately and also amended the Security config.

[2019-05-07 21:55] clemensutschig commented on #134
See #120

[2019-05-09 12:29] michaelsauter commented on #134
Updated everything and tried to reproduce it (I did what happend on Tuesday: open prov app, login, then wait 3 hours, and reload). It did not break, so presumably it's fixed - or I did something slightly different, hard. to tell. Closing for now.

[2019-05-09 12:29] #134 closed

[2019-05-10 09:35] #119 closed

[2019-05-20 03:37] clemensutschig opened #139 "Provision app Should allow to add roles to an existing project"

[2019-05-20 07:04] stitakis commented on #139
@clemensutschig I assume the admin (by default the creator of an existing) should be able to assign roles to other users. Which kind of roles? Will be the roles replicated to jira, confluence and bitbucket?  Which use case this enhancement will target?

[2019-05-27 11:50] michaelsauter commented on #93
As the 1.1 release date is tomorrow, I am moving this to 1.2.

[2019-05-29 11:52] jorge-romero opened #144 "Project creation/modification forms keep hidden after login"
After accessing the provisioning app, in the provision folder currently I can only see the title, the legend of the fieldset of choosing an option and the footer

![image](https://user-images.githubusercontent.com/12911486/58554811-3a45f500-8218-11e9-8242-abed10b8ae76.png)

I have check that the forms to create/modify a project exists;
![image](https://user-images.githubusercontent.com/12911486/58

[2019-05-29 13:26] tjaeschke commented on #144
This is an issue in the application properties, If you change the crowd user and admin group to

crowd.user.group=opendevstack-users
crowd.admin.group=opendevstack-administrators

it should work.

[2019-05-30 11:53] #144 closed

[2019-05-31 07:34] clemensutschig opened #145 "Prov app fails when another Rundeck Job is stil running (api.error.execution.conflict)"
2019-05-24 18:33:31 loggerFileName=SIN [http-nio-8080-exec-5] DEBUG o.o.provision.util.RestClient - https://...../api/19/job/00f767ef-347f-480e-8ad3-bf2aed3abf5d/run > POST >> 409:
{"error":true,"apiversion":24,"errorCode":"api.error.execution.conflict","message":"Execution had a conflict: Job \"create-projects\" {{Job 00f767ef-347f-480e-8ad3-bf2aed3abf5d}} is currently being

[2019-06-06 17:22] #145 closed

[2019-06-14 16:39] clemensutschig opened #147 "Provision app should create jira Component when new boilerplate component is provisioned"
This will help a Lot around tracibility.. each Component reflects then a corresponding repo..

[2019-06-19 11:02] thowerner opened #149 "De-provision feature for prov-application provisioned components"
At provisioning there are objects created in multiple locations: Bitbucket, Openshift, Jenkins, etc. There should be a functionality to correctly and accurately remove a provisioned app from the environment.

[2019-06-21 09:22] cschweikert opened #150 "unit tests in fe-ionic are failing"
Error during jenkins run
[code]

This relates to the following issue https://github.com/Microsoft/TypeScript/issues/16772

[2019-06-21 09:30] cschweikert commented on #150
sry, wrong repo
moved issue to https://github.com/opendevstack/ods-project-quickstarters/issues/242

[2019-06-21 09:30] #150 closed

[2019-06-25 11:22] segator opened #151 "Provision app should support reuse of shared schemes for Jira & not create permission schemes every time"
I were checking the code and here
https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/services/JiraAdapter.java#L178

you can not choose if you want to create a project from a shared configuration.

use shared configuration is useful for atlassian administrations and maintability of already created projects.

I think this should be something co

[2019-06-25 12:32] tjaeschke opened #152 "Issue with Guava 23"
The provisioning app does not work with Guava 23.0 because of a missing Stringhelper method, that ist used in the Atlassian REST client.

We will have to change the client to https://mvnrepository.com/artifact/com.atlassian.jira/jira-rest-java-client-api?repo=atlassian-public

For this, we will have to refactor the Jira adapter.

[2019-06-25 12:59] michaelsauter opened #153 "jQuery fails to load"
When trying to provision a component, I noticed the following error in the console:

[code]

The requested resource was: `https://domain.com/webjars/jquery/3.2.1/dist/jquery.min.js`

[2019-06-25 13:34] tjaeschke opened #154 "Missing method breaks provisioning app"
Since version 21 Guava there is no longer the method ToStringHelper() in com.google.common.base.Objects

This method is used by the com.atlassian.jira.rest.client.domain.Project in the jira-rest-java-client

If the dependencies are not overwritten by an older Guava version, which can be achieved by restructuring the imports, the provisioning app breaks, but restructring is not guaranteed to work.

[2019-06-25 13:37] stitakis commented on #154
As quick workaround, have you tried to downgrade Guava to version 20?

[2019-06-25 13:41] tjaeschke commented on #154
Yes, I have and I also created a Hotfix branch in the 1.1.x branch for this, requested by @clemensutschig if the error occurs in 1.1

[2019-06-25 15:23] tjaeschke commented on #154
Cherry picked change to master

[2019-06-25 17:21] clemensutschig commented on #153
@michaelsauter  - can you still login?

[2019-06-25 17:24] clemensutschig commented on #151
@segator  - currently that#s intended design ..  can you specify which shared objects you'd like to reuse / configure?

[2019-06-25 17:26] clemensutschig opened #157 "Provision application only writes projectdata for further use in case no errors occur during provision"
currently - in case an error occurs during provision - NO project data is written in /opt/provision/history - only a project log.

so to manually repair a project means to create this file by hand based on log information - which can be cumbersome.

Opening this ticket to get input

[2019-06-26 07:09] segator commented on #151
All the Schemes.(check the image)

There are 2 ways to do this.

## Creating using schemas of other project.

Jira have a a way to create project using same schemes from other project.
* This is the UI screen
![image](https://user-images.githubusercontent.com/2348131/60158319-224e9a80-97f1-11e9-85b8-9ef9132359e8.png)
* Rest API
/rest/project-templates/1.0/createshared

## When Creating through pro

[2019-06-26 07:20] #154 closed

[2019-06-26 07:48] clemensutschig commented on #147
![image](https://user-images.githubusercontent.com/40628552/60161289-8b391100-97f7-11e9-95e9-24ecca1462f0.png)

[2019-06-26 11:37] rattermeyer commented on #149
We left this out intentionally in the first run. This allows the provisioning app to be used as a self-provisioning tool by "normal" developers. Some functionality (for OpenShift) is available as jobs in rundeck already.
If we include it, we probably should think about a roles concept as well.

[2019-06-26 11:52] rattermeyer commented on #151
So, you simply would like to specify a base project?

[2019-06-26 11:53] rattermeyer commented on #151
Can you provide a link to the documentation?

The project-templates endpoint is [deprecated](https://developer.atlassian.com/server/jira/platform/creating-a-project-template/):

but [haven't found](https://community.developer.atlassian.com/t/project-blueprint-plugin-module-documentation-is-missing/11070)  documentation on it either.
Should be clear where to start.

[2019-06-26 11:58] clemensutschig commented on #151
Richard..  Please Check the Readme. ;-)

Richard Attermeyer <notifications@github.com> schrieb am Mi., 26. Juni
2019, 13:53:

[2019-06-26 12:05] rattermeyer commented on #86
We are not working on this. But we completely agree. Idmgt is a different kind of beast, than bugtrackers / scm. Think along the lines that you can define at deploy time which VCS, issue tracker and wiki you would like to use and having "modules" insinde the provisioning app handling requesting the required inputs and provisioning the target systems.

[2019-06-26 12:21] rattermeyer commented on #151
For what? Documentation was referring to the Atlassian REST API documentation, not the project documentation. And there seems some issues with Atlassian strategy. Deprecating one endpoint and not providing documentation on the newer one (or I wasn't able to find it)

[2019-06-26 12:52] clemensutschig commented on #152
closed by #156

[2019-06-26 12:52] #152 closed

[2019-06-26 12:53] clemensutschig commented on #149
I'd suggest only admins can do this ... ?! .. or we stick with the rundeck only approach for now

[2019-06-26 12:59] clemensutschig commented on #107
closing - fup is in #151

[2019-06-26 12:59] #107 closed

[2019-06-26 13:00] clemensutschig commented on #86
I am on this now - it's really hard ... I will publish a WIP PR .. currently I am extracting interfaces ...

[2019-06-26 14:23] segator commented on #151
I prefer the second option I mentioned, because it have more possibilities, imagine using the rest api of provisiong app I can pass the diferents ID's of  permission scheme, screen scheme, workflow scheme.. etc.

Using the first option means I will need to have a dummy project to be used as a reference, I don't like it.

other solution is create a plugin with the preconfigured schemes but it's a m

[2019-06-26 14:31] michaelsauter commented on #153
I was able to provision the component, so I assume that there actually IS some jQuery being loaded, but maybe from another location. I did not investigate further, just captured the error for now.

[2019-06-27 07:25] rattermeyer commented on #153
jquery is included twice...

[2019-06-27 08:30] stefanlack opened #160 "MailConnectException/healthcheck when mail configuration is invalid even if mail is disabled in configuration"
Given an invalid email configuration ( e.g. ip adress invalid):

`mail.enabled=false`
`spring.mail.host=127.0.0.2`

The application throws MailConnectException:

The health check should not be executed, because mail is disabled in configuration.

[2019-06-27 08:33] clemensutschig commented on #160
@stefanlack  - can you provide the full stack? it#s really weird, because - the check is way before any email magic..

https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/services/MailAdapter.java#L66

maybe the spring init .. does some magic here?

[2019-06-27 08:34] stefanlack commented on #160
Just adding `management.health.mail.enabled=false` to the properties disable mail health check.

[2019-06-27 08:35] clemensutschig commented on #160
top!

[2019-06-27 08:44] stefanlack commented on #160
I will just add `management.health.mail.enabled=${mail.enabled}` to application.properties.

[2019-06-27 08:47] #153 closed

[2019-06-27 09:13] stitakis commented on #160
@stefanlack please add me as reviewer once you are done with change

[2019-06-27 11:49] #160 closed

[2019-07-02 09:43] gerardcl commented on #114
@clemensutschig shall we close this issue as it is or shall we tackle any of the aforementioned options?

[2019-07-02 09:59] gerardcl commented on #157
here logs from a known project that suffered that, I cleaned up the information of the project and related configs so to only show the interesting information for this issue:

[code]

NOTE: we could link this issue to the functionality request to be able to delete a component from a project

[2019-07-02 10:00] gerardcl commented on #157
and, I confirm, we required to create the object manually since prov-app did not create it.

[2019-07-03 12:52] #147 closed

[2019-07-05 09:48] gerardcl commented on #114
within current discussions there has been stated a good idea: to provide a component/quickstarter for such purpose, so whenever a UI/UX requires to track designs changes within a repository such quickstarter can provide this repository. So, if any special feature is required we can implement that in such quickstater.
what do you think @clemensutschig @michaelsauter @tjaeschke ?
if we agree on that

[2019-07-08 09:53] alanbort commented on #139
As a Project Admin I need to delegate the ability to provision applications per project to individual users or groups. This would be similar to the jira permission matrix or the Jenkins authorization matrix plugin.

Considering other pending issues (decomission provisioned applications) the permissions should be selectable on a delegated entity level (again, like Jira and Jenkins authorization mat

[2019-07-08 10:00] alanbort commented on #139
As a Project Admin I need to delegate the ability to provision applications per project to individual users or groups. This would be similar to the jira permission matrix or the Jenkins authorization matrix plugin.

Considering other pending issues (decomission provisioned applications) the permissions should be selectable on a delegated entity level (again, like Jira and Jenkins authorization mat

[2019-07-08 20:05] tbugfinder commented on #149
Usually this ends up in a left-overs and dead projects.
At least scripts should be shared so that ODS-users can remove even partially deployed projects.

[2019-07-09 04:43] clemensutschig commented on #149
@tbugfinder i agree.. currently prov App goes thru major refactoring... i'll try to take this up for 2.0.. want to help?

[2019-07-10 19:50] clemensutschig commented on #157
@gerardcl in my mega refactoring pr ill take care about this. In Case errors occur the request will clean up all created objects;-)..

[2019-07-11 12:31] clemensutschig commented on #157
@gerardcl - yup .. agreed ...

2019-07-11 14:28:23 DEBUG o.o.p.c.ProjectApiController - Errors occured - starting cleanup of project TestP in phase QUICKSTARTER_PROVISION
2019-07-11 14:28:23 DEBUG o.o.p.services.BitbucketAdapter - Cleanup of [testp-be-python-flask] scm repositories
2019-07-11 14:28:23 DEBUG o.o.p.services.ConfluenceAdapter - Project TestP not affected from cleanup
2019-07-11 14:28

[2019-07-12 14:28] stephenkehoe opened #166 "OpenShift Project Removal: Automated Decommission Process"
Primary Request:
OpenDevStack to have the capability to retire/delete/decomission OpenShift projects automatically.

Another Request:
Proof of Concept\Temporary Project: Time bound projects for 90 days that will be removed automatically.

[2019-07-15 07:32] stefanlack opened #167 "google java codestyle is not used"
According to Developer Guide (http://www.opendevstack.org/doc/development-guide) , the source code has to be formated with **Google Java Codestyle**.

This is not the case in many files.

Examples
- Block indentation: (https://google.github.io/styleguide/javaguide.html#s4.2-block-indentation)

- Nonempty blocks: K & R style: (https://google.github.io/styleguide/javaguide.html#s4.1.2-blocks-k-r-sty

[2019-07-15 08:25] ungerts commented on #167
@stefanlack do you also plan to check code style in the Travis build?

[2019-07-15 08:58] stefanlack opened #169 "check google codestyle in travis build"
The travis build has to check if google code style is used.

[2019-07-15 09:00] stefanlack commented on #167
@ungerts : not yet, but good idea. Created #169

[2019-07-16 12:39] stefanlack opened #170 "authentication via oauth2"
Provision App should allow authentifaciton via ouath2 and get user roles from id provider.

[2019-07-16 12:42] stefanlack commented on #170
I am working on this. Our current implementation is based on the code from Pull Request https://github.com/opendevstack/ods-provisioning-app/pull/164

[2019-07-16 16:24] clemensutschig commented on #170
@stefanlack  - you are on latest of the PR, right? any issues encountered?

[2019-07-17 06:28] stefanlack commented on #170
@clemensutschig Yes, i am.
Issues: i will write in some remarks in the PR

[2019-07-17 08:23] clemensutschig opened #171 "Provision app fails to save state of a project in case of (another) project descriptor being corrupted"
at [Source: (String)"{
  "admins" : [ ],
  "name" : "FR5_03
  "description" : "t",
  "key" : "CKPT",
  "jiraId" : "10886",
  "tags" : [ ],
  "quickstart" : null,
  "jiraconfluencespace" : true,
  "openshiftproject" : true,
  [truncated 586 chars]; line: 3, column: 12] (through reference chain: org.opendevstack.provision.model.ProjectData["name"])
        at com.fasterxml.jackson.databind.JsonMappi

[2019-07-18 09:28] clemensutschig opened #172 "Protect API operations better"
today the API operations are just authentication protected thru auth interceptors - we should protect the api as well - in lieu of /delete coming

[2019-07-18 14:50] #63 closed

[2019-07-18 14:52] clemensutschig commented on #63
see #151

[2019-07-18 14:58] clemensutschig commented on #166
@stephenkehoe  - what we can support is a specific project type - that you can query for .. but NO automated removal. that job needs to be built elsewhere - but can use the new /delete operations of the provision app

[2019-07-18 14:59] clemensutschig commented on #149
@thowerner  - the backbone is part of 1.2 release - we are still unsure of the UI, but intend to make this happen for 2.0

[2019-07-19 09:48] tjaeschke opened #173 "Availability check for enabling stack"
We should add a general availability check for the enabling tools, so we can check right after login, if all services are available.

Maybe we should also add an overview at the about page.

[2019-07-19 14:02] #86 closed

[2019-07-19 14:03] #171 closed

[2019-07-19 14:03] #167 closed

[2019-07-19 14:03] #157 closed

[2019-07-19 18:58] gerardcl opened #174 "getProject is returning always a project even if the requested project does not exist"

[2019-07-19 18:59] gerardcl commented on #174
closed via Fix for getProject #165

[2019-07-19 18:59] #174 closed

[2019-07-19 19:11] clemensutschig opened #175 "fe-angular quickstarter fails with certain names (fe-angular-7)"
08:22:22 | + echo 'generate project'
-- | --
08:22:22 | + sudo docker run --rm -v /tmp/rundeck_560954ef-d245-456c-9460-6c592c9d7784_870:/data ng new fe-angular-7 --style=scss --skip-git --skip-install
08:22:24 | Project name "fe-angular-7" is not valid. `New project names must start with a letter, and must contain only alphanumeric characters or dashes. When adding a dash the segment after the das

[2019-07-19 20:05] stephenkehoe commented on #166
@clemensutschig - If there is the capability for a project owner to delete the entire stack Atlassian and OpenShift project from the provision app that would be a nice addition.  Potentially Dangerous, but something they need to take ownership on.  We can't chase people down to clean up their unused workloads.

Would this be driven by a MyShop\ServiceNow request form?

The second request was think

[2019-07-26 11:47] alanbort opened #177 "Authorization on provisioning app"
Authorization for basic prov-app use should be tied to all the "-MANAGER" groups instead of a single, dedicated group.

The current implementation requires two steps:
1. get access to prov-app
2. become -MANAGER for a project to be able to view/provision to it on prov-app

All -MANAGERs should be granted access by default without need for any extra steps

[2019-07-29 12:21] #170 closed

[2019-07-31 12:11] stefanlack opened #178 "provisioning-app shows wrong urls when provision finished"
When project provision is finished, the dialog shows correct url texts, as shown in this screenshot:

![image](https://user-images.githubusercontent.com/2901438/62210681-04022e80-b39d-11e9-9775-fa91a6e1c510.png)

But: the Jira and Confluence link address is _http://localhost:8080/undefined_

[2019-07-31 12:18] tjaeschke opened #179 "Remove Spring MVC"
We should refactor the provisioning app and part it to a SPA and an API Backend, which can be handled stateless, only with tokens. So we can run the frontend and the backend in different zones and contextes, for example an API only version for shop systems, where no frontend is needed.

[2019-07-31 12:44] tjaeschke opened #180 "Correct String format"
The string format clause has to be corrected:

https://github.com/opendevstack/ods-provisioning-app/blob/8300f0032dc25afb954c5c4ac2063feeeeafcf13/src/main/java/org/opendevstack/provision/services/ConfluenceAdapter.java#L297

https://github.com/opendevstack/ods-provisioning-app/blob/8300f0032dc25afb954c5c4ac2063feeeeafcf13/src/main/java/org/opendevstack/provision/services/JiraAdapter.java#L557

htt

[2019-07-31 12:45] tjaeschke commented on #14
@michaelsauter I think this issue can be closed, can't it?

[2019-07-31 12:53] tjaeschke commented on #175
Maybe we should rethink the component default naming. For angular a numeric value at this position isn't allowed, but for others it is.

[2019-07-31 13:22] #180 closed

[2019-07-31 13:41] #178 closed

[2019-08-01 07:00] michaelsauter commented on #14
I'd say yes - if it comes up again, we can open again.

[2019-08-01 07:00] #14 closed

[2019-08-01 11:52] stefanlack opened #183 "adding new modul to existing project creates empty repository"
Steps :

1. Choose _Modify existing project_
2. Select project
3. Select at least one quickstarter to add.
4. Start provisioninig

Result:
- new bitbucket repository was created
- *But* repository is empty

[2019-08-01 12:13] clemensutschig commented on #183
@stefanlack  - please check logs and rundeck. both will give you the error!

[2019-08-01 12:45] stefanlack commented on #183
@clemensutschig yes, indeed.
Rundeck Job _fe_angular_ Failed with

Login Succeeded
WARNING! Your password will be stored unencrypted in /root/.docker/config.json.
Configure a credential helper to remove this warning. See
https://docs.docker.com/engine/reference/commandline/login/#credentials-store
Error response from daemon: name unknown
Error response from daemon: No such image: docker-registry-d

[2019-08-01 13:03] clemensutschig commented on #183
did you install / build
https://github.com/opendevstack/ods-project-quickstarters/blob/master/jenkins-slaves/nodejs10-angular/ ?

that would give you the slave :)

[2019-08-01 13:03] stefanlack commented on #183
Ah, @tjaeschke  told me that I have to build the jenkins slaves via caling

Let's wait until they are build and test again.

[2019-08-01 13:04] stefanlack commented on #183
Thank you, @clemensutschig .

[2019-08-01 13:57] stefanlack commented on #183
Error was related to missing jenkins notes.
Retest: angular frontend is provisioned again.

Anyway: i found a smal bug in the logging of ProjektApiController, see https://github.com/opendevstack/ods-provisioning-app/pull/184

[2019-08-01 14:02] #183 closed

[2019-08-02 07:46] stefanlack opened #186 "refused bequest on IServiceAdapter.getProject?"
Some implementations of org.opendevstack.provision.adapter.IServiceAdapter are not implementing _getProjects(String filter)_:

- org.opendevstack.provision.services.BitbucketAdapter#getProjects
- org.opendevstack.provision.services.ConfluenceAdapter#getProjects
- org.opendevstack.provision.services.RundeckAdapter#getProjects

Only these classes actual implemented getProjects:
- org.opendevstack.pr

[2019-08-02 08:05] clemensutschig commented on #186
@stefanlack  - because it's s a service adapter as well :)

[2019-08-05 12:00] rattermeyer opened #187 "Scanning of Sources in travis build"
Beside checking codestyle, we could run sonar scans on the code as well.
Sonarcloud is free for open source projects.

* https://sonarcloud.io/about
* https://docs.travis-ci.com/user/sonarcloud/

[2019-08-07 15:10] segator commented on #151
Any update on this?

[2019-08-08 09:23] rattermeyer opened #188 "Configure spotlessCheck in travis build"
We need to include spotlessCheck into the travis build, so it fails, if we discover non-correctly formatted files and fail the build.

[2019-08-08 10:02] #188 closed

[2019-08-09 05:21] stefanlack opened #190 "keycloak logout is not working"
After succesfull oauth2 login to provisioning-app, click logout and then try to login again.
Result: you are again logged in without the need to give your credentials again.

In order to lockout  in provisioning app, you have to close the browser.

Reason:
- actual logout only invalidates the provisiong-app JSESSION ID Cookie.  The keycloak session still exists.

[2019-08-09 05:26] stefanlack commented on #190
Solution:
Fixed in https://github.com/stefanlack/ods-provisioning-app/tree/bugfix/logouterror by redirect to "keycloak logout url" as defined in https://www.keycloak.org/docs/latest/securing_apps/index.html#logout-endpoint-2

[2019-08-09 12:47] michaelsauter opened #194 "Split provisioning app?"
When discussing opendevstack/ods-project-quickstarters#283, the following idea emerged:

* Have one central provisioning app which can ONLY provision new projects
* Extract the functionality to create components within the project to a specialised, per-project provisioning app (potentially part of the webhook proxy). That way, the authentication to create components can be done via OpenShift, whic

[2019-08-14 15:08] segator opened #192 "provisioning app fails if Active directory groups does not exists."
**ODS Version**:1.x

**Error**:
[code]
We have an automated process that create the AD groups and then execute prov-app API to create the project and assign permissions.

This error is caused because the group is not already sync on Jira/BB/Confluence instance,

I suggest before try to create the project and assign permissions, check if the system is in the required state(The group exist in jira/b

[2019-08-15 08:37] clemensutschig commented on #192
Solved in 1.2 .. retry is a Bad thing here because of thread/Session timeout.

We cannot Port  this back because ist Part of a massive refactoring change...

[2019-08-19 08:12] segator commented on #192
nice to hear this!

So then what is the behaviour of prov app to handle groups not yet sync?

[2019-08-19 17:06] segator opened #193 "[Improvement suggestion] metrics + logs exporter."
It will be nice if prov-app have metrics and logs exporter.

This will help people to trace prov app requests
prov-app sems using spring boot framework.

Spring application have a tons of frameworks to export metrics.
I recomend the usage of https://micrometer.io that is super-abstract and can export metrics to almost all the existing systems.
For example spring actuator + prometheus | influxDB |

[2019-09-03 05:43] stefanlack commented on #186
Issue name should be left on 'bequest', as defined - for example in https://refactoring.guru/smells/refused-bequest

[2019-09-05 10:55] stefanlack commented on #179
While splitting beween backend and frontend is usefull, I see not why whe should remove Spring MVC at all.
See also #194, which want to split frontend in two parts (creating projects and modify ) project

[2019-09-05 19:15] gerardcl commented on #194
anyway, I see it related somehow in terms of implementation if this idea proceeds, or?

[2019-09-09 18:03] smolanet opened #195 "Provisioning is allowed even when Openshift project is not created"
If you have an ATLASSIAN project without Openshift, you can select a quickstarter and click on "Start provision".
It looks like the task is running but actually the Proviosioning job field is empty:
![image](https://user-images.githubusercontent.com/37191037/64556079-02823980-d33f-11e9-9617-6fbe9cfcd6c9.png)
In addition, after closing the window, if you select the project again, it shows as the qu

[2019-09-10 09:42] rattermeyer commented on #177
without context, this seems to be company specific. Can we restate the requirement, so it fits the opensource project?

[2019-09-10 15:21] RexVH opened #196 "Provisioning App Doesn't Handle Uppercase Names"
When creating a new component on the provisioning page from the be-node-express quickstarter, the provisioning tool will allow you enter a component name in upper-case (e.g., be-node-express-Rex).  The provisioning app will create the BitBucket repository, with the name in lower-case (e.g., be-node-express-rex).  However, the remaining provisioning steps fail, with error:

16:23:46 |   |   | bixat

[2019-09-10 15:29] RexVH commented on #196
Here is the entire output log.

[RunDeck Failure Output Log](https://github.com/opendevstack/ods-provisioning-app/files/3596489/RunDeck.Failure.Output.Log)

[2019-09-10 16:10] RexVH commented on #196
Hi, @clemensutschig.
I found an issue.
-Rex

[2019-09-10 16:12] RexVH commented on #196
Hi, @clemensutschig.
I found a bug.
-Rex

[2019-09-10 16:18] clemensutschig commented on #196
Duplicate .. :-)
 https://github.com/opendevstack/ods-provisioning-app/issues/175

RexVH <notifications@github.com> schrieb am Di., 10. Sep. 2019, 18:12:

[2019-09-11 06:41] stefanlack opened #197 "invalid implementation of parameter no_nexus"
The document _README.md_ states

Proven to work as expected:
- Setting `no_nexus=true` in the propertis disable nexus repositories --> OK

But the description suggest that one can use `no_nexus=false` to enable the use of nexus repos. This is not the case, since the parameter is read as string value and gradle will evaluate

`if(no_nexus) {`

to true whenever the variable is defined.

[2019-09-11 15:37] #190 closed

[2019-09-12 07:33] #197 closed

[2019-09-13 08:26] michaelsauter commented on #175
@adyachok Could you maybe look into adding a validation for this in the prov app?

[2019-09-13 09:26] adyachok commented on #175
@michaelsauter yes I will take a look on it

[2019-09-16 05:53] stefanlack commented on #177
@alanbort :
can you please specify further details regarding this issue? Thanks.

[2019-09-16 06:03] stefanlack commented on #97
@clemensutschig : your solution is for crowd authentication only.

@rattermeyer For oauth2 authentication, we have already implemented this requirement, as documented in https://www.opendevstack.org/ods-documentation/ods-provisioning-app/latest/index.html#_authentication_to_third_party_apps_via_technical_users

I think we can close this issue, do we?

[2019-09-16 06:25] stefanlack opened #209 "redirect to oauth2 login even if user already authenticated"
In special cases, application redirects to oauth2 login form even if user is already authenticated.
After login, a http status 404 is shown to the user.

Steps to reproduce error:
- login to provisioning app (example https://provision.yourhost.com
- URL is now :https://provision.yourhost.com/home
- remove "home" from url: https://provision.yourhost.com and refresh browser.
- login page is shown.
-

[2019-09-16 06:53] stefanlack opened #211 "modify default access for opendevstack users to bitbucket project and repository"
When a bitbucket **project** is created, the following default permission should be granted:
- Every member of the opendevstack-users group (as configured via property `idmanager.group.opendevstack-users`)  should have **read access** at project level

When a bitbucket **repository** is created, the following default permission should be granted:
- Every member of the opendevstack-users group (as

[2019-09-16 07:03] stefanlack opened #212 "add write access for opendevstack users to bitbucket repository"
When a bitbucket **repository** is created, the following default permission should be granted.

Every member of the opendevstack-users group (as configured via property idmanager.group.opendevstack-users) should have **write** access at project level

Any thought about this?

[2019-09-16 07:09] #212 closed

[2019-09-16 07:28] stefanlack commented on #209
closes #210

[2019-09-16 07:30] stefanlack commented on #209
closed by #210

[2019-09-16 07:30] #209 closed

[2019-09-16 08:02] stefanlack opened #214 "add warning if user is not allowed to create or modify projects"
It is possible to log in to provision app without belonging to one of the groups opendevstack-admin or opendevestack-users.
While it is valid that the provision page is showing no options in this case, the behaviour is not very helpful. A hint "You are not allowed to create or modify projects!" should be implemented.

[2019-09-16 10:09] stefanlack opened #216 "add launchScript to generated fat jar"
Add  `launchScript`  when generating the jar file, so that an executable jar can be build.

See details
- https://docs.spring.io/spring-boot/docs/current/gradle-plugin/reference/html/#packaging-executable-configuring-launch-script

- https://docs.spring.io/spring-boot/docs/current/reference/html/deployment-install.html

[2019-09-18 05:41] stefanlack commented on #214
merged to master

[2019-09-18 05:41] #214 closed

[2019-09-18 05:54] clemensutschig opened #223 "Verify keycloak Setup documentation"
@stefanlack - can ypu Please ensure the antorra doc is really up2date. 1.2 introduced this major Change..  and we need to ensure People can install/ configure this.

[2019-09-18 12:09] rattermeyer opened #225 "Links to source code not correct in antora documentation"
generated http links not correct to the source code on github.

[2019-09-18 15:46] #225 closed

[2019-09-18 15:47] smolanet opened #227 "URL already taken error provisioning quickstarter after Authentication failed"
If you click on Start provision after session is expired, you receive an Authentication failed error:
![image](https://user-images.githubusercontent.com/37191037/65163875-15ca8e80-da3c-11e9-8f9a-696f9e15bb67.png)
After log in again, if you try to provision again the quickstarter using the same name, you receive another error as the URL is already taken:
![image](https://user-images.githubuserconte

[2019-09-20 13:36] stefanlack commented on #223
@clemensutschig :
- regarding provisioning app itself, a updated documentation was created and is available at https://www.opendevstack.org/ods-documentation/ods-provisioning-app/latest/index.html#_authentication_configuration

Is there anything we missed here in the documentation regarding provisioning app?

Notes:
- While we only tested our implementation with keycloak, it is not bound to keyclo

[2019-09-25 06:26] stefanlack commented on #216
closed via https://github.com/opendevstack/ods-provisioning-app/pull/217

[2019-09-25 06:26] #216 closed

[2019-09-25 14:47] #169 closed

[2019-09-26 05:13] stefanlack opened #233 "webjars dependencies should be version agnostic"
@stefanlack I think this breaks the application. When updating webjars you need to update the files that refer to the specific webjar version as well. For instance in the [footer.html](https://github.com/opendevstack/ods-provisioning-app/blob/41e3908a67dd7920ca575cf3758460a82854b43b/src/main/resources/templates/fragments/footer.html#L15)
It would be good to make the webjar use version agnostic, se

[2019-09-30 10:07] #233 closed

[2019-09-30 13:30] michaelsauter commented on #110
@felixwore

[2019-10-01 19:44] gerardcl opened #239 "latest master does not load /provision endpoint"
**ERROR**
**Whitelabel Error Page**
This application has no explicit mapping for /error, so you are seeing this as a fallback.

Tue Oct 01 18:53:49 GMT 2019
There was an unexpected error (type=Internal Server Error, status=500).
No message available

**LOGS**
[code]

**HYPOTHESIS**
Missing `#Rundeck properties` in prov-app cm.yml

[2019-10-01 19:46] gerardcl commented on #239
@stefanlack can you confirm? thanks! let me know if you need help on this! this is urgent for releasing ODS 1.2.x

[2019-10-02 08:13] #110 closed

[2019-10-02 12:07] stefanlack opened #242 "GitUrlWrangler Class hat some issues"
Bug is described by adding some failing tests to `org.opendevstack.provision.util.GitUrlWranglerTest`

[code]

[code]

[code]

[2019-10-02 12:22] clemensutschig commented on #239
@stefanlack  / @rattermeyer  - we are blocked to test 1.2 ... please help urgently

[2019-10-02 12:22] stefanlack commented on #239
Unfortunately, I am not able to reproduce this error. I tested my own production branch wich is very near to master branch, using the oauth-2 profile with external keycloak server.

What authentication are you using? The crowd way, i quess.

BTW:
- Are you using provision app installed as docker image in openshift?
- Can you prove your HYPOTHESIS by defining missing properties?
- Can you login to

[2019-10-02 12:26] clemensutschig commented on #239
`preAuthContent` is null I guess

[2019-10-02 12:32] clemensutschig commented on #239
^could it be that you lack the properties:
https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/services/BaseServiceAdapter.java#L40

[2019-10-02 12:48] stefanlack commented on #239
Can you please check, if all needed properties are defined, as documented in https://www.opendevstack.org/ods-documentation/ods-provisioning-app/latest/index.html#_authentication_to_third_party_apps_via_technical_users

[2019-10-02 16:05] gerardcl commented on #239
Hi @stefanlack  I confirm we do not have them defined, which values should we provide there? are they coming from ods-configuration also?

[2019-10-02 18:05] tjaeschke commented on #239
The technical user properties don't have to be defined. If they are not defined, the manager ones are used:

`2019-10-02 19:29:39 INFO  o.o.p.services.BaseServiceAdapter - Initialize bean org.opendevstack.provision.services.ConfluenceAdapter - configuration prefix confluence
2019-10-02 19:29:39 INFO  o.o.p.services.BaseServiceAdapter - Initialize bean org.opendevstack.provision.services.Confluence

[2019-10-03 09:08] gerardcl commented on #239
Hi @stefanlack  @tjaeschke,

We already had `provision.auth.provider=crowd` (and I also added `spring.profiles.active=crowd`) indeed, but did not solve the issue yet.

In the notes I see that `{rundeck,bitbucket,confluence,jira}-admin_{user,password}` credentials are not required since such credentials will be populated by the logged in user ones...but! this is not working in the case of credentia

[2019-10-04 06:56] tjaeschke commented on #239
Hi @gerardcl ,

no, this is not expected and did work the last time I tested it, but since then there has been worked upon the app. I will take a look.

[2019-10-04 07:51] #239 closed

[2019-10-05 12:52] clemensutschig opened #245 "Antorra docs need to be updated with latest master"
**Describe the bug**
Masters Readme is ahead of antorra docs

@tjaeschke fya

[2019-10-07 05:26] #242 closed

[2019-10-07 06:30] stefanlack commented on #245
@clemensutschig  the content of https://github.com/opendevstack/ods-provisioning-app/blob/master/README.md is not shown at the page https://www.opendevstack.org/ods-documentation/ods-provisioning-app/latest/index.html.

Page https://www.opendevstack.org/ods-documentation/common/latest/documentation.html explains, how the antorra documentation is build:

I will move / merge the content from the Rea

[2019-10-07 06:53] michaelsauter opened #246 "Prov App cannot be build through webhook proxy anymore"
**Describe the bug**
The Jenkins/WebhookProxy sits in `prov-cd`, which can only build repositories under `prov` in BitBucket since #162. However, the `ods-provisioning-app` repo is under the `opendevstack` namespace.

**Affected version (please complete the following information):**
 - OpenShift: all
 - OpenDevStack: master

[2019-10-07 09:08] rattermeyer opened #248 "Setting of Java executables on slaves"
**Describe the bug**
Jenkins Slaves problems on CentOS with alternatives approach.
e.g. configure-slave:
$(alternatives --display javac | awk '/family.*x86_64/ { print $1; }')

tries to execute the evaluated string

**To Reproduce**

$(alternatives --display javac | awk '/family.*x86_64/ { print $1; }')

will result in:
error: invalid flag: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.222.b10-0.fc30.x86_

[2019-10-07 13:03] stefanlack commented on #245
Done. https://github.com/opendevstack/ods-documentation/pull/12

[2019-10-07 13:03] #245 closed

[2019-10-09 14:12] stefanlack opened #249 "provide a cleanup util for atlassian projects"
**Is your feature request related to a problem? Please describe.**
Feature request: provide a utiliy class that can be used to clean up jira projects, confluence spaces and bitbucket projects that are created during developer testing.

**Describe the solution you'd like**
Implement a test class that can be executed manually. The class should delete the resources via call to the  rest api.

The nee

[2019-10-11 13:22] rattermeyer opened #252 "Update antora version tag on 1.2.x branch"
**Is your feature request related to a problem? Please describe.**
Adding branch 1.2.x to ods-documentation/site.yml results in "duplicate nav: latest@common:ROOT:nav.adoc"

**Describe the solution you'd like**
Update the version description tag in the 1.2.x branch to 1.2.x in the docs/antora.yml

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-10-11 14:58] clemensutschig commented on #252
https://www.opendevstack.org/ods-documentation/ods-provisioning-app/1.2/index.html

shows 1.1 related info ... where is all the new stuff we added (e.g. the API that changed)?

[2019-10-11 15:13] rattermeyer commented on #252
Good question. Thought that @stefanlack migrated this to https://github.com/opendevstack/ods-provisioning-app/blob/master/docs/modules/ROOT/pages/index.adoc.
We need to double check.

[2019-10-11 15:22] rattermeyer commented on #252
hmm. the index is only one part. the README.md was split up into different parts. everything should be there. see:
[Overview](https://www.opendevstack.org/ods-documentation/ods-provisioning-app/latest/index.html)
[Configuration Guide](https://www.opendevstack.org/ods-documentation/ods-provisioning-app/latest/configuration.html)
[Internal architecture](https://www.opendevstack.org/ods-documentation

[2019-10-11 15:22] clemensutschig commented on #252
offencing commit
https://github.com/opendevstack/ods-provisioning-app/commit/efcbf4fc9390a1aef6547245e4903ea0b755c142#diff-04c6e90faac2675aa89e2176d2eec7d8

curl requests gone :(

[2019-10-11 15:27] rattermeyer commented on #252
You are note referencing the curl requests, as documented here: https://www.opendevstack.org/ods-documentation/ods-provisioning-app/1.2/index.html#_using_the_provision_application_via_api_thru_direct_rest_calls

[2019-10-14 06:06] stefanlack commented on #252
@clemensutschig curl requests are still present. Please see

https://github.com/opendevstack/ods-provisioning-app/blob/master/docs/modules/ROOT/pages/index.adoc#using-the-provision-application-via-api-thru-direct-rest-calls

and https://www.opendevstack.org/ods-documentation/ods-provisioning-app/1.2/index.html#_using_the_provision_application_via_api_thru_direct_rest_calls

![image](https://user-i

[2019-10-14 06:06] #252 closed

[2019-10-14 06:10] stefanlack commented on #252
@clemensutschig can you please give additional information, if something is missing?

Please note that [README.md](https://github.com/opendevstack/ods-provisioning-app/blob/master/README.md) now only has references to the documentation inside the _docs_ folder and the antora documentation site.

[2019-10-15 18:58] clemensutschig commented on #192
this is done (in 1.2) . nothing will be created - and any resources that were created are rolled back.

[2019-10-15 18:58] #192 closed

[2019-10-15 18:59] clemensutschig commented on #195
hmmm - if you have the rights - the project will be upgraded automatically.
@smolanet  what happened in your case?

[2019-10-17 05:37] stefanlack commented on #223
@clemensutschig is this ticket still needed? If yes: Can you please answer my questions, so that I can help you? Otherwise please close this issue. Thanks!

[2019-10-17 08:55] clemensutschig opened #255 "JIRA components are (wrongly) created for auxiliary repositories"
**Describe the bug**
Today components are created even for auxiliary system repositories which is wrong

**To Reproduce**
Create a  new ODS project thru the provision app - and then check jira - 2 components were created. `Technology_` (design and ocp-config)

**Expected behavior**
Components only created for quickstarters

**Affected version (please complete the following information):**
 - OpenD

[2019-10-17 13:46] smolanet commented on #195
yes, there is https://bitbucket.biscrum.com/projects/VMP
nothing was created there

[2019-10-18 06:56] rattermeyer opened #257 "Missing .gitattributes"
**Describe the bug**
We are developing on different platforms (Linux / Windows / Mac).
This can cause inconsistensies in line endings when commiting changes.

**Expected behavior**
The line endings in the repo should always be LF to be consistent with the other ODS repos.

**Solution**
Introduce a .gitattributes as we maintain for other repos as well, so we do not rely on a git installation config

[2019-10-18 09:46] rattermeyer commented on #257
solved by #258

[2019-10-18 09:46] #257 closed

[2019-10-24 08:51] rattermeyer commented on #257
yes, see opendevstack/ods-project-quickstarters#415

[2019-10-29 07:56] #211 closed

[2019-10-29 08:07] stefanlack commented on #186
Internal code quality seams not to be at highest priority in the current state of the project. Therefore, I close this issue for now.
We can re-open this in case we decide to do a bigger refactoring / cleanup of provisioning app.

[2019-10-29 08:07] #186 closed

[2019-10-29 13:49] stefanlack commented on #223
@clemensutschig : ping.

[2019-10-31 16:11] clemensutschig opened #261 "Connecting to rundeck to fetch jobs .. fails with "closed""
**Describe the bug**

Whitelabel Error Page
This application has no explicit mapping for /error, so you are seeing this as a fallback.

Thu Oct 31 16:00:16 GMT 2019
There was an unexpected error (type=Internal Server Error, status=500).
closed

**To Reproduce**
provide wrong rundeck authentication means / token

**Expected behavior**
A clear error message coming from the server, containing the cau

[2019-10-31 20:24] clemensutschig commented on #261
@stefanlack the real Error behind is a Proxy Error..  super weird.. is okhttp  picking up proxy from env?

[2019-11-05 07:24] clemensutschig commented on #261
what's really weird - is that a scale down / up fixed the issue.

[2019-11-05 10:16] kiwo opened #262 "STORAGE_CLASS_DATA is undefined per default but tailor requires STORAGE_CLASS_DATA to be set"
Hi, i am not shure if this is an issue with tailor or with the generation of the default config or with the template. When setting up ODS from scratch the autogenerated config STORAGE_CLASS_DATA="" results in the following error:

![image](https://user-images.githubusercontent.com/16405776/68198962-5f0b7900-ffbd-11e9-9f20-33da0cf8f841.png)

[2019-11-05 10:52] michaelsauter commented on #262
Does https://github.com/opendevstack/ods-configuration-sample/pull/44 solve the issue? Or is the problem that there must be a value for that key?

[2019-11-06 16:56] segator opened #264 "An error occured while creating project XXXX, reason closed - cleanup attempted, but [{BUGTRACKER_PROJECT=1}] components are still there!"
**Describe the bug**
When creating projects on prov-app using API, randomly we get this kind of error

**To Reproduce**
prov-app api project creation with ODS.

**Expected behavior**
Project created succesffully.

**Affected version**
 - OpenDevStack  1.2.x

**Log Output**
[code]

[2019-11-06 17:13] clemensutschig commented on #264
see #263  - though this will only get you the right error message ... there MUST be something else.

[2019-11-07 07:58] michaelsauter commented on #264
@stefanlack @stitakis Any ideas?

[2019-11-07 11:26] clemensutschig commented on #264
I have a suspicion ... could it be that we loose the credentials somehow on the thread local? (GC?)

[2019-11-07 14:44] clemensutschig commented on #264
same issue as in #261

@stefanlack  - can you help me understand what https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/services/RundeckAdapter.java#L394-L397 is doing... this is scary code (these are singleton instances, and if credentials change, this will fail!) ... thoughts?

[2019-11-07 14:45] clemensutschig commented on #261
partially closed by #263

[2019-11-07 14:55] stefanlack commented on #264
@clemensutschig yes, you are right. In case of using technical users for rundeck, this is valid code. If one uses non technical users, but crowd authentication, this is invalid.
I will send a PR ASAP.

[2019-11-07 14:56] clemensutschig commented on #264
@stefanlack  - we need PRs for closed and this against 1.2 ... this is blocking ... and yaaaak :)

[2019-11-07 15:32] stefanlack commented on #264
PR https://github.com/opendevstack/ods-provisioning-app/pull/266 created.
@clemensutschig  can you please approve this pr and merge to master? Unfortunately i currenty cannot test this code, since crowd is no longer available at my side.
If everything is fine, the commit can be cherry picket to 1.2 branch. But let's first review and test and merge to master.

[2019-11-07 16:45] sklingel opened #267 "Provisioning app fails to clean up failed provisioning attempt"
**Describe the bug**
Provisioning app fails to clean up because of failed rundeck Job. Jira project is not being removed

**Expected behavior**
No artifacts present after error downstream (e.g in rundeck)

**Log Output (ensure to remove any confidential information like tokens, project names, etc.**
[code]

**Additional context**
Add any other context about the problem here.

[2019-11-08 08:16] kiwo commented on #262
an empty string results in the same error. this is fixed in upcoming ods-core ocp-templates by setting required: false

[2019-11-08 08:47] clemensutschig commented on #267
the problem is the permission set hooked to the jira project - we need to clean the jira project first, and then the permission set.. It's somewhat odd - I am sure we tested this with @tjaeschke  - before we merged :(

[2019-11-09 18:15] #255 closed

[2019-11-09 18:16] clemensutschig commented on #227
This is fixed in 1.2

[2019-11-09 18:16] #227 closed

[2019-11-09 18:17] clemensutschig commented on #187
Coool.. lets do

[2019-11-11 13:04] stitakis opened #269 "add third party dependencies security scanning to github actions"
**Is your feature request related to a problem? Please describe.**
3rd dependencies are vulnerable. Synk provides monitoring for 3rd party dependencies.

**Describe the solution you'd like**
Add snyk scan stage to github actions

[2019-11-11 13:05] stitakis commented on #187
btw... we can add snyk scan to travis bulid #269

[2019-11-12 14:00] michaelsauter opened #270 "Prov App Quickstarter configuration"
In #265, the temporary solution to configure quickstarters is this snippet in the `application.properties` file:
[code]
To allow this behaviour, the webhook proxy was altered to accept a URI for a repository.

This is not good because:
* It contains IP adresses
* It allows to execute arbitrary code when someone is able to bypass security e.g. on the webhook proxy

Therefore, we will not have this

[2019-11-15 10:41] #267 closed

[2019-11-15 12:43] michaelsauter commented on #257
@rattermeyer Why are only `.sh` files set to `LF`? Shouldn't we have all files be `LF`?

[2019-11-15 13:25] rattermeyer commented on #257
Because .sh files need to be checked out on Windows as LF as well (if you e.g. you cygwin to execute sh files). It is because they might be "executed" on Windows as well.
The other part is handled as proposed by [github](https://help.github.com/en/github/using-git/configuring-git-to-handle-line-endings)

[2019-11-15 14:30] #264 closed

[2019-11-15 14:30] #261 closed

[2019-11-15 14:53] clemensutschig commented on #195
@smolanet  - shit, I can repro it ... good catch .. debugging right now :)

[2019-11-19 07:53] michaelsauter commented on #187
This is not releated to a particular release, hence taking of from release 2.

[2019-11-19 13:43] stefanlack opened #273 "Creating Secret/cd-user-with-password failed"
**Describe the bug**
Wenn running tailor update for provisioning app:
[code]
tailor cannot create credentials.

**To Reproduce**
Steps to reproduce the behavior:
1. exeute prepare-provisioning-app.sh

**Expected behavior**
Credential secrets for cd_user have been created.

**Affected version (please complete the following information):**
 - Branch master, following the  local installation guide.

[2019-11-19 14:02] michaelsauter commented on #273
@stefanlack Will look into it. Base64 related.

[2019-11-19 14:05] stefanlack commented on #273
@michaelsauter thank you. As far as I see, username has to be base64 encoded. I already testet this locally. But somehing else seams to be incorrect, since the my jenkins build still cannot checkout.

[2019-11-19 14:43] michaelsauter commented on #273
@stefanlack Created a fix - see PR. If it still does not work, maybe the syncing has not happened yet?

[2019-11-20 06:42] #273 closed

[2019-11-20 09:01] #195 closed

[2019-11-20 14:09] tjaeschke commented on #98
So just a few thoughts before we start implementing this.

As we said, user creation will be out of scope, because it depends on business processes, that are not handled by ODS.

The flow:
1. create cd user for project
2. Pass cd user name in prov app (alternatively use a naming pattern?)
3. Add user to Bitbucket project
4. Set cd user secret in project and for project jenkins

Parts that have to

[2019-11-21 07:26] tbugfinder opened #275 "configurable buildconfig output"
**Is your feature request related to a problem? Please describe.**
It would be beneficial for hybrid workloads to use OpenShift/ODS as the build environment pushing images to an (or even multiple) external docker registry (registries) like Nexus, AWS ECR or Azure Container Registry.
I'm using the term hybrid workloads in a sense were a single container image is used within OpenShift, AWS, Azure, H

[2019-11-21 07:37] michaelsauter commented on #275
@tbugfinder Makes sense to me. To my understanding though, the options in OpenShift are very limited - you can't even tag the produced image with two tags (I researched this).

So maybe the image would need to be pulled in Jenkins after building, and then pushed to another registry? Would that work for you?

[2019-11-21 10:09] stefanlack opened #276 "invalid rolebinding.yml"
**Describe the bug**
When ods-core/infrastructure-setup/scripts/prepare-provisioning-app.sh is executed in openshift,
the creation of role bindings fails

**To Reproduce**
1. Run script on openshift vm via `vagrant ssh openshift -c "sudo /ods/ods-core/infrastructure-setup/scripts/prepare-provisioning-app.sh"`

**Log**
[code]
**Expected behavior**
Rolebinding was created

**Screenshots**
![image](h

[2019-11-21 10:27] michaelsauter commented on #276
@stefanlack Check if you have the latest Tailor version, in `0.10.3` I'm trimming `userNames` and `groupNames` because they are only for legacy clients.

[2019-11-21 10:41] stefanlack commented on #276
@michaelsauter Tailor in my openshift virtual box is old,  0.9.5. We need to update the local installation script.

[2019-11-21 10:56] michaelsauter commented on #276
@stefanlack Yes, I will do that ... there might be another patch release though before v2.

[2019-11-21 11:45] #276 closed

[2019-11-21 15:15] tbugfinder commented on #275
@michaelsauter Pulling and pushing images in Jenkins is an option. Would I have to use a custom jenkins_slave to add docker/buildah executable?

[2019-11-21 15:23] michaelsauter commented on #275
@michaelsauter Probably. I think pulling might work via `oc`, put pushing would require some different tool.

I am moving this issue to `ods-core` for now until we now where exactly to put it.

[2019-11-25 09:41] stefanlack opened #279 "job instance information at provision result page is missing"
**Describe the bug**
After provisioning, the application page contains the text "Provisioniong jobs:null"
The url to the jenkins job has to be added

**Screenshots**
![image](https://user-images.githubusercontent.com/2901438/69529032-bc1c9e00-0f6f-11ea-8414-2f95ad1b57c3.png)

**Affected version**
 -Current version, based on master branches

[2019-11-25 09:45] stefanlack commented on #279
@michaelsauter should we delete this block or should we  add a link zu the jenkins job instead?

[2019-11-25 09:52] clemensutschig commented on #279
Jenkins job instance

Stefan Lack <notifications@github.com> schrieb am Mo., 25. Nov. 2019, 10:45:

[2019-11-25 10:44] michaelsauter opened #280 "Quickstarters are missing a description"
If I'm not mistaken, the new quickstarter config does not include a description. We should have one though. @kiwo Ideas how we can add that back in?

[2019-11-25 12:33] akhilsoman opened #281 "Component Names : Only allow valid labels"
**Describe the bug**
Provisioning app should reject component names that doesn't fit the Kubernetes label Syntax standards.

Valid label values must be 63 characters or less and must be empty or begin and end with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between.

**Expected behavior**
Provisioning app should not allow users to enter inv

[2019-11-25 13:48] stefanlack opened #282 "cleanup provisioning app after remove rundeck"
Cleanup some things that where introduced by PR #265 .

**Add tests again**
removed the following unit tests:

org.opendevstack.provision.controller.E2EProjectAPIControllerTest
org.opendevstack.provision.services.RundeckAdapterTest
org.opendevstack.provision.util.RundeckJobStoreTest

Theses tests have to be implemented again.

**Refactor package structure**
Name _rundeck_ has to be removed from pa

[2019-11-25 14:54] stefanlack commented on #282
Testclass `org.opendevstack.provision.util.RundeckJobStoreTest` is no longer needed, cince RundeckJobStore has been deleted.

[2019-11-28 07:47] stefanlack commented on #279
https://github.com/opendevstack/ods-core/issues/281 would be helpful for implementing this feature.

[2019-11-28 10:39] michaelsauter commented on #262
@kiwo Can we close this issue?

[2019-11-29 09:08] #279 closed

[2019-11-29 12:00] michaelsauter commented on #279
I tested this just now, and while the link works, it does not display the full URL. For consistency, should we disaply the full URL? So with `https://jenkins....` in front?

[2019-11-29 12:08] stefanlack commented on #279
@michaelsauter I decided to display the jobname instead of the url, because the url get's pretty long and ugly. For case of component creating, one can select multiple quickstartes at one time. Displaying all urls for every component causes formatting problems.

We can easily change it back to the old behaivor in
https://github.com/opendevstack/ods-provisioning-app/blob/612b1c06315089c2ff1898981f0

[2019-11-29 12:21] michaelsauter commented on #279
Hmm maybe you are right with the long URL. Let's leave it like it is.

[2019-11-29 15:08] henrjk opened #290 "provisioning component into existing project failed"
**Describe the bug**

We are already working to fix this.

Using a personal project created with a version well before ODS v2 of the provisioning app.
When provisioning the new component bePythonFlask

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Provision'
2. Select  'Modify existing project'
3. In 'Select existing project' selected my playground project.
4. In 'Quickstarter' selec

[2019-12-02 07:12] stefanlack commented on #280
closed by #288

[2019-12-02 07:12] #280 closed

[2019-12-02 08:56] stefanlack opened #292 "app wants to create jira components for project without bugtracker space"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. create a new project without creating jira and confluence projects
2. Modifiy project and add a new component to it
3. See error in log: the app tries to create jira components.

**Expected behavior**
Application should not create jira component, because project has no jira project created.

**Affected version (please compl

[2019-12-02 09:50] #290 closed

[2019-12-02 13:41] maierl opened #293 "Quickstarters are not populated"
From time to time, the prov-app breaks. The list of quickstarters that can be added to a project is empty and all existing ones are denoted as "undefined".

![image](https://user-images.githubusercontent.com/8655419/69964066-e2af7b80-1511-11ea-9140-cdd88d4dc7dd.png)

[2019-12-02 15:06] kiwo opened #294 "API Call: Delete Project not working anymore"
**Describe the bug**
* "Cleanup" method is being used by ProvApp REST Api to delete Projects.
* Because Jenkins calls are ASYC JenkinsPipelineAdapter cant do cleanup as before
( Cleanup job can be executed before actual project creation happens) -> Cleanup procedure was disabled in JenkinsPipelineAdapter

**To Reproduce**
call REST API to delete Project

**Expected behavior**
Openshift Projects ar

[2019-12-02 15:11] stefanlack commented on #294
Note that org.opendevstack.provision.controller.E2EProjectAPIControllerTest#testQuickstarterProvisionOnNewOpenProjectInclDelete has also to be fixed.

[2019-12-02 15:12] michaelsauter commented on #294
@kiwo Rundeck was also async?! Should not have changed ... this is a MUST for ODS 2.

[2019-12-02 15:14] michaelsauter commented on #293
@maierl I think that might be due to session timeout with Rundeck. If this is the case, it'll go away automatically with ODS 2.

[2019-12-02 15:17] kiwo commented on #294
in rundeck jobs where running in serial.

[2019-12-02 15:20] michaelsauter commented on #294
Hmm ... nothing waited for the completion of a Rundeck job though. At least there was no feedback in the prov app when it completed? Sometimes the job would fail and you would not know until you looked in Rundeck.

[2019-12-02 15:45] maierl commented on #293
Is there a way for me to work around this with the current version? Re-login in pro-app does not fix the issue. Like this, I cannot provision anything and I don't know when it will be possible again.

[2019-12-02 17:16] clemensutschig commented on #293
restart of the application will help.. though we cannot pinpoint really what is the issue?! :(

[2019-12-03 06:00] #282 closed

[2019-12-03 06:00] #292 closed

[2019-12-03 08:01] #294 closed

[2019-12-03 08:36] #249 closed

[2019-12-03 11:51] stefanlack opened #296 "API Call: Delete Component not working anymore"
**Describe the bug**
* "Cleanup" method is being used by ProvApp REST Api to delete Projects.
* Because Jenkins calls are ASYC JenkinsPipelineAdapter cant do cleanup as before
( Cleanup job can be executed before actual project creation happens) -> Cleanup procedure was disabled in JenkinsPipelineAdapter

**To Reproduce**
call REST API to delete Project

**Expected behavior**
Openshift compontens

[2019-12-03 11:57] stefanlack commented on #294
will be fixed via #295

[2019-12-03 12:17] stefanlack commented on #296
@michaelsauter @clemensutschig : do you know if component deletion was implemented via rundeck? We (@kiwo  and I) couldn't find a shell scirpt inside old ods-project-quickstarters repro.

[2019-12-03 12:20] michaelsauter commented on #296
@stefanlack @kiwo Hmm, I found it here: https://github.com/opendevstack/ods-project-quickstarters/tree/1.1.x/rundeck-jobs/openshift.

It is not there anymore in 1.2.x ....

[2019-12-03 12:22] michaelsauter commented on #296
Script is at https://github.com/opendevstack/ods-project-quickstarters/blob/1.1.x/ocp-templates/scripts/delete-component.sh. That did also not make it into 1.2.x ...

[2019-12-03 12:22] clemensutschig commented on #296
@michaelsauter  - yup indeed .. it was there in 1.0.x ... just checked :)

utschig@WKS0000627058 MINGW64 /c/code_bix/opendevstack_at_BIX/ods-project-quickstarters/rundeck-jobs/openshift (ods_1.0.x)
$ ls
   delete-component.yaml

and secondly ...

utschig@WKS0000627058 MINGW64 /c/code_bix/opendevstack_at_BIX/ods-project-quickstarters/ocp-templates/scripts (ods_1.0.x)
$ ls
delete-component.sh*

[2019-12-03 13:02] michaelsauter commented on #296
You either want to delete all resources with the label `app=PROJECT-COMPONENT` or you process the templates and delete the resources in it ...

[2019-12-03 14:12] henrjk opened #298 "provision comp fails with attempt to checkout ods-quickstarters.git from target repo"
**Describe the bug**
Provisioning a component into and existing project 'henpg' fails (provisioned some months ago).
The provisioning app aims to checkout ods-quickstarters from the henpg project.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Provision'
2. Select 'Modify existing project'
3. In 'Select existing project' selected my playground project (henpg).
4. In 'Quickstarter' se

[2019-12-03 14:18] michaelsauter commented on #298
@henrjk You will not to update the webhook proxy. In `1.2.x`, it is not allowed to checkout repos outside of your Bitbucket project. In `2.x` it is allowed to checkout `opendevstack` repos too (and any other projects you configure).

[2019-12-03 14:18] #298 closed

[2019-12-03 14:39] henrjk commented on #298
After changing the  jenkins-webhoo-proxy's deployment config to use image `cd/jenkins-webhook-proxy:2.x` this worked for me.

I first got an authentication error about not being able to POST to bitbucket. But after log out and log in this issue went away.

[2019-12-03 19:04] oalyman opened #299 "Order "Select existing project" drop-down"
**Is your feature request related to a problem? Please describe.**
"Select existing project" drop-down is not ordered thus it is hard to find a project in a long list.

**Describe the solution you'd like**
The drop-down should be alphabetically ordered.

**Describe alternatives you've considered**

**Additional context**

[2019-12-03 20:05] oalyman opened #300 "upgrade to ODS 2 : For projects created via rundeck "Current Quickstarters" column shows undefined"
**Describe the bug**
For projects created via rundeck "Current Quickstarters" column shows `undefined`.

"Current Quickstarters" column data is created via "enhancing" the historical project content from the json files.
This is done by using the component_type of the stored json and then mapping it to the name/id (see [ProjectApiController.java](https://github.com/opendevstack/ods-provisioning-app

[2019-12-03 21:31] clemensutschig commented on #300
Must fix for 2.0... the Good news is we can hardcode the uuid..

[2019-12-04 07:18] stefanlack opened #301 "install pre-commit hook that formats via spotless"
**Is your feature request related to a problem? Please describe.**
We use _spotlessJavaCode_ on travis to verify that code is formatted according to the rules.
Since my IDE does not exactly format in the same way, I have to run _gradle spotlessJavaApply_ manually. Sometimes we forget to run the formatter.

**Describe the solution you'd like**
Implement a pre-commit hook set runds _gradlew spotless

[2019-12-04 07:20] tjaeschke commented on #301
I think this is a good idea, since I have the same problem.

[2019-12-04 11:09] clemensutschig commented on #300
enhancement with original UUIDs ... needs to be in
https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/services/JenkinsPipelineAdapter.java#L106

as they are static and are on github - we can just add them, or build a sidecar file .. @oalyman - can you take this up

[2019-12-04 14:39] clemensutschig commented on #262
@kiwo?

[2019-12-05 08:03] #299 closed

[2019-12-05 08:27] #300 closed

[2019-12-05 10:04] michaelsauter opened #306 "Quickstarter config regex fails for branch names with dots"
**Describe the bug**
When the config contains sth. like `opendevstack/ods-quickstarters.git#2.x/be-java-springboot/Jenkinsfile`, then the prov-app fails to boot - with an exception in https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/model/jenkins/Job.java#L73.

**Affected version**
 - OpenShift: all
 - OpenDevStack: master only

[2019-12-05 10:05] michaelsauter opened #307 "Project creation overlay does not contain instructions that PW has to be changed"
The email contains a note, but the overlay does not. It really should contain that info, too.

Here's where that information should be added:
![Screenshot 2019-12-05 at 10 15 34](https://user-images.githubusercontent.com/215455/70226174-a61d9300-1750-11ea-9a94-3b0e82e55ecd.png)

[2019-12-05 10:06] michaelsauter opened #308 "PW change instructions hard to follow"
The PW instructions read:
[code]

That is very hard to follow because it does not link to the right spot, and it also does not explain that one needs to use base64.

[2019-12-05 10:48] michaelsauter opened #309 "PW instructions show up even if the global cd_user is chosen"
**Describe the bug**
When not creating a project specific cd_user, the email still contains the instructions to change the PW.

**To Reproduce**
Provision a project, but do not enter a specifc cd_user.

**Expected behavior**
No instructions should be there.

**Affected version**
 - OpenShift: all
 - OpenDevStack: master only

[2019-12-05 15:22] stefanlack commented on #296
Done:
- uild "delete-component" Function in JenkinsPipelineAdapter (create a new function desigend to delete components. (-> @stefanlack )
- Activate and fix test E2EProjectAPIControllerTest.testQuickstarterProvisionOnNewOpenProjectInclDeleteSingleComponent (based on #295)/ function that is called to delete a single component is missing (-> @stefanlack )

[2019-12-06 08:21] #296 closed

[2019-12-06 08:56] michaelsauter commented on #306
One idea is to replace the current config:
[code]

With this:
[code]

[2019-12-06 09:28] michaelsauter commented on #262
Fixed now.

[2019-12-06 09:28] #262 closed

[2019-12-06 13:50] #307 closed

[2019-12-06 13:50] #308 closed

[2019-12-06 13:50] #309 closed

[2019-12-09 19:19] #317 closed

[2019-12-09 19:19] michaelsauter opened #317 "Create project specific trigger secret"
Instead of one trigger secret shared across all webhook proxies, we need one per project (aka initiative).

[2019-12-10 10:27] stefanlack commented on #223
closed, because we did not got feedback.
@clemensutschig please feel free to reopen ticket and specify further details.

[2019-12-10 10:27] #223 closed

[2019-12-10 16:05] michaelsauter opened #318 "Session timeout issues"
**Describe the bug**
There is an issue with outgoing request (e.g. to Jira) not being authenticated properly as the requests use memory scoped to the Spring session. When that happens, the user is not redirect to the login, but an exception is thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to prov-app
2. Wait for 5 mins
3. Do something that triggers external call (e.g. change

[2019-12-11 14:46] #306 closed

[2019-12-11 15:54] michaelsauter commented on #293
Quickstarters are not loaded from Rundeck anymore in ODS 2, therefore I'll close this.

[2019-12-11 15:54] #293 closed

[2019-12-12 14:22] #318 closed

[2019-12-14 12:57] #98 closed

[2019-12-14 12:58] clemensutschig commented on #270
If fixed in ods 2 - Please close

[2019-12-14 15:11] clemensutschig commented on #194
@michaelsauter - ods2 and wont fix or?

[2019-12-16 08:11] michaelsauter commented on #194
Yes we can close this. Maybe we revisit it when we think about possible provisioning app refactors, but the solution will likely look different.

[2019-12-16 08:11] #194 closed

[2019-12-16 08:12] michaelsauter commented on #270
This is done.

[2019-12-16 08:12] #270 closed

[2019-12-19 08:32] segator opened #325 "prov-app improvements ideas"
**migrate to golang:**
* Reduce memory footprint
* increase start speed (This will allow a proper scale to zero)
* be prepared for possible transformation to OCP Operator.

**What if we can do prov-app stateless?**
an Idea: create adapter to support state to configmaps, this will allow scalability and open a possible future to create an ODS Operator for OCP.

Right now prov-app is keeping project

[2019-12-20 10:51] michaelsauter commented on #114
At most this should be a quickstarter. Definitely not related to the prov-app. However, I believe the value of such a quickstarter is so minimal that it might not be worth adding one. I'll close this. Please reopen in ods-quickstarters if you really believe this is necessary.

[2019-12-20 10:51] #114 closed

[2019-12-20 10:52] michaelsauter commented on #93
Rundeck has been removed.

[2019-12-20 10:52] #93 closed

[2019-12-20 10:59] michaelsauter commented on #97
Let's close this.

[2019-12-20 10:59] #97 closed

[2020-01-02 14:52] hugowschneider opened #326 "Improve code readability / Variable Names"
The overall code is a little bit hard to understand, but we could start improving small pieces like:

Distinguishing variables in the same class not only by a simple upper case:
https://github.com/opendevstack/ods-provisioning-app/blob/bcd75037b1e6d81d2bbe27f8ccdc47ab8c53751d/src/main/java/org/opendevstack/provision/config/JenkinsPipelineProperties.java#L19

https://github.com/opendevstack/ods-pro

[2020-01-13 10:40] stitakis commented on #325
Hi @segator, a couple of thoughts on this item:

Regarding "migrate to golang":
- currently we are not suffering runtime problems (or at least I'm not aware), therefore, I don't see necessity to reduce memory footprint or increase start speed. Although both things are always a good thing to do. both could be addressed in java too.
- there is also support of OCP operator framework for java
So I don

[2020-01-13 14:35] metmajer commented on #325
Same here, Java vs. Golang is not our issue. Since the service will soon run as a singleton, this doesn't make a difference given there will be dozens of applications running dozens of components each implemented in Java.

@segator The issues lie more in the stability of the service and processing breaking, correct? Please focus on elaborating on those. Thanks!

[2020-01-14 09:20] sino92 opened #327 "Inconvenience of local storage location"
**Is your feature request related to a problem? Please describe.**
During local development, I am unable to a provision a new project without creating `/var/log/history/` path in my machine - which demands the use of sudo command. Alternatively, I have to modify the `project.storage.local` variable.

**Describe the solution you'd like**
Switch project storage space to docker volume where the stora

[2020-01-14 09:46] sino92 opened #328 "Lack of error handling during project storage"
**Is your feature request related to a problem? Please describe.**
During provisioning of a project locally, when a project storage fails due to https://github.com/opendevstack/ods-provisioning-app/issues/327, an accurate error message is missing.
![Screen Shot 2020-01-13 at 14 13 25](https://user-images.githubusercontent.com/16910110/72259374-95462400-3610-11ea-8411-87d504b52c22.png)

**Describe

[2020-01-14 10:42] sino92 opened #329 "Pull the modify projects list from OC"
**Is your feature request related to a problem? Please describe.**
After hitting modify an existing project and go through the list, we see projects that are already removed from OC.

**Describe the solution you'd like**
Get the list of projects using an oc command

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-01-17 08:45] segator opened #330 "prov-app preflight check"
**Check Before create project**
* Return an error code/message  on the API when jira user used to create project doesn't have apropiate permissions to  create/update/rollback(delete) project
* Return an error code/message  on the API when jira user/groups injected in the API doesn't exists. This case should return an especial code because we can implement a retry in the system that call prov-app A

[2020-01-17 09:34] michaelsauter opened #331 "OCP templates should point to latest tag"
As the provisioning app is built through the Jenkins pipeline process, the image tags referenced in the DC should be `latest`, not `ODS_IMAGE_TAG`. Otherwise no deployment will happen when the pipeline runs.

**Affected version:**
 - OpenDevStack: 2.0, master

[2020-01-20 07:50] #331 closed

[2020-01-20 09:26] sino92 commented on #329
@michaelsauter @clemensutschig @stitakis @oalyman Thoughts?

[2020-01-20 09:38] stitakis commented on #329
I think it makes a lot of sense to use openshift as the source for the project list.

[2020-01-20 10:28] michaelsauter commented on #329
Another issue with the current approach is that you do NOT see projects that were migrated to a cluster. Since the provisioning app did not create the project, it does not know about it, so you cannot modify it :(

I am a bit unsure about the overall fit of this though. If the prov-app has direct access to OCP projects now, then this could raise the question if it shouldn't do the provisioning its

[2020-01-20 13:31] oalyman commented on #329
- currently, you can provision a project and tick off to create open shift resources. So we need to change that if we want to use OS as source of truth.
- what about the additional metadata that is currently stored in the local storage?
- what namespaces should be visible to the provisioning app? In some environments you might not want to have all namespaces to be exposed to be modified

[2020-01-20 13:41] stitakis commented on #329
Please see my comment to the 3 points mentioned by @oalyman

Do we want to be able to provision components to bitbucket with prov-app if the corresponding openshift project does not exists? If is not the case, then nothing to do here. If yes, then we need to think about a solution.

Is any metadata needed to fill the drop-down list? @sino92: can you please verify?

3. what namespaces should be vis

[2020-01-20 13:54] sino92 commented on #329
As the metadata, we'd need the component information of an existing OC project. We can use the project name to retrieve that information from `OpenProjectData`. The new class to pull existing OC projects won't replace `LocalStorage`.

[2020-01-21 22:38] borja44 opened #334 "nodejs typescript boilerplate built on jenkins has reached the limit at openshift long tag max"
When I go to prov-app to and choose to build nodejs boilerplate for my ods2 project; then I go to Jenkins console and see a fail .

Basically there is a character bump with the labels (63 max) and the typescript label I am trying to mount  quickstarter-**be-typescript-express**-ods2test3-**be-typescript-express** has ==> 66

Can be this checked?

BR,

[2020-01-22 08:00] segator commented on #91
Borja is asking if it's possible that prov-app assign multiple groups to diferents roles in jira when provisioning a new project via API in prov-app

[2020-01-22 08:25] gerardcl opened #335 "provisioning of quickstarters fails if pod name label is longer than 63 characters"
**Describe the bug**
Component provisioning fails when starting the pipeline if Kubernetes pod label too long (limit is 63).

**To Reproduce**
Steps to reproduce the behavior:
1. In ODS 2.x/master, go to provisioning app and provision `be-typescript-express` component
2. Jenkins provisioning fails

**Expected behavior**
 The component should be provisioned without issues

**Affected version (pleas

[2020-01-22 11:23] michaelsauter opened #336 "Provisioning fails for some quickstarters when component ID is the same as the component type"
**Describe the bug**
When the type of the component is used for the component name (ID), some quickstarters might fail. See https://github.com/opendevstack/ods-quickstarters/issues/117.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to prov app
2. Add quickstarter using the component type as name (e.g. `fe-react`)
3. See error

**Expected behavior**
Should be prevented, users must enter

[2020-01-22 12:06] gerardcl commented on #336
same for `fe-angular`, at `init Project` stage in the provisioning job:
[code]

[2020-01-23 12:17] michaelsauter commented on #335
Proposed solution:

1. Shorten name of Jenkins pipeline to be `ods-qs-$COMPONENT_ID`
2. Ensure `$COMPONENT_ID` is less than 40 characters

[2020-01-23 12:25] michaelsauter commented on #336
Proposed quick fix:

1. Do not allow component ID to be same as component type
1. Don't default to component type. Make field empty so that people come up with a proper name. Make sure name cannot be blank either when submitting :)

[2020-01-23 15:39] oalyman opened #337 "Release the provisioning app as docker image"
**Is your feature request related to a problem? Please describe.**
Currently, I have to clone the repo of the provisioning app and build it locally / in my ods cluster to have a running instance of the application.
This is cumbersome and costs a lot of time if I am only interested in running an instance of it.

**Describe the solution you'd like**
It would be nice if every version of the provision

[2020-01-27 11:55] metmajer commented on #325
@segator please close the issue if you agree. Thanks!

[2020-01-27 14:06] stitakis commented on #172
@clemensutschig @michaelsauter we need to think about which user roles should be authorized to call the /delete endpoint and cases/rules like:
A: admin is allowed to remove any project
B. user will allowed to delete their own project
C. etc...

[2020-01-27 19:59] tbugfinder opened #338 "Documentation of quickstarter configuration"
Hi,

Changelog includes notes that Rundeck was replaced with Jenkinspipelines.
Documentation doesn't include this update. How to integrate a new Quickstarter into the provisioning-app isn't really documented or I wasn't able to find it :-| .

See, e.g.
https://github.com/opendevstack/ods-provisioning-app/blob/master/docs/modules/ROOT/pages/index.adoc

Thanks

[2020-01-27 21:36] #325 closed

[2020-01-28 07:00] clemensutschig commented on #338
@tbugfinder  - hugh ....

https://github.com/opendevstack/ods-provisioning-app/blob/master/ocp-config/prov-app/cm.yml#L143

:)

we have to fix the doc though .. scary (@michaelsauter )

[2020-01-28 10:21] stitakis commented on #335
@michaelsauter should we add a minimal length validation too? 5 chars?

[2020-01-28 15:53] michaelsauter commented on #335
Minimal length sounds good, but I would do 3 chars. E.g. `app` should be valid I think.

[2020-01-29 08:28] sino92 commented on #337
Solution helps solve this too: https://github.com/opendevstack/ods-provisioning-app/issues/327

[2020-01-29 13:34] stitakis commented on #335
@michaelsauter fine... I'll add validation rule for a min length to 3 chars

[2020-01-29 13:49] michaelsauter commented on #337
@sino92 How so?

[2020-01-29 14:00] michaelsauter commented on #338
Yes docs need fixing. Will include for 3.0.

[2020-01-30 08:16] michaelsauter opened #340 "Webhook Proxy does not run under jenkins serviceaccount"
**Describe the bug**
The webhook proxy pod should run under the `jenkins` serviceaccount, as that as the rights to create pipelines. However, it is not configured to do so (see https://github.com/opendevstack/ods-provisioning-app/blob/master/ocp-config/prov-cd/dc.yml#L139-L195), therefore it runs under the `default` serviceaccount which might not have the required `edit` permissions.

**Affected v

[2020-01-30 13:26] sino92 commented on #337
This issue would be the prerequisite to provision the provisioning app. Then the user can specify persistent volume location as an environment variable.

[2020-01-31 07:46] #340 closed

[2020-02-03 16:08] segator commented on #151
We should prioritize this task, because this is impacting performance on jira.
Every time prov-app creates a project it creates unecesaries schemes that affects on the jira performance.

[2020-02-04 13:53] #335 closed

[2020-02-04 13:53] #336 closed

[2020-02-04 18:41] clemensutschig opened #345 "Provision app removes existing project (when existing name / key is passed to "addProject" API)"
**Describe the bug**
in case a new project is created /with a different key but an *existing* name - the provision app will remove the existing project (Note/Attention: this happens only if *provision app is used thru API* and not thru the UI/frontende)

**To Reproduce**

**Expected behavior**
Error message that a project with this key / name already exists

**Affected version (please complete the

[2020-02-05 08:05] clemensutschig commented on #345
Quick RCA so people can follow.

- with ODS 2.0 we introduced rollback (to ensure no resources are left over in case we cannot provision components /e.g. repo across the federated stack)

- this functionality sits largely in ProjectAPIController/addProject - and is triggered up catching any exception.
- in the case a project exists already - an exception is thrown & (unfortunately) caught by the a

[2020-02-05 11:29] clemensutschig commented on #338
@tbugfinder  - can you also take a stab at this?

[2020-02-05 15:59] segator commented on #345
Can we have the fix released on 2.x? I don't think we have a breakng change on the api.

[2020-02-05 16:01] clemensutschig commented on #345
@segator See #347 this is the 2.0 based pr

[2020-02-06 07:44] stitakis opened #349 "Redesign project creation rollback strategy implementation"
**Is your feature request related to a problem? Please describe.**
Redesign current the current rollback strategy implementation (ref ```ProjectAPIController.cleanup()```) (used to ensure no resources are left over in case we cannot provision components /e.g. repo across the federated stack) to make it more resilient and operations friendly.

Problem:
Potentially any other exception than ```Projec

[2020-02-07 06:45] #345 closed

[2020-02-17 11:53] stitakis opened #350 "Hardcoded logback path breaks unit tests"
**Describe the bug**
At least one test fails when running the all tests locally due to a hardcoded path in the logback-spring.xml

**To Reproduce**
Steps to reproduce the behavior:
1. Run locally './gradlew clean build'
2. See that at least one test in of ProjectApiControllerTests fails

**Expected behavior**
Unit tests should run successfully independently in which environment they run

**Affecte

[2020-02-17 12:21] stefanlack commented on #350
I solved this by adding a special spring boot profile (/src/main/resources/application.ci) with a parameter definition

`logging.path=/tmp/workspace/prov-cd/prov-cd-ods-provisioning-app-production/log`

Than you need to do an update on logback-spring.xml and replace

[code]

with
[code]

[2020-02-17 13:19] stitakis commented on #350
@stefanlack, thanks for sharing! I think that we need a solution like the one that you proposed. One question, how does ```source="provision.history.home"``` relates to the property ```logging.path``` ?

[2020-02-17 13:54] stefanlack commented on #350
@stitakis sorry, I have confused some of the properties. My latest change of the last comment is a partial solution.
The main idea is that logging configuration property PROV_HIST_HOME points to the spring property provision.history.home, which is literally the same as project.storage.local

The main idea is that logging configuration property PROV_HIST_HOME points to the spring property provision

[2020-02-17 14:41] stitakis commented on #350
@stefanlack
This is how I solved:
```src/main/resources/application.properties```:
[code]
src/main/resources/logback-spring.xml
[code]

btw... from my point of view, the default configuration ```application.properties``` should provide a configuration that works locally for most of the configuration. Environment sensitive properties should be defined in its scope properties file.

We could config

[2020-02-19 14:13] stitakis commented on #281
and update on this... change is almost done and test. I'll create a PR soon

[2020-02-19 14:14] stitakis commented on #330
update on this... this is a complex change. I have done some progress and will provide a WIP for early review soon

[2020-02-19 14:15] stitakis commented on #350
@stefanlack did you have the chance to take a look at this?

[2020-02-19 16:12] stitakis opened #351 "NPE in provision api method updateProject can potentially trigger project cleanup"
**Describe the bug**
Method call to ```ProjectAPIController.updateProject``` does not handle NPE. A triggered NPE in this method is cought by the block that catch exceptions of type ```Exception```. This catch block cleanups project if enabled by configuration. This could potentially cause a project removal.

**Expected behavior**
Unexpected/Runtime exceptions should not cause removal of project.

[2020-02-21 07:25] stefanlack commented on #350
@stitakis , Yes, your proposal looks good. Do you want to implement this change or sould I do?

[2020-02-21 12:52] stitakis commented on #350
@segator I'll implement it and come back to you for review, thanks!

[2020-02-24 08:23] #281 closed

[2020-02-25 10:21] smolanet opened #362 "Link to Quickstarters is pointing to old ODS repo"
**Describe the bug**
The link that points to OpenDevStack Quickstarters is not updated to ODS2 repository

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/opendevstack/ods-provisioning-app
2. In Introduction section, quickstarters link

[2020-02-26 08:39] #350 closed

[2020-02-27 08:42] michaelsauter opened #363 "Separate quickstarter config from application.properties"
**Is your feature request related to a problem? Please describe.**
At the moment, the `ConfigMap application.properties` defines which quickstarters are available: https://github.com/opendevstack/ods-provisioning-app/blob/master/ocp-config/prov-app/cm.yml. This is not ideal as it does not allow to compare the content of the file easily via Tailor when users change which quickstarters they want to

[2020-03-01 17:58] gerardcl commented on #362
related to opendevstack/opendevstack.github.io/issues/132

[2020-03-02 14:29] segator opened #364 "AD Group set on all the created projects as admin by prov-app"
**Is your feature request related to a problem? Please describe.**
When support teams wants to help users to fix theirs issues on OCP can not even have access to the project.

**Describe the solution you'd like**
ODS Support team should have admin access on all the projects created by prov-app on Openshift.
To do this is as simple as update prov-app project creation script to add admin role to a s

[2020-03-04 14:57] stitakis opened #365 "Logout from identity manager should be optional"
**Is your feature request related to a problem? Please describe.**
Currently the OAuth2 configuration requires to configure the logout identity manager endpoint.
This is not optional.
Problem is that in some environment users/admins do not want to logout from identity manager but just from the prov-app.

**Describe the solution you'd like**
Have a configuration property that allow to disable the l

[2020-03-04 14:58] stitakis commented on #365
@oalyman this would solve the logout problem when integration prov-app OAuth2 with AzureAD

[2020-03-04 14:58] stitakis commented on #365
@stefanlack your thoughts on this?

[2020-03-04 21:42] metmajer opened #366 "Add e2e-spock-geb Quickstarter to ProvApp CM"
We would like to serve the following quickstarter throught he provisioning app: https://github.com/opendevstack/ods-quickstarters/pull/91.

[2020-03-05 09:19] stitakis opened #367 "Migrate oauth configuration to OAuth 2.0 and Spring Security 5"
**Is your feature request related to a problem? Please describe.**
Used annotation "@EnableOAuth2Client" is marked and deprecated. We need to migrate to the new implementation. Migration details:
https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide

**Describe the solution you'd like**
Migration details:
https://github.com/spring-projects/spring-security/wiki/OAuth-2.0

[2020-03-06 12:13] stefanlack commented on #365
@stitakis  sorry for answering late.

I think it is ok, but unfortunately I currently have no time for approving the pull request, I  am sorry to say that.

[2020-03-06 13:17] stitakis commented on #365
@oalyman or @clemensutschig can you please verify? The change is backwards compatible and 100% unit tested.
@stefanlack who from Opitz could take a look?

[2020-03-06 13:23] tjaeschke commented on #365
Checked it and it looks good to me.

[2020-03-06 13:59] #365 closed

[2020-03-09 15:37] segator opened #373 "prov-app setting permissiosn to bb for project specific serviceAccount"
I just find out this morning  prov-app seems that is setting serviceAccount project specific user hardcoded read-only on BB opendevstack/shared-lib repo.
We need to change this and support a single group instead,

[2020-03-10 07:00] stitakis commented on #373
@segator I can't follow this exactly. Can you please add some more details? What do you mean with "... hardcoded read-only on BB opendevstack/share-lib" repo?

[2020-03-10 08:40] stitakis opened #374 "Case sensitive role extraction from jwt fails to map user roles due to case sensitive role names"
**Describe the bug**
The class ```RoleAwareOAuth2UserService``` extract roles from JWT. Problem is the provided roles from identity management are case sensitive. This causes a mapping failure of roles included in the JWT to expected roles configured in the application properties.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure ProvApp with OAuth2 with e.g Azure AD as IDM
2. Debug

[2020-03-10 08:41] stitakis commented on #374
@metmajer @oalyman @segator this issue is blocking us from adopting OAuth2 OICD

[2020-03-10 08:46] stitakis opened #375 "User id extraction from JWT is hardcoded to name"
**Describe the bug**
The JWT claim that includes the username might differ depending on the Identity Manager and how an application is setup within it. This is a problem because currently the ProvApp offers no configuration possibility to customized from which claim the username will be extracted from the JWT.

**Expected behavior**
Possibility of be able to configure in ProvApp the claim name to

[2020-03-10 08:47] stitakis commented on #375
@metmajer @segator @oalyman this is blocking us in adopting OAuth IOCD and SSO

[2020-03-10 08:51] stitakis opened #376 "Support BasicAuth beside OAuth2 OIDC at runtime"
**Is your feature request related to a problem? Please describe.**
When enabled OAuth2 OICD is not possible to call the REST API endpoint because is not possible to authenticate with username and password.

**Describe the solution you'd like**
Support BasicAuth at runtime beside OAuth2 OIDC

[2020-03-10 08:52] stitakis commented on #376
@metmajer @segator @oalyman this is blocking us from adopting OAuth2 OIDC

[2020-03-10 10:03] segator commented on #373
prov-app is setting by code permissions to serviceAccount specific users on bitbucket opendevstack/shared-lib repository as RO, from the maintainability perspective I think is better to have a single AD/LDAP group.

[2020-03-10 12:21] stitakis commented on #330
to this change will follow 3 more PR:
- pre flight checks for Jira
- pre flight checks for Confluence
- change of some API endpoints to return json instead of text

[2020-03-10 12:33] stitakis commented on #373
@segator did I get it right, are you suggesting instead of setting in a fresh created BitBucket repository Read permission to a ServiceAccount, to add to the fresh created BitBucket repository a Group with read permission? Is this correct?

[2020-03-10 14:49] stitakis opened #378 "Difficult to maintain adapter unit tests due a mix of spring test and mockito"
**Describe the bug**
Adapter unit test are difficult to maintain and easy to break due a usage mix of spring test annotation and mockito. E.g. instead of using spring profile and spring @MockBean annotation the tests uses spring annotations at class level and Mockito @Mock and @InjectMocks. This mix makes the test unstable and easy to breal

**Proposed solution**
Refactor the test to use only spri

[2020-03-12 07:25] stitakis commented on #373
I have discussed this with segator...

Issue:
too many project specific ```service account``` are explicitly granted with read permission to the repository ```ods-jenkins-shared-library```.

Why this is implemented this way:
This is necessary to guarantee that when Jenkins trigger a project build pipeline its ```service account``` has read access to repository ```ods-jenkins-shared-library```.

Pr

[2020-03-12 07:42] stitakis commented on #151
I have taken a look as requested by @segator...

Problem:
This is impacting operation of Jira Server, because on project creation a new ```permission scheme``` is created. This makes the management of permissions scheme difficult and very time consuming. Specially if changes across many project is required.

Proposed Solution:
The idea here is to reuse ```permission scheme``` (instead of creating

[2020-03-16 08:47] stitakis commented on #366
@metmajer @clemensutschig @michaelsauter @oalyman is this feature needed in platforms 1.0 release?

[2020-03-16 09:05] metmajer commented on #366
@stitakis Yes!

[2020-03-16 14:15] stitakis opened #384 "logback configuration does not default to old hardcoded file path"
**Describe the bug**
logback configuration does not default to old hardcoded file path

**Expected behavior**
for backwards compatibility logback configuration should default to all hardcoded file path

[2020-03-16 15:38] stitakis commented on #366
@metmajer I'll add these lines in the corresponding config files (```.../ocp-config/prov-app/cm.yml```)
[code]
```Spock E2E Test``` would be the displayed name. Looks good?

[2020-03-16 16:14] metmajer commented on #366
@stitakis looks good to me, thanks!

[2020-03-17 08:12] #366 closed

[2020-03-17 18:59] oalyman opened #392 "Provide a configuration to blacklist webhook creation by component type"
**Is your feature request related to a problem? Please describe.**
Sometimes a webhook for your quickstarter is not desired. E.g. the release-manager quickstarter should not create builds while you configure / adapt the configuration of components that are part of your release.

**Describe the solution you'd like**
Be able to configure a blacklist of component types that avoids webhook creation fo

[2020-03-18 08:05] stitakis commented on #392
@oalyman is this feature about of skipping the creation/setup of the webhook in the bitbucket project when the app provision a new component?

[2020-03-18 08:08] michaelsauter commented on #392
@stitakis correct

[2020-03-18 08:12] stitakis commented on #392
Currently quickstarters are enabled with this configuration
[code]
If we add a property there like:
[code]

[2020-03-18 09:15] stitakis opened #393 "Project Dashboard that provides project inventory details"
**Is your feature request related to a problem? Please describe.**
Currently operation of a project in ODS requires to go into each server management tool to collect information about the project inventory. An overview that collects all information is missing.

**Describe the solution you'd like**
A Project Dashboard in ProvApp should provide information about the project inventory like:
bitbucket

[2020-03-18 09:17] stitakis commented on #393
@segator can you please quickly verify if this capture your request?

[2020-03-18 09:51] #384 closed

[2020-03-18 09:52] segator commented on #393
Well maybe prov-app should provide the metrics but the UI for that should be an existing dashboard tool like grafana or kibana maybe, no?

[2020-03-18 10:13] stitakis commented on #393
yeah... product like grafana are good to display time-based metrics.
The idea of the Project Dashboard is to provide a quick overview about which components are running in openshift in which namespaces, etc... Additionally, the corresponding version of it. Which routes are exposed to internet.
All details that give a good overview to operations of what is deployed and running.
Links can be provide

[2020-03-18 18:06] #392 closed

[2020-03-24 05:55] michaelsauter commented on #393
I would take a pause here and reflect where we want to go with the provisioning app.

Many developers have already expressed that the provisioning app is difficult to work on, and that many things should be cleaned / refactored. In this current state, I would not recommend adding a whole new aspect to it. Also, I am wondering if the prov app is the right place for such a feature at all - it seems

[2020-03-24 10:00] michaelsauter opened #396 "DeploymentConfig has badly configured resource constraints"
See https://github.com/opendevstack/ods-provisioning-app/blob/master/ocp-config/prov-app/dc.yml#L35-L39.

CPU is missing, and memory ratio is way too high. Also the memory limit with 3Gi sounds a little excessive.

[2020-03-26 07:20] #396 closed

[2020-03-29 10:53] clemensutschig opened #399 "Doc gen service imagestream / bc missing in ocp-config"
Doc gen Service is built in the prov App namespace... so there should be a bc and an imagestream? Also missing is the imagestream in the cd namespace..

@michaelsauter any ideas?

[2020-03-30 16:07] stitakis commented on #375
@oalyman @metmajer @oalyman it looks like the simplest solution would be to add a flag that will enable to use email as user id. I'll try it and come back to you

[2020-03-31 08:31] #374 closed

[2020-04-01 07:12] #375 closed

[2020-04-01 07:19] stitakis commented on #330
Current open tasks to complete this:
- confluence pre flight checks need to be implemented
- backport to 2.x needs to be done
- integration test needs to be completed

[2020-04-03 12:02] clemensutschig commented on #399
closing . fixed inthe other projects

[2020-04-03 12:02] #399 closed

[2020-04-03 12:10] clemensutschig opened #403 "ODS Project Provision does not add links to project - because of missing project permissions / roles"
**Describe the bug**
Provision a new project - this will work, but no links are created!

**To Reproduce**
Provison a new projevt . and look into the logs

2020-03-12 17:03:56 loggerFileName=UC402 [http-nio-8080-exec-8] ERROR o.o.provision.util.rest.RestClient - Call failed:
org.opendevstack.provision.util.exception.HttpException: Could not POST > https://....../rest/projects/1.0/project/UC402/sho

[2020-04-06 08:27] stitakis opened #404 "Parameterise jira project type templates"
**Is your feature request related to a problem? Please describe.**
Currently jira project templates are hardcoded in the application properties. This is a problem if company related templates need to be added.

**Describe the solution you'd like**
Externalise jira project template to tailor configuration.

[2020-04-06 13:08] stitakis opened #405 "Provide get all project summary endpoint"
**Is your feature request related to a problem? Please describe.**
Currently there is no endpoint that provides a list of project with a summary information.

**Describe the solution you'd like**
 In order to improve user experience a new endpoint that provides a list of all projects which include basic summary information of the project will reduce the number of request the front end currently se

[2020-04-06 17:57] clemensutschig opened #407 "Jenkins create project job uses env.BITBUCKET_HOST and not configured application.properties' one"
**Describe the bug**
If one wants to use provision app against another (or more than one) bitbucket ... it should be good enough to tweak the provision app's CM to point to the new bitbucket / jira ... host.

This will ensure that the resources are created on the right bitbucket (e.g. project / repo) - BUT the jenkins job / webhook proxy that is called, does not get the bitbucket URL as param, but

[2020-04-07 07:10] michaelsauter commented on #407
@clemensutschig yes I think you are correct. That should be read from the build params probably?

[2020-04-07 13:01] stitakis commented on #407
@clemensutschig @michaelsauter @metmajer I have debugged the code to verify what the ProvApp is including in the webhook http request params/body:
- create project: it does NOT include in http request the bitbucket server url (defined in application properties bitbucker.uri.
- create quickstarter: it does include in http request the bitbucker server url.

It will be an easy change to add the bitbu

[2020-04-07 13:10] clemensutschig commented on #407
@stitakis  - yes .. lets go ... can you make this a priority?

[2020-04-08 06:30] #405 closed

[2020-04-08 11:44] #330 closed

[2020-04-08 12:35] michaelsauter opened #412 "Improve configuration of readable repositories"
If a project specific CD user is used, then it is given access to a list of repositories under the `opendevstack` Bitbucket project. That list is configured in https://github.com/opendevstack/ods-provisioning-app/blob/master/ocp-config/prov-app/cm.yml#L131-L133.

There are a couple of issues with this:

1. By default, it does not contain the `ods-document-templates` needed for the MRO when documen

[2020-04-09 05:39] clemensutschig opened #415 "Uptake of new shared library for provision app - and harmonization of env mapping"
**Is your feature request related to a problem? Please describe.**
With the massive refactoring of the shared library - prov app (and all other buildable ODS components) should uptake it
1. provision app
2. document-generation-service
3. mro-shared-lib

also - I vouch for equal config - when it comes to environment mappings
[code]
@michaelsauter  - thoughts?

[2020-04-09 06:37] stitakis opened #416 "define comma separated group name list of opendevstack-user and opendevstack-administrator"
**Is your feature request related to a problem? Please describe.**
Currently is only possible to define one group name for opendevstack-users and one group name for opendevstack-administrators. (properties: `idmanager.group.opendevstack-users` and `idmanager.group.opendevstack-administrators` ) To allow more flexibility and more fine grained permissions the mentioned properties should accept a com

[2020-04-09 09:23] stitakis opened #417 "Provision project specific quickstarters"
**Is your feature request related to a problem? Please describe.**
Currently, quickstarters definition is hardcoded in the application properties.
This makes difficult to developers to make available their own quickstarters.

**Describe the solution you'd like**
Enable ProvApp to provision quickstarters that are hosted in the project git server from a specific/default quickstarters git repository.

[2020-04-09 09:24] stitakis commented on #417
@metmajer does this cover the requirements coming from the project team?

[2020-04-09 10:39] michaelsauter commented on #417
This is probably related to (or even a duplicate of) https://github.com/opendevstack/ods-provisioning-app/issues/363.

We need to figure out how the quickstarters should be configured if they are not. defined in `application.properties` (and I totally agree they should not be defined there). What do you have in mind for it?

FYI @oalyman

[2020-04-09 12:26] stitakis commented on #417
@michaelsauter I bit different that #363 by related... actually #363 could be fixed by this proposal.

What I have in mind is to:
1. specify a quickstarters yml definition

2. read the quickstarters yml definition from a repository.
Here the repository is
A. by convention a git repo repo called "quickstarters" which is located in the project git repository
or
B. the project admin configures (overw

[2020-04-09 13:21] michaelsauter commented on #417
I'm not sure I understand your third point. Can you explain?

Also, out of interest, why create a separate repo just for one YAML file? Is there a specific reason? One could also imagine just mounting a file or so ... (or reading, as #363 proposes, from a ConfigMap not controlled by Tailor).

[2020-04-12 12:32] sino92 opened #418 "Add an existing project created outside of prov-app to its storage"
**Is your feature request related to a problem? Please describe.**
If a project is created without prov-app, one can't add new components to it. A scenario could be taking over a vendor's project with pre-existing repos where new components might be needed.
The inability to add new components is caused due lack of updating of local storage.

**Describe the solution you'd like**
Allow the users to

[2020-04-20 07:07] stitakis commented on #417
I see, I didn't phrase point 3 properly... make this sense to you?

3. include quickstarters code in the repository that contains the quickstarters.yml.

To summarize...
- just one quickstarter YAML file per quickstarters repository.
- the idea is to give team the posibility to create a quickstarters repository per project.
- the configuration will be located in a quickstarters.yml file in the roo

[2020-04-20 07:11] #407 closed

[2020-04-20 07:47] michaelsauter opened #421 "Clean up prov app docs"
There's lot of docs which are only interesting for contributors or admins, so we should move the content there and away from users.

[2020-04-20 08:06] michaelsauter commented on #417
Ok, I understood now that this is about quickstarters useable ONLY by one project. Instead of quickstarters usable by many projects but ONLY by one installation (which is what #363 relates to).

I don't understand the use case of this though. A quickstarter is only worthwhile, if I need to do the same "setup" 20, 30, 100 times ... if I do the same "setup" only a few times, it is not worth building

[2020-04-20 14:23] michaelsauter commented on #417
On a side note, if users want to simply try a non-supported quickstarter that is available somewhere in the Bitbucket instance, it can be done e.g. by using the script provided in https://github.com/BIX-Digital/ods-contrib/tree/master/quickstart-with-jenkins.

[2020-04-22 11:45] stitakis commented on #363
@michaelsauter  I first solution that comes to my mind is to move the current jenkinspipeline/quickstarters definition to a file (defined in oc as configmap) and modify the ProvApp to load this configuration from a default location/file. The file format could be json for easy convertion to the current `Quickstarter` java class/model.
Would this address the requirements, especially related to Tailo

[2020-04-22 12:07] michaelsauter commented on #363
Some questions:
* Where would this file be stored?
* How could we ship with a default set?

Since the file should be edited by humans, I suggest YAML instead of JSON.

One alternative I have thought about (though not sure yet if this is a good idea): One could have a ConfigMap, which is mounted as a file. Tailor has a flag called `--preserve`, which allows to preserve paths of live configuration w

[2020-04-22 13:05] stitakis commented on #412
@michaelsauter the proposal of moving the readable repos to list (`${READABLE_OPENDEVSTACK_REPOS}`) sounds good to me. Change looks easy to implement.

[2020-04-22 13:13] stitakis commented on #175
@michaelsauter @adyachok is this actual? Asking because we have done some changes in ProvApp that allow only valid openshift names #281 and #355

[2020-04-22 13:17] stitakis commented on #175
@michaelsauter @adyachok it is actual... I did a quick test to reproduce the problem... problem is that ng new fe-angular-7` fails because the name is invalid:
[code]
Quick fix would be to restrict more components names by disallowing numbers.

Adding quickstarters specific name validation rules would be more work and I don't think we could added in ODS 3.0 release.

[2020-04-23 06:45] clemensutschig commented on #175
folks there is a PR .. opendevstack/ods-provisioning-app#234  from @adyachok

[2020-04-26 15:28] clemensutschig opened #423 "Ship provision app ocp artifacts w/o project in openshift directory"
**Is your feature request related to a problem? Please describe.**
In order to provision the prov App mit a Dev environment it should only contain the application specific ocp artifacts that de Provision with tailor. `metadata/name`, `namespace`  and `metadata/labels` have to be params.. so no diff is generated for contribution back upstream

Example(s):
[code]

[code]

[2020-04-27 14:13] stitakis opened #424 "Enable Azure AD (OAuth2 OIDC) spring boot support"
**Is your feature request related to a problem?
Currently OAuth2 OIDC supported is enabled but to be able to use full Azure AD support we need add Azure AD spring boot capabilitiest to ProvApp.

**Describe the solution you'd like**
The Azure AD OAuth2 OIDC support spring boot project. To enable it the corresponding library import needs to be added to `build.gradle` file. Additionally one could pro

[2020-04-29 06:29] #424 closed

[2020-05-04 12:51] michaelsauter commented on #338
Depends on outcome of #363.

[2020-05-04 14:59] stitakis opened #428 "Improve REST endpoint for component provisioning"
**Is your feature request related to a problem? Please describe.**
Improve provision of quickstarters

**Describe the solution you'd like**
While a controller endpoint for provision quickstarter already exists, it needs to be improved to be used as REST API endpoint. Current implementation looks like more FE friendly.
To be added/improved:
- authorization needs to be added.
- project properties ne

[2020-05-05 07:09] michaelsauter opened #429 "Select pr:deleted event when creating webhooks"
Follow-up from https://github.com/opendevstack/ods-core/pull/527.

[2020-05-05 07:56] michaelsauter opened #430 "Make central namespace configurable"
Follow-up from https://github.com/opendevstack/ods-core/pull/528.

We need to make two things configurable:

- Where is the webhook proxy located? Currently this is hardcoded to `prov-cd` - but going forward this should be configurable, with the default being `ods`.
- Where are central images (Jenkins slave etc.) located? Currently this is hardcoded to `cd` but going forward this should be configu

[2020-05-05 08:28] stitakis commented on #428
@martsec @metmajer fyi

[2020-05-05 08:37] stitakis opened #431 "available quickstarters endpoint"
**Is your feature request related to a problem? Please describe.**
As REST API consumer I'd like to be able to get a list of available quickstarters

**Describe the solution you'd like**
Provide an endpoint that provides a list of available quickstarters

[2020-05-05 08:37] stitakis commented on #431
@martsec @metmajer fyi

[2020-05-05 08:47] stitakis commented on #427
@michaelsauter does jenkins provides an easily consumable api that we could use to query the status of a pipeline?

[2020-05-05 08:52] stitakis commented on #429
@michaelsauter what need to be done here? can you please briefly explain?

[2020-05-05 09:38] michaelsauter commented on #429
Add like this: https://github.com/opendevstack/ods-provisioning-app/blob/324124c41fb42840f6f891bc60b2a41dc8e44e0c/src/main/java/org/opendevstack/provision/services/BitbucketAdapter.java#L511

[2020-05-05 09:39] michaelsauter commented on #427
Not sure - one could use the OpenShift API as well.

Note that you were probably notified of this because I transferred the issue from an old repo - no immediate action required.

[2020-05-05 11:21] stitakis commented on #429
ok, what about of making this configurable by creating a config property with comma-sep values. e.g `webhook-proxy.events=repo:refs_changed,pr:merged,pr:declined,pr:deleted` ?

[2020-05-05 14:37] #412 closed

[2020-05-07 07:33] segator opened #434 "Be able to only provision bitbucket project without OpenShift project"
We need prov-app is able to deploy jira, confluence and bitbucket but no openshift project + ODS project.

Right now there is a flag "platform project" when selected it creates bitbucket +openshift project,
it will be nice if we can split this in 2 flags.

[2020-05-08 07:54] michaelsauter commented on #415
This has been done in latest master of prov-app/doc-gen.

[2020-05-08 07:54] #415 closed

[2020-05-08 13:50] oalyman opened #436 "Jira user preflight check needs to be configurable"
**Is your feature request related to a problem? Please describe.**
The Jira preflight check for a user compares the username in the prov-app with the `key` attribute from the result of calling Jira API Get user (https://docs.atlassian.com/software/jira/docs/api/REST/8.8.1/#api/2/user-getUser)

As the example payload of the link above already shows the `key` attribute might not be what you expect a

[2020-05-08 14:43] stitakis commented on #436
@oalyman thanks for reporting and investigating this... I'll take a look asap

[2020-05-10 07:40] clemensutschig commented on #403
@stitakis do you Take this up?

[2020-05-11 06:11] stitakis commented on #403
@clemensutschig I'll do this as next

[2020-05-11 06:33] stitakis commented on #434
@michaelsauter @segator
This is the proposal:
- to add a the new flag `bitbucketProject = true/false`
- Detail: if `platformRuntime` is `true` and new flag `bitbucketProject` is also `true` then `platformRuntime` will be created. (Note: It might sound obvoius but we need to deal with this in situation in the code)

[2020-05-12 13:10] stitakis commented on #429
@michaelsauter I'm fixing this... PR will be ready in few minutes

[2020-05-12 16:20] #429 closed

[2020-05-13 07:54] stitakis commented on #436
@oalyman I have analysed this a bit...

currently the ProvApp uses the api `rest/api/latest/user?username=<USERNAME>` to check if a user exists in Jira, where `USERNAME` is `key` in json response.

This logic works fine for technical account and for real users mostly all the time.

If we make it configurable to either check `key` or `emailAddress`:
- will fix the problem with users having a differ

[2020-05-13 09:05] #376 closed

[2020-05-13 11:58] clemensutschig opened #441 "Provision app - github action build should create / add labels during build"
https://github.com/opendevstack/ods-provisioning-app/blob/7796d2beba7510f5ed6c42593df056d24e853014/.github/workflows/gradle.yml#L28

in order to have tracibility - the following labels should be added - taken from (https://github.com/opendevstack/ods-jenkins-shared-library/blob/master/src/org/ods/component/BuildOpenShiftImageStage.groovy#L94-L101)

1. ods.build.source.repo.url
1. ods.build.source.

[2020-05-13 12:34] segator commented on #403
tech_integration  is admin, but ODS is creating their own permission schemes probably is not set in the  current scheme.

[2020-05-13 12:38] clemensutschig commented on #403
@segator > that should not be the issue - what global rights has tech_integration?

[2020-05-13 12:51] stitakis commented on #403
I investigate it a bit today... small update:
Using ProvApp:
- I was NOT able to reproduce created a new project with "create special permissionset"
- I was able to reproduce when created a new project without "create special permissionset"

As indicated by Clemens it looks to me that this is related to the global permissions configuration. On BIX, this error is currently not raised.

The ProvApp

[2020-05-13 13:18] stitakis commented on #403
I think I found the problem:
In jira the `project role` called `owner` was not set to the permission `Browse Projects` in the `Default Software scheme`.
I was able to provision a new project (create special permissionset = false) after adding the role `owner` to the permission `Browse Projects`.

@clemensutschig I'll close this item, for me is jira config problem, ok?

@segator please review my ch

[2020-05-14 07:05] segator commented on #151
Not only permission scheme, Also screen, workflows, configuration custom field scheme.. etc
Right now our instance is messy as prov-app is creating duplicated schemes for everything, doing the system a little bit slow and very hard to maintain.
This task should be done ASAP as we are waitting since June of 2019!!

[2020-05-14 07:11] clemensutschig commented on #403
@stitakis  - please add a line into the doc . and then close this - well done!

[2020-05-14 07:12] clemensutschig commented on #364
I would STRONGLY discourage this - for security reasons. a cluster admin / jira admin can always do this by hand. Please do NOT implement this.

[2020-05-14 07:15] clemensutschig commented on #373
@stitakis I am really confused on this. we are NOT setting any permissions on another bitbucket repo during creation of a repo, or project ... can you please describe the issue better?

[2020-05-14 07:17] clemensutschig commented on #373
The setup should be ... (and always was) - the (SUPER) group of project users was say XYZ - and that group had read access to ods-jenkins-shared-library

[2020-05-14 07:46] michaelsauter commented on #373
I think there is code in the prov-app which grants the project-specific technical user read access to the "readable repos". AFAIK that is not group based. I think @stitakis suggestion is good.

@tjaeschke IIRC you worked on this in the past. Do you have some background on why you did not implement this via groups? Some disadvantage that we are not seeing here?

[2020-05-14 11:27] #436 closed

[2020-05-14 14:09] segator opened #442 "Single job in prov-cd/ODS namespace"
Right now prov-app is creating a job in jenkins running in prov-cd per every project created,
Can we use a single parameterized job instead of 1 job per project.

[2020-05-14 14:34] oalyman commented on #441
@clemensutschig I propose to change the key `ods.build.jenkins.job.url` to `ods.build.job.url`

[2020-05-14 14:41] clemensutschig commented on #441
Works :-)

Jan Frank <notifications@github.com> schrieb am Do., 14. Mai 2020, 16:35:

[2020-05-14 18:33] #441 closed

[2020-05-15 08:08] stitakis opened #444 "wrong username is displayed in about view when OAuth2 profile is enabled"
**Describe the bug**
when `oauth2` profile is enabled the FE about view display the wrong username.

**To Reproduce**
Configure ProvApp to use OAuto2 profile
Log into FE
Open About view
See "logger user" displays the wrong username

[2020-05-15 08:50] michaelsauter commented on #363
Here's my proposal for this, which I believe is the least effort to get it done for v3:

Add a `ConfigMap` like this:
[code]

Then, mount this file in the prov app, and read the YML. The structure of the YML is just an example, we might also use a top-level key ... not sure there.

Further, we ensure that this `ConfigMap` does not detect drift on its data. That allows to seed with defaults, but wh

[2020-05-15 11:24] #444 closed

[2020-05-15 11:57] stitakis commented on #363
Sounds good. I'll start on Monday with this doing the spring configuration part.

I didn't get it with `preserve...`, can you please explain in a different way?

[2020-05-15 12:02] stitakis commented on #364
@segator can be this closed?

[2020-05-15 12:32] michaelsauter commented on #363
Cool!

`--preserve /some/path` allows you to persevere (keep) the "live configuration" of the value at `/some/path`. Meaning: If the resource already exists, Tailor copies the value from the live configuration to the local configuration, instead of using the value that you define in your template. If the resources does NOT exist yet, there is nothin to preserve, so it applies the local value.

Giv

[2020-05-15 14:20] stitakis opened #446 "reuse application properties from src/main/resources in openshift to simplify configuration"
**Is your feature request related to a problem? Please describe.**
Simplify configuration by reusing application properties.
Currently application properties contained in src/main/resources are fully duplicated in cm.yml.
This is because the docker file override the `spring.config.location` property to just one location `--spring.config.location=classpath:/,file:/config/`.
This is wrong. Composite

[2020-05-15 14:29] stitakis commented on #446
@michaelsauter @oalyman @clemensutschig soungs good? It is a big improvement and resolves a big pain point for me :-)

[2020-05-15 14:30] michaelsauter commented on #430
@oalyman Isn't this done already?

[2020-05-15 14:31] michaelsauter commented on #446
Sounds good to me.

[2020-05-18 12:47] oalyman commented on #430
@michaelsauter

https://github.com/opendevstack/ods-provisioning-app/blob/master/openshift/cm.yml#L233-L235

This is part of ods-core and was changed as well.

[2020-05-18 13:11] #430 closed

[2020-05-22 09:35] michaelsauter commented on #378
As this is refactoring, it isn't a direct requirement for v3, so I'll move this off for now. Feel free to bring it back if you start to work on it. Just trying to get an overview of what still needs to be done :)

[2020-05-25 14:52] stitakis opened #450 "disable confluence adapter per configuration"
Problem:
Not all installation of ProvApp requires confluence to be available.

But currently there is no configuration option that enables to deploy ProvApp with a disabled confluence adapter.

Proposed solution:
Add a spring property that makes possible to disable the confluence adapter, so that the `ProjectApiController.java` do not use the `confluenceAdapter` at runtime.

[2020-05-25 15:02] stitakis commented on #450
@georgfedermann @michaelsauter fyi

[2020-05-26 10:09] stitakis opened #451 "project template keys endpoint does not return json format"
**Describe the bug**
Project template keys endpoint does not return json format

[2020-05-26 12:42] stitakis opened #452 "setup webhook in jira projects on project creation event"
**Is your feature request related to a problem? Please describe.**
To integrate Jira to be able to trigger Jenkins jobs we need to configure a webhook in the jira project at creation time.

[2020-05-26 12:42] stitakis commented on #452
@georgfedermann @michaelsauter

[2020-05-28 09:27] michaelsauter commented on #446
@stitakis What exactly is your pain point with this? I talked this over with @oalyman today and agree with his view that it could be dangerous to have "hidden" config in the image ...

[2020-05-28 12:21] stitakis commented on #446
@michaelsauter we have 2 sources of configuration `cm.yml` and `application.properties` and we are not using wisely the spring configuration features that allow developer to enable profiles.

Regarding "hidden" config:
- I think defaults should not be duplicated and configured explicity. Secrets and environment configuration instead need to go in `cm.yml` defined as parameters. We are not reinvent

[2020-05-28 12:33] michaelsauter commented on #423
The name / labels are still hardcoded, but they are also fixed from the Jenkinsfile, so things should just work.

[2020-05-28 12:33] #423 closed

[2020-05-31 20:27] metmajer opened #456 "Provision Release Manager Quickstarter for every new Project"
**Is your feature request related to a problem? Please describe.**
The release manager adds overarching capabilities such as component orchestration, parallel build, deploy, test and release, as well as document generation. As projects typically consist of more than one component, projects benefit if the release manager is installed by default into every new project.

**Describe the solution you'd

[2020-05-31 20:28] metmajer commented on #456
FYI @martsec @jorge-romero

[2020-06-02 07:20] michaelsauter commented on #456
I would love this to be configurable. I think some ODS installations will benefit from this, while others might not want this (e.g. if you are in a non-documents world, then tying all components together in one pipeline might not be what you want if you believe in the microservices approach)

[2020-06-02 08:42] #450 closed

[2020-06-02 14:34] stitakis commented on #456
Currently:
A. the project the creation pipeline needs to finish before running the quickstarter provisioning pipeline. This is because a Jenkins instance needs to be provisioned in `<NEW_PROJECT>-cd` before running the a quickstarter provisioning pipeline in it.
B. ProvApp does not monitor if a creation pipeline failed or completed successfully.

A solution (that I haven't tested yet) could look l

[2020-06-02 14:44] michaelsauter commented on #456
Actually, I just realised that we might run into more hurdles. Right now a project is provisioned with incomplete credentials if a project specific CD user is chosen. Only after this has been resolved manually by the user, quickstarters can be provisioned. Given this situation, I think we'd either need to fix this, or deliver the release manager in a different fashion (as part of the project creat

[2020-06-02 14:55] stitakis commented on #456
Maybe a different approach makes the deal and is easier to implement at first step... we could display in the UI a message suggesting the user to provision the Release Manager quickstarter if is missing.

[2020-06-03 06:03] clemensutschig commented on #456
This is really tricky to implement - with the old setup and rundeck we could make this fly - as there was a job dependency - and the jobs took a little longer - so you could click create new project and and add a a quickstarter (which in > 90% of all cases worked).. with the jenkins based architecture, and more so - the x2 user ... this will NOT fly anymore ..

[2020-06-03 12:35] stitakis commented on #363
@michaelsauter please have a look at the last PR, it provides only 1 commit with the related changes to this item

[2020-06-03 12:44] stitakis opened #460 "project templates key endpoint do not return body in json format"
project templates key endpoint do not return body in json format even if accept header stays 'application/json'

[2020-06-03 13:28] michaelsauter commented on #421
I will take this over since I have https://github.com/opendevstack/ods-provisioning-app/issues/338 on my plate anyway, which I'll do now that #363 is complete.

[2020-06-03 14:00] #363 closed

[2020-06-04 13:01] #338 closed

[2020-06-04 13:01] #421 closed

[2020-06-08 10:09] michaelsauter commented on #451
Closing as this seems to be a duplicate of #460.

[2020-06-08 10:09] #451 closed

[2020-06-09 13:06] michaelsauter commented on #175
To get this issue fixed for 3.0, I suggest to go with @stitakis proposal to disallow numbers.

In my eyes, we should not pursue the approach chosen in PR #234:

- it is quite complex for a small feature
- it puts knowledge of the quickstarters into the prov-app, which is not ideal: we spent quite some effort to make the prov app "quickstarter agnostic"

Of course, disallowing numbers might look li

[2020-06-09 15:01] stitakis commented on #175
@michaelsauter I agree to disallow numbers... this should be implemented in the UI and in corresponding endpoint in the back-end.

[2020-06-09 15:02] #460 closed

[2020-06-10 07:45] clemensutschig commented on #452
This is close to impossible in the current architecture - because we cannot pass params from the prov app down to the jenkins job or the plugin .. there was an issue somewhere to allow this - but this is a pretty massive change. That I would IMHO tackle for 4 and not for ODS 3

[2020-06-10 07:54] michaelsauter commented on #452
@clemensutschig Couldn't this be done from the prov app itself? I think it is just about setting the URL in Jira somewhere, and the URL we know ...

[2020-06-11 07:47] clemensutschig opened #465 "underscore in component name causes provision failure"
1.  In a new project - create a component named `docker_plain` based on docker plain quickstarter - for some reason the project's webhook proxy secret is not taken, but rather that global trigger secret `openshift` and hence component provisioning fails (401 unauthorized from webhook proxy)

[code]

For the record, other component names for the same component do work ::)

@metmajer - fyi

[2020-06-12 15:15] stitakis opened #466 "bug jira precondition check if key is not equal username"
Check username precondition check currently verify is username is equal `key or `email`. We need to additionaly verify is the property `name` returned in json response is equal to the `username`

See example:
[code]

[2020-06-12 15:38] #466 closed

[2020-06-16 07:59] stitakis commented on #151
@segator I took a look at how to implement. I propose to:
- a project type will optionally have an associated permission scheme name in the prov app configuration (`jira.project.template.key.<TEMPLATE-KEY>.permission-scheme-name=<PERMISSION-SCHEME-NAME>`)
- if that project scheme does not exists (it can't be found... e.g wrong name, or it does not simply exists) a new one will be created an associ

[2020-06-16 10:38] stitakis commented on #456
@metmajer @michaelsauter @clemensutschig are we doing something related to this in ODS 3 release.

[2020-06-16 11:42] michaelsauter commented on #456
I would vote "no" :)

[2020-06-16 14:59] #403 closed

[2020-06-16 17:28] metmajer commented on #456
Good enough in 4 for me

[2020-06-16 17:36] clemensutschig commented on #465
@stitakis can. You take a look ? Ist only happening with the Name provided above..

[2020-06-17 09:05] stitakis commented on #465
@clemensutschig sure, np, I'll take a look asap

[2020-06-17 16:14] clemensutschig commented on #465
I took a look - and there is quite some bugs ...
1. why is this an admin job (and not on IN the project) ..

[2020-06-18 15:33] netzartist commented on #175
FYI an [explanation](https://github.com/angular/angular-cli/issues/3816#issuecomment-327006452) why Angular CLI is so restrictive to that.

So, the regex should then be this, right?

`(([A-Za-z][-A-Za-z_]*)?[A-Za-z]){3,40}`

[2020-06-19 08:55] sino92 opened #472 "Unnecessary privilege for jenkins cd user"
**Is your feature request related to a problem? Please describe.**
`jenkins Cd User` is given more privileges inside a repo than it actually needs. This happens every time a component is generated for all pre-existing components.
The user is given admin privileges as specified [here](https://github.com/opendevstack/ods-provisioning-app/blob/master/src/main/java/org/opendevstack/provision/services/

[2020-06-19 08:56] sino92 commented on #472
@gerardcl @stitakis

[2020-06-19 09:06] clemensutschig commented on #472
on project level the `cd user` needs admin rights - to create new repositories ... (during quickstarter provisioniong.

I think when set on project level., you cannot overwrite (lower permissions) on repo level

[2020-06-19 09:37] sino92 commented on #472
Hmm if I got it right, `BitbucketAdapter` inherits from `BaseServiceAdapter` which eventually makes the request to Atlassian services. The init of `BitbucketAdapter` completes the atlassian specific technical user to make the request. That technical user is concatenated to user `.admin_user` `.admin_password`. So when you init BBAdapter then the user to create project/repos become bitbucket.admin_

[2020-06-19 09:40] clemensutschig commented on #472
@sino92  - sorry I am not following.
maybe post a screenshot of the rights / roles on a bitbucket repo - so we can see this?!

[2020-06-19 09:50] sino92 commented on #472
At the global level, `eu-dx-user` has project/repo creator permissions.
![Screen Shot 2020-06-19 at 11 47 11](https://user-images.githubusercontent.com/16910110/85119941-d1fef280-b222-11ea-8fb6-f4804b58fd76.png)
`provision_app_test` is part of that group. So it can create any project/repos by default.

[2020-06-19 12:50] stitakis commented on #472
@clemensutschig I think, the `cd_user` just only need read permission to be able to clone the opendevstack repository `ods-core`, `ods-jenkins-shared-lib`, etc... Thou I haven't verified this extensively.
@sino92, The ProvApp metioned above uses SSO and a service account. Please remove from your messages above all references to current setup. Due security, we shouldn't post this kind of details.

[2020-06-19 12:53] sino92 commented on #472
`cd_user` also needs write permissions to repo otherwise it can't push documents generated by quickstarters to repo.

[2020-06-19 13:55] sino92 commented on #472
@stitakis Not sure if I got your comment about SSO and service account. Any comments about the technical non-cd user that creates the project/repos?

[2020-06-22 12:50] stitakis commented on #472
@sino92 the behaviour of ProvApp is different if you use configuration `crowd` or `oauth2/sso`. For `oauth/sso` a service account is needed.

[2020-06-22 13:40] sino92 commented on #472
@stitakis Is there any documentation on the after-effects of crowd/sso setup? Either way it shouldn't affect this issue as long as `BaseServiceAdapter` is still used. Or its not? As far as I can tell the authenticator user doesn't influence the technical user that makes the Atlassian service specific request.

[2020-06-23 09:48] stitakis commented on #472
@sino92 afaik the code is the documentation in this case... I'm in favor of this change. It is always a good idea to remove unnecessary permissions. Changes that implement this issue will need to deal with both authentication mechanism.

[2020-06-23 10:09] stitakis commented on #465
a quick update... at first look... I wasn't able to reproduce with component name `docker-plain`. The UI do not allow to introduce a name that is equal to `quickstarter type`.
I'll review the code to verify the reason why the project's webhook proxy secret is not taken.

[2020-06-23 10:12] michaelsauter commented on #465
@stitakis I think the problem is with an underscore `_`, not hyphen `-` ... ?

[2020-06-23 11:41] stitakis commented on #465
@michaelsauter well spotted! Yes, it is `_` the problem... I was able to reproduce now... investigating

[2020-06-23 11:52] stitakis commented on #465
@michaelsauter does webhook proxy support component names that include underscore `_` ? Asking because I got this error in the log file when I reproduced.
[code]

[2020-06-23 11:56] michaelsauter commented on #465
422 sounds like it's not valid. Check the logs of the webhook proxy. Also, it would help if the stack trace would include the returned body. Maybe you can just replicate the issue by making a `curl` request against the webhook proxy, then you see the response. The webhook proxy only proxies though, so I suspect that the problem lies with OpenShift not liking the name ...

[2020-06-23 11:57] michaelsauter commented on #465
@stitakis Note however that @clemensutschig original post has return code 401, not 422!

[2020-06-23 12:18] stitakis commented on #465
@michaelsauter
- webhook-proxy logs do not show anything, how can I enable `debug` mode?
- yes, I noticed that clemens posted error returned 401. It is a different one and it is related to POST delete-components pipeline... smells like a different bug. I'll investigate this one too.

[2020-06-23 12:22] michaelsauter commented on #465
There is no debug mode. However, you should see logs for any request. Also, instances based on `master` might show some more logs than `2.x` based ones ... that said, since you get 422 returned, you should be able to get the body too, which will help you find the issue.

[2020-06-23 12:40] stitakis commented on #465
@michaelsauter for some reason (bad internet connection probably) I wasn't able to see the webhook proxy but I see it now. This is the error:

[2020-06-23 12:49] stitakis opened #474 "webhook proxy delete-component POST request contains wrong secret"
**Describe the bug**
Wrong secret is added in the webhook proxy delete component POST request

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ODSBox
2. Create a new project with ProvApp
3. Provision a component with name that contains `_` (invalid name)
4. See error in the log file:
[code]

**Expected behavior**
The POST request contains the correct secret!

[2020-06-23 12:50] stitakis commented on #465
I've created this issues #474 for the other bug

[2020-06-23 12:55] michaelsauter commented on #465
@stitakis Sounds good, let's prevent underscores in component names in the prov app.

[2020-06-24 15:30] stitakis opened #475 "pre condition checks do not ignore case for groups and username checks"
Pre conditions checks fails if a Jira, BitBucket or Confluence groups or username contain capital letters.

Equality comparison should ignore case.

[2020-06-25 09:09] #446 closed

[2020-06-25 20:40] georgfedermann opened #477 "Injected application.properties config map is not used any more"
In ocp - config map - application.properties:

### crowd properties
crowd.local.directory=LocalDirectory
crowd.application.name=provision
crowd.application.password=ods
crowd.server.url=http://crowd.odsbox.lan:8095/crowd/services/
crowd.cookie.domain=.ocp.odsbox.lan

Deployment config.. :

          volumeMounts:
            - mountPath: /opt/provision/history
              name: volume-history

[2020-06-25 20:41] georgfedermann commented on #477
@stitakis this is a regression from yesterday or latest today, and is needed to be fixed asap.

[2020-06-25 23:27] sino92 commented on #472
@clemensutschig I'd be happy to clarify any confusions in a call, if any

[2020-06-26 06:22] stitakis opened #479 "Add error codes to the preconditions check response"
Currently the payload returned by the preconditions checks do not include an error code.
For easier integration with other system we need to add error codes to the json response.
This will allow other systems calling the `add project` endpoint to add retry logic for specific error codes.
This is a follow-up of #330

[2020-06-26 06:27] stitakis commented on #477
@georgfedermann yeah, it looks like... I'll take a look asap

[2020-06-26 06:31] stitakis commented on #477
@georgfedermann is the message above coming from ODSBox build based on master branch... asking because I made this change https://github.com/opendevstack/ods-core/pull/649 to avoid this problem

[2020-06-26 06:32] #472 closed

[2020-06-26 07:06] clemensutschig commented on #477
Assuming this went into an image before yesterday night it was picked up automatically

[2020-06-26 07:07] georgfedermann commented on #477
running a new build from current master right now ...

[2020-06-26 08:34] stitakis commented on #477
I found that application.properties defines the `spring.profiles.active=crowd`. This caused the profile `crowd` to be active at deployment time in odsbox. To fix this 2 changes are required:
1. in ods-core to set `default` profile explicity. This was already done and merged in https://github.com/opendevstack/ods-core/pull/657
2. remove in application.properties the properties `spring.profiles.acti

[2020-06-26 15:11] #475 closed

[2020-06-26 15:17] stitakis commented on #364
@segator can be this closed?

[2020-06-28 08:17] segator commented on #364
@clemensutschig agree with you but we never will have cluster admin, so we can not fix users problems if we don't have the project admin before.
So I really think we need this.

[2020-06-28 08:20] clemensutschig commented on #364
Disagree... we just Need a process to get those rights for you. And we have One.

[2020-06-28 08:23] segator commented on #364
Then much better :) but last time I asked, answer was never will happens.

[2020-06-28 08:23] #364 closed

[2020-06-29 06:45] #477 closed

[2020-06-29 09:49] stitakis opened #483 "improve error message in provision project and quickstarter flows"
Current error messages in add project or provision quickstarter flow either contains technical
A. details that should not be revealed
B. or are too complex to understand users

E.g if webhook proxy is not up and running something like this error message should be returned: "endpoint to trigger jenkins pipeline is not reachable"

[2020-06-29 09:49] stitakis commented on #483
@michaelsauter as requested

[2020-06-29 11:58] sino92 opened #485 "Add project specific cd user to a technical user group"
As part of our discussion with @gerardcl and @stitakis  in a private thread, @gerardcl suggested we can configure a Bitbucket group dedicated to project specific technical users, which will have read permissions over shared library. This will ease the pain of having to individually add technical users to shared library.
I think this is a cool idea and we can make this part of the prov-app. During

[2020-06-29 11:59] segator commented on #373
I confirm every time a project is created their Service account is added as reader on ods/shared-lib repo.
anything we can do?

[2020-06-29 12:12] stitakis opened #486 "logging in debug level shows too much jwt details"
When debug level is enabled too much information is logged. We need to review and remove any sensitive information if any from all logs also when debug level is enabled

[2020-06-29 12:12] stitakis commented on #486
@gerardcl fyi

[2020-06-29 12:30] sino92 opened #487 "Mismatching env.sample files in between ods core and prov app repos"
Config files in between [ods-provisioning-app.env.sample](https://github.com/opendevstack/ods-provisioning-app/blob/master/ocp-config/ods-provisioning-app.env.sample) and [ods-core.env.sample](https://github.com/opendevstack/ods-core/blob/master/configuration-sample/ods-core.env.sample) are inconsistent. Changes to one need to be synced up to another one as well. Currently, there's a mismatch of c

[2020-06-29 13:18] #479 closed

[2020-06-29 15:23] stitakis commented on #485
@sino92 I'm happy to take a look at how to improve this for ODS 4

[2020-06-29 15:34] michaelsauter commented on #373
I think this is basically a duplicate of #485, right?

[2020-06-29 16:45] segator commented on #373
not really, if you use local users then yes, but from prov app you never will be able to add a user to an AD group.

[2020-06-30 04:40] stitakis commented on #373
@sino92 @segator @michaelsauter yes, this is duplicate of #485...

The idea here and in #485 is:

- instead of set read permissions for the project specific `service account` (cd user)
(see implementation here
https://github.com/opendevstack/ods-provisioning-app/blob/89b8cee10846692a8dd5b4b79b095efb6f453bbe/src/main/java/org/opendevstack/provision/services/BitbucketAdapter.java#L561)

- the new `s

[2020-06-30 13:33] sino92 commented on #487
Closing this in favor of https://github.com/opendevstack/ods-core/issues/664

[2020-06-30 13:47] segator commented on #373
where is this cd_users groups? jira, bb, crowd? AD?

[2020-06-30 13:55] stitakis opened #489 "enable precondition checks for project provision by default"
Currently the flag that enable the precondition checks for project provision is set to `false`. To benefit from this feature out-of-the-box we need to set it to `true`

[2020-06-30 13:58] stitakis opened #490 "application info REST endpoint"
The application info displayed in the UI in `about` and `history` sections are not available over REST endpoints. This feature request is for providing a REST endpoint called  `appinfo`. This is required for supporting single-page application front-ends.

[2020-06-30 14:06] stitakis commented on #373
@segator the `cd_users` groups does not exists yet. The idea is to create it in `crowd` o `AD` and thanks directory synchronization would be available in `bitbucket`. Would this work?

[2020-06-30 18:59] #487 closed

[2020-07-01 07:58] #474 closed

[2020-07-01 07:59] #490 closed

[2020-07-01 11:29] #175 closed

[2020-07-01 11:29] #465 closed

[2020-07-02 08:00] stitakis opened #495 "numbers in project name causes project provision to fail"
This is a regression issue not captured by unit test.
Since #494 project provision fails because the name is validated as invalid due to numbers in the name.

[2020-07-02 08:02] stitakis commented on #495
@michaelsauter to confirm, we want to support numbers in component names, right? Numbers in between or at end of component should be allowed but not at beginning, right?

[2020-07-02 09:16] michaelsauter commented on #495
Sorry, are we talking project or component names? I am not sure now which one you are referring to.

For component names: from what I understand, e.g. Angular does not like numbers at the end in names. I'm ok with just preventing this problem, but I think regexes are hard to communicate and often cause more problems. Which is why I think just preventing all numbers is not a bad idea either.

For p

[2020-07-02 09:19] stitakis commented on #495
@michaelsauter my bad... I'm referring to project names (not component names). I'll fix by allowing numbers to be included in the project name.

[2020-07-02 10:57] #489 closed

[2020-07-02 10:59] #495 closed

[2020-07-02 20:48] sino92 opened #498 "Duplicates in `ocp-config/cm.yml`"
Duplicate values under properties

[2020-07-02 21:03] sino92 opened #500 "Configuration doc encourages use of Java 8 not 11"
Prov app has switched to Java 11, `docs/modules/provisioning-app/pages/architecture.adoc` needs an update

[2020-07-03 08:27] #498 closed

[2020-07-03 08:27] #500 closed

[2020-07-03 09:58] #172 closed

[2020-07-06 09:14] michaelsauter opened #503 "Refactor JenkinsPipelineAdapter tests"
See https://github.com/opendevstack/ods-provisioning-app/pull/502#discussion_r450046443

[2020-07-06 15:34] stitakis opened #504 "enable basic auth beside crowd authentication for easy endpoint consumption"
When crowd authentication is enabled REST API calls need to include cookies like session id and crowd session key.
To get this cookies an "authentication" request needs to be done as first request.

This work fine for the front-end communication.
But for the REST API endpoint consumption in integration and test automation scenarios adds a bit of complexity.

Basic Auth will provide an easier way t

[2020-07-06 15:36] stitakis commented on #504
@clemensutschig @georgfedermann fyi... PR will be ready I hope before lunch tomorrow

[2020-07-06 15:48] stitakis commented on #151
@segator
I making progress on this... new projects will be associated to a specific permission scheme.
This will happen if for a given project type the permission scheme name is configured in the properties file.
This will allow to reuse global permission schemes in Jira.

Question, in case that the special permissions is set, do we need to add the groups defined in that set in the global permissi

[2020-07-07 07:10] segator commented on #151
awesome news :)
if  special permissions are set, users will be asigned as role binding instead of hardcoded in the permission scheme.
The main issue is depepeding of the permission scheme configured you will have diferent role names, so in the properties you will also need a mapping admin=roleNameA , member = roleNameB or something like that

[2020-07-07 12:35] borja44 opened #521 "Release manager failure for components starting with 'dev' due to tailor content replacing"
### **Describe the bug**

When we use the Release Manager to deploy the exported Openshift configuration file template.yml is wrong due to the name of the application we would like to deploy.

### **To Reproduce**
Steps to reproduce the behavior:

### **Wrong example "current behaviour":****
[code]

Check line starting with:
app:

### Expected behavior Example:**

[code]
Check line starting with:

[2020-07-07 14:46] stitakis commented on #151
@segator can you please add more details about ```...so in the properties you will also need a mapping admin=roleNameA , member = roleNameB or something like that...```
I'm trying to figure out what to do if special permissions are set? E.g. for the `projectadminGroup: ADMIN_GROUP`, do we need to this group to the global permission scheme? If yes, to which permission in that scheme this group need

[2020-07-09 06:32] #504 closed

[2020-07-09 09:00] stitakis opened #507 "Disable cleanup by default"
Currently cleanup of incomplete project is enabled by default.
Due to bugs this has caused problems in productive environment.
A better approach would be to disable this by default and explicity enable it by configuration.

[2020-07-09 10:31] #507 closed

[2020-07-09 12:28] stitakis opened #509 "add basic auth and pre flight checks documentation"
Basic Auth and Pre Flight Checks documentation are missing.

[2020-07-13 06:25] #509 closed

[2020-07-13 09:50] clemensutschig opened #512 "HTTP DELETE /project endpoint functionally not working"
**Describe the bug**
deleting a project thru the prov app api - does delete the atlassian components - BUT not the OCP ones

**To Reproduce**
1. create a new project thru the provision app
1. try to delete it thru the api (HTTP DELETE and pass the ID as path param)
1. take ta look into ods jenkins - no delete jenkins job started, but rather a create job - which is totally wrong

**Expected behavio